interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/files/folder%2Fhello-world.txt?ref=5716de23
  response:
    body: {string: '{"file_name":"hello-world.txt","file_path":"folder/hello-world.txt","size":12,"encoding":"base64","content_sha256":"a948904f2f0f479b8f8197694b30184b0d2ed1c1cd2a1ec0fb85d299a192a447","ref":"5716de23","blob_id":"3b18e512dba79e4c8300dd08aeb37f8e728b8dad","commit_id":"5716de23b27020419d1a40dd93b469c041a1eeef","last_commit_id":"5716de23b27020419d1a40dd93b469c041a1eeef","content":"aGVsbG8gd29ybGQK"}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Tue, 06 Nov 2018 05:37:40 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['396']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"759767a41423c19[...]
