interactions:
- request:
    body: '{"body": "Hello world number 2"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes/113977323
  response:
    body: {string: '{"id":113977323,"type":null,"body":"Hello world number 2","attachment":null,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov"},"created_at":"2018-11-02T05:25:09.363Z","updated_at":"2018-11-02T05:25:53.612Z","system":false,"noteable_id":59639,"noteable_type":"MergeRequest","resolvable":false,"noteable_iid":1}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Fri, 02 Nov 2018 05:25:53 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['480']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"30094dfa7e43a90a8f05a73e82200a64"]
    - !!python/tuple
      - Vary
      - [Origin]
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Request-Id
      - [99818e41-33b5-414c-83cd-81026caa367c]
    - !!python/tuple
      - X-Runtime
      - ['0.084227']
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000]
    - !!python/tuple
      - Ratelimit-Limit
      - ['600']
    - !!python/tuple
      - Ratelimit-Observed
      - ['2']
    - !!python/tuple
      - Ratelimit-Remaining
      - ['598']
    - !!python/tuple
      - Ratelimit-Reset
      - ['1541136413']
    - !!python/tuple
      - Ratelimit-Resettime
      - ['Sat, 02 Nov 2018 05:26:53 GMT']
    status: {code: 200, message: OK}
    url: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes/113977323
version: 1
