interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/merge_requests?state=opened
  response:
    body: {string: '[{"id":59639,"iid":1,"project_id":187725,"title":"Other branch","description":"","state":"opened","created_at":"2015-03-12T04:40:38.680Z","updated_at":"2018-11-02T05:25:53.623Z","target_branch":"master","source_branch":"other-branch","upvotes":0,"downvotes":0,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov"},"assignee":null,"source_project_id":187725,"target_project_id":187725,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"dd798926730aad14aadf72281204bdb85734fe67","merge_commit_sha":null,"user_notes_count":89,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"web_url":"https://gitlab.com/codecov/ci-repo/merge_requests/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"approvals_before_merge":null}]'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Mon, 05 Nov 2018 19:13:26 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['1084']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"89a964567a1549306cc2fe9aa5c[...]
