interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/user
  response:
    body: {string: !!python/unicode '{"id":3215137,"name":"Infinite Loop","username":"1nf1n1t3l00p","state":"active","avatar_url":"https://secure.gravatar.com/avatar/45037396c3928e53057931410b918291?s=80\u0026d=identicon","web_url":"https://gitlab.com/1nf1n1t3l00p","created_at":"2018-12-01T19:43:16.121Z","bio":null,"location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2018-12-01T19:44:00.908Z","confirmed_at":"2018-12-01T19:43:33.397Z","last_activity_on":"2018-12-01","email":"tjbiii.photo@gmail.com","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2018-12-01T19:44:00.908Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":null,"shared_runners_minutes_limit":null}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['813']
    - !!python/tuple
      - Ratelimit-Remaining
      - ['599']
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000]
    - !!python/tuple
      - Vary
      - [Origin]
    - !!python/tuple
      - X-Request-Id
      - [d8uC2McQpm4]
    - !!python/tuple
      - Ratelimit-Reset
      - ['1543694484']
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Ratelimit-Limit
      - ['600']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Etag
      - [W/"3e22b9679d0652f77389486f025a01dc"]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Date
      - ['Sat, 01 Dec 2018 20:00:24 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Runtime
      - ['0.021925']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Ratelimit-Resettime
      - ['Sun, 01 Dec 2018 20:01:24 GMT']
    - !!python/tuple
      - Ratelimit-Observed
      - ['1']
    status: {code: 200, message: OK}
    url: https://gitlab.com/api/v4/user
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=100
  response:
    body: {string: !!python/unicode '[{"id":4165904,"web_url":"https://gitlab.com/groups/l00p_group_1","name":"My
        Awesome Group","path":"l00p_group_1","description":"","visibility":"private","lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"My
        Awesome Group","full_path":"l00p_group_1","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":4165905,"web_url":"https://gitlab.com/groups/l00p_group_1/subgroup1","name":"subgroup1","path":"subgroup1","description":"","visibility":"private","lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"My
        Awesome Group / subgroup1","full_path":"l00p_group_1/subgroup1","parent_id":4165904,"ldap_cn":null,"ldap_access":null},{"id":4165907,"web_url":"https://gitlab.com/groups/l00p_group_1/subgroup2","name":"subgroup2","path":"subgroup2","description":"",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/4165904/projects?per_page=50&page=1
  response:
    body: {string: !!python/unicode '[{"id":9715859,"description":"","name":"loop
        proj","name_with_namespace":"My Awesome Group / loop proj","path":"loop-proj","path_with_namespace":"l00p_group_1/loop-proj","created_at":"2018-12-01T19:48:07.749Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:l00p_group_1/loop-proj.git","http_url_to_repo":"https://gitlab.com/l00p_group_1/loop-proj.git","web_url":"https://gitlab.com/l00p_group_1/loop-proj","readme_url":null,"avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-12-01T19:48:07.749Z","namespace":{"id":4165904,"name":"My
        Awesome Group","path":"l00p_group_1","kind":"group","full_path":"l00p_group_1","parent_id":null},"_links":{"self":"https://gitlab.com/api/v4/projects/9715859","issues":"https://gitlab.com/api/v4/projects/9715859/issues","merge_requests":"https://gitlab.com/api/v4/projects/9715859/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/9715859/repository/branches","labels":"https://gitlab.com/api/v4/projects/9715859/labels","events":"https://gitlab.com/api/v4/projects/9715859/events","members":"https://gitlab.com/api/v4/projects/9715859/members"},"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":3215137,"import_status":"none","open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","mirror":false,"external_authorization_classification_label":""}]'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['1820']
    - !!python/tuple
      - X-Request-Id
      - [sahQFoVEyr3]
    - !!python/tuple
      - Ratelimit-Reset
      - ['1543694484']
    - !!python/tuple
      - Etag
      - [W/"b98d36443ddf2b24c29a6320bbac5876"]
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Ratelimit-Remaining
      - ['597']
    - !!python/tuple
  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/88891
  response:
    body: {string: !!python/unicode '{"id":88891,"description":"flake8 is a python
        tool that glues together pep8, pyflakes, mccabe, and third-party plugins to
        check the style and quality of some python code.","name":"flake8","name_with_namespace":"PyCQA
        / flake8","path":"flake8","path_with_namespace":"pycqa/flake8","created_at":"2014-09-13T13:30:20.102Z","d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects?owned=true&per_page=50&page=1
  response:
    body: {string: !!python/unicode '[{"id":9715886,"description":"flake8 is a python
        tool that glues together pep8, pyflakes, mccabe, and third-party plugins to
        check the style and quality of some python code.","name":"flake8","name_with_namespace":"My
        Awesome Group / subgroup2 / flake8","path":"flake8","path_with_namespace":"l00p_g[...]
[...]
