interactions:
- request:
    body: '{"url": "http://requestbin.net/r/1ecyaj51", "enable_ssl_verification":
      true, "job_events": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/187725/hooks
  response:
    body: {string: '{"id":422507,"url":"http://requestbin.net/r/1ecyaj51","created_at":"2018-11-06T04:51:57.164Z","push_events":true,"tag_push_events":false,"merge_requests_events":false,"repository_update_events":false,"enable_ssl_verification":true,"project_id":187725,"issues_events":false,"confidential_issues_events":false,"note_events":false,"confidential_note_events":null,"pipeline_events":false,"wiki_page_events":false,"job_events":true,"push_events_branch_filter":null}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Tue, 06 Nov 2018 04:51:57 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['460']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"9f33e8b2ea308e14bcd19be87f43d094"]
    - !!python/tuple
      - Vary
      - [Origin]
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Request-Id
      - [eed21ba3-1044-4fdf-9696-2cf8de8b2756]
    - !!python/tuple
      - X-Runtime
      - ['0.066501']
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000]
    - !!python/tuple
      - Ratelimit-Limit
      - ['600']
    - !!python/tuple
      - Ratelimit-Observed
      - ['1']
    - !!python/tuple
      - Ratelimit-Remaining
      - ['599']
    - !!python/tuple
      - Ratelimit-Reset
      - ['1541479977']
    - !!python/tuple
      - Ratelimit-Resettime
      - ['Wed, 06 Nov 2018 04:52:57 GMT']
    status: {code: 201, message: Created}
    url: https://gitlab.com/api/v4/projects/187725/hooks
version: 1
