interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=96492d409fc86aa7ae31b214dfe6b08ae860458a
  response:
    content: '{"name":"__init__.py","path":"awesome/__init__.py","sha":"4d34acc61e7abe5536c84fec4fe9fd9b26311cc7","size":59,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=96492d409fc86aa7ae31b214dfe6b08ae860458a","html_url":"https://github.com/ThiagoCodecov/example-python/blob/96492d409fc86aa7ae31b214dfe6b08ae860458a/awesome/__init__.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/4d34acc61e7abe5536c84fec4fe9fd9b26311cc7","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/96492d409fc86aa7ae31b214dfe6b08ae860458a/awesome/__init__.py","type":"file","content":"ZGVmIHNtaWxlKCk6CiAgICByZXR1cm4gIjopIgoKZGVmIGZyb3duKCk6CiAg\nICByZXR1cm4gIjooIgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=96492d409fc86aa7ae31b214dfe6b08ae860458a","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/4d34acc61e7abe5536c84fec4fe9fd9b26311cc7","html":"https://github.com/ThiagoCodecov/example-python/blob/96492d409fc86aa7ae31b214dfe6b08ae860458a/awesome/__init__.py"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4d34acc61e7abe5536c84fec4fe9fd9b26311cc7"
      Last-Modified:
      - Mon, 22 Sep 2014 20:24:04 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4929'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '71'
    status_code: 200
version: 1
