interactions:
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "codecov", "repo": "codecov-api", "pr_number": 285}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":285,"title":"chore: Switch
      to Python 3.12","author":{"login":"FraBle","databaseId":1584268},"labels":{"nodes":[]},"state":"CLOSED","mergeCommit":null,"baseRefOid":"109eea9a085f5856a20ae5f1714b8c4786c3327b","baseRefName":"main","baseRepository":{"name":"codecov-api","owner":{"login":"codecov"}},"headRefOid":"67a44e176ffd419f066c1cc34cff391e2a1304e2","headRefName":"python-3-12","headRepository":{"name":"codecov-api","owner":{"login":"FraBle"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '1728468768'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '6'
      github-authentication-token-expiration:
      - 2024-10-16 09:11:54 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api/pulls/285/commits?page=1&per_page=100
  response:
    content: '[{"sha":"24732c7c43912738228b2509fe73fa0b94255440","node_id":"C_kwDOKzQSctoAKDI0NzMyYzdjNDM5MTI3MzgyMjhiMjUwOWZlNzNmYTBiOTQyNTU0NDA","commit":{"author":{"name":"Frank
      Blechschmidt","email":"frank.blechschmidt@lattice.com","date":"2023-12-01T23:19:54Z"},"committer":{"name":"Frank
      Blechschmidt","email":"frank.blechschmidt@lattice.com","date":"2023-12-01T23:19:54Z"},"message":"chore:
      Switch to Python 3.12","tree":{"sha":"0c5669987c62f010dfbded5d7e691b3a6fbb0e3b","url":"https://api.github.com/repos/codecov/codecov-api/git/trees/0c5669987c62f010dfbded5d7e691b3a6fbb0e3b"},"url":"https://api.github.com/repos/codecov/codecov-api/git/commits/24732c7c43912738228b2509fe73fa0b94255440","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\niHUEABYIAB0WIQSVjuhupFplVZZQvEi9MqB215bO9AUCZWpqGgAKCRC9MqB215bO\n9B9dAPsEc1epSl3Txv+A0/768ZmtbW+IoCKNIngtD99zJQuHMAEAykNO+OoEeWWC\nJGSAA3psVhbfTq0mZg1hbwUjI0J2tQE=\n=zVJX\n-----END
      PGP SIGNATURE-----","payload":"tree 0c5669987c62f010dfbded5d7e691b3a6fbb0e3b\nparent
      109eea9a085f5856a20ae5f1714b8c4786c3327b\nauthor Frank Blechschmidt <frank.blechschmidt@lattice.com>
      1701472794 -0800\ncommitter Frank Blechschmidt <frank.blechschmidt@lattice.com>
      1701472794 -0800\n\nchore: Switch to Python 3.12\n"}},"url":"https://api.github.com/repos/codecov/codecov-api/commits/24732c7c43912738228b2509fe73fa0b94255440","html_url":"https://github.com/codecov/codecov-api/commit/24732c7c43912738228b2509fe73fa0b94255440","comments_url":"https://api.github.com/repos/codecov/codecov-api/commits/24732c7c43912738228b2509fe73fa0b94255440/comments","author":{"login":"FraBle","id":1584268,"node_id":"MDQ6VXNlcjE1ODQyNjg=","avatar_url":"https://avatars.githubusercontent.com/u/1584268?v=4","gravatar_id":"","url":"https://api.github.com/users/FraBle","html_url":"https://github.com/FraBle","followers_url":"https://api.github.com/users/FraBle/followers","following_url":"https://api.github.com/users/FraBle/following{/other_user}","gists_url":"https://api.github.com/users/FraBle/gists{/gist_id}","starred_url":"https://api.github.com/users/FraBle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FraBle/subscriptions","organizations_url":"https://api.github.com/users/FraBle/orgs","repos_url":"https://api.github.com/users/FraBle/repos","events_url":"https://api.github.com/users/FraBle/events{/privacy}","received_events_url":"https://api.github.com/users/FraBle/received_events","type":"User","site_admin":false},"committer":{"login":"FraBle","id":1584268,"node_id":"MDQ6VXNlcjE1ODQyNjg=","avatar_url":"https://avatars.githubusercontent.com/u/1584268?v=4","gravatar_id":"","url":"https://api.github.com/users/FraBle","html_url":"https://github.com/FraBle","followers_url":"https://api.github.com/users/FraBle/followers","following_url":"https://api.github.com/users/FraBle/following{/other_user}","gists_url":"https://api.github.com/users/FraBle/gists{/gist_id}","starred_url":"https://api.github.com/users/FraBle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FraBle/subscriptions","organizations_url":"https://api.github.com/users/FraBle/orgs","repos_url":"https://api.github.com/users/FraBle/repos","events_url":"https://api.github.com/users/FraBle/events{/privacy}","received_events_url":"https://api.github.com/users/FraBle/received_events","type":"User","site_admin":false},"parents":[{"sha":"109eea9a085f5856a20ae5f1714b8c4786c3327b","url":"https://api.github.com/repos/codecov/codecov-api/commits/109eea9a085f5856a20ae5f1714b8c4786c3327b","html_url":"https://github.com/codecov/codecov-api/commit/109eea9a085f5856a20ae5f1714b8c4786c3327b"}]},{"sha":"67a44e176ffd419f066c1cc34cff391e2a1304e2","node_id":"C_kwDOKzQSctoAKDY3YTQ0ZTE3NmZmZDQxOWYwNjZjMWNjMzRjZmYzOTFlMmExMzA0ZTI","commit":{"author":{"name":"Frank
      Blechschmidt","email":"frank.blechschmidt@lattice.com","date":"2023-[...]
