interactions:
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "ThiagoCodecov", "repo": "example-python", "pr_number":
      1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":1,"title":"Creating new
      code for reasons no one knows","author":{"login":"ThiagoCodecov","databaseId":44376991},"labels":{"nodes":[]},"state":"MERGED","mergeCommit":{"oid":"038ac8ac2127baa19a927c67f0d5168d9928abf3"},"baseRefOid":"68946ef98daec68c7798459150982fc799c87d85","baseRefName":"master","baseRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}},"headRefOid":"119c1907fb266f374b8440bbd70dccbea54daf8f","headRefName":"reason/some-testing","headRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4992'
      X-RateLimit-Reset:
      - '1728474335'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '8'
      github-authentication-token-expiration:
      - 2024-10-16 09:11:54 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits?page=1&per_page=100
  response:
    content: '[{"sha":"587662b6e5403ae0d126e0c7839a8d98382c4760","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjU4NzY2MmI2ZTU0MDNhZTBkMTI2ZTBjNzgzOWE4ZDk4MzgyYzQ3NjA=","commit":{"author":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2018-11-07T22:43:54Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-07-10T20:34:45Z"},"message":"Creating
      new code for reasons no one knows","tree":{"sha":"ec56802a37b981f13bdc3c9a56ae68ef82ab424a","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/ec56802a37b981f13bdc3c9a56ae68ef82ab424a"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/587662b6e5403ae0d126e0c7839a8d98382c4760","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/587662b6e5403ae0d126e0c7839a8d98382c4760","html_url":"https://github.com/ThiagoCodecov/example-python/commit/587662b6e5403ae0d126e0c7839a8d98382c4760","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/587662b6e5403ae0d126e0c7839a8d98382c4760/comments","author":null,"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"68946ef98daec68c7798459150982fc799c87d85","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/68946ef98daec68c7798459150982fc799c87d85","html_url":"https://github.com/ThiagoCodecov/example-python/commit/68946ef98daec68c7798459150982fc799c87d85"}]},{"sha":"03a8b737cb9d8585076ebdbac7b7235c8da0620d","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjAzYThiNzM3Y2I5ZDg1ODUwNzZlYmRiYWM3YjcyMzVjOGRhMDYyMGQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","da[...]
