interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome?ref=master
  response:
    body:
      string: '[{"name":"__init__.py","path":"awesome/__init__.py","sha":"671066bdcc3116406b3b64244f8bbcf8580e03d9","size":336,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/master/awesome/__init__.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/671066bdcc3116406b3b64244f8bbcf8580e03d9","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/master/awesome/__init__.py","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=master","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/671066bdcc3116406b3b64244f8bbcf8580e03d9","html":"https://github.com/ThiagoCodecov/example-python/blob/master/awesome/__init__.py"}},{"name":"code_fib.py","path":"awesome/code_fib.py","sha":"db1d30faae577112d552b3b0edc5bb36c836cbae","size":125,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/master/awesome/code_fib.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/db1d30faae577112d552b3b0edc[...]
