interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15","id":350683791,"node_id":"MDExOlB1bGxSZXF1ZXN0MzUwNjgzNzkx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/15","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/15.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/15.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15","number":15,"state":"closed","locked":true,"title":"Thiago/test
      1","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-12-09T12:19:01Z","updated_at":"2023-07-04T15:10:22Z","closed_at":"2020-03-24T22:04:05Z","merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/2e2600aa09525e2e1e1d98b09de61454d29c94bb","head":{"label":"ThiagoCodecov:thiago/test-1","ref":"thiago/test-1","sha":"2e2600aa09525e2e1e1d98b09de61454d29c94bb","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments","created_at":"2018-11-07T22:40:20Z","updated_at":"2023-07-04T20:51:23Z","pushed_at":"2022-08-17T20:09:02Z","git_url":"git://github.com/ThiagoCodecov/example-python.git","ssh_url":"git@github.com:ThiagoCodecov/example-python.git","clone_url":"https://github.com/ThiagoCodecov/example-python.git","svn_url":"https://github.com/ThiagoCodecov/example-python","homepage":"https://codecov.io","size":178,"stargazers_count":0,"watchers_count":0,"language":"Shell","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":3,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":3,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"ThiagoCodecov:master","ref":"master","sha":"d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/o[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits?page=3&per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a20ff71ece9649384768ca03ee284519e9552357700b0ef7c43cdee37866531e"'
      Last-Modified:
      - Fri, 01 Sep 2023 11:48:40 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1693851376'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '13'
      github-authentication-token-expiration:
      - 2023-09-11 17:05:55 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits?page=1&per_page=100
  response:
    content: '[{"sha":"e022f588e40269f8ab1c568080dc4a7662ff2335","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmUwMjJmNTg4ZTQwMjY5ZjhhYjFjNTY4MDgwZGM0YTc2NjJmZjIzMzU=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-09T12:17:44Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-09T12:17:44Z"},"message":"69E76A1D-FD86-4A90-A6CE-6A66BEEE75CA","tree":{"sha":"6188b6c086ebf6c63626abca649d2596b145c84c","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/6188b6c086ebf6c63626abca649d2596b145c84c"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/e022f588e40269f8ab1c568080dc4a7662ff2335","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e022f588e40269f8ab1c568080dc4a7662ff2335","html_url":"https://github.com/ThiagoCodecov/example-python/commit/e022f588e40269f8ab1c568080dc4a7662ff2335","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e022f588e40269f8ab1c568080dc4a7662ff2335/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/4[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits?page=2&per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a20ff71ece9649384768ca03ee284519e9552357700b0ef7c43cdee37866531e"'
      Last-Modified:
      - Fri, 01 Sep 2023 11:48:40 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1693851376'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
      github-authentication-token-expiration:
      - 2023-09-11 17:05:55 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
