interactions:
- request:
    body: '{"query": "\nquery {\n    viewer {\n        repositories(\n            ownerAffiliations:
      [OWNER, COLLABORATOR, ORGANIZATION_MEMBER]\n            affiliations: [OWNER,
      COLLABORATOR, ORGANIZATION_MEMBER]\n        ) {\n            totalCount\n        }\n    }\n}\n"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"viewer":{"repositories":{"totalCount":146}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - admin:org, repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1695411370'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2023-09-23 22:46:17 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/repos?page=2&per_page=50
  response:
    content: '[{"id":139983834,"node_id":"MDEwOlJlcG9zaXRvcnkxMzk5ODM4MzQ=","name":"license","full_name":"codecov/license","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codecov/license","description":null,"fork":false,"url":"https://api.github.com/repos/codecov/license","forks_url":"https://api.github.com/repos/codecov/license/forks","keys_url":"https://api.github.com/repos/codecov/license/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecov/license/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecov/license/teams","hooks_url":"https://api.github.com/repos/codecov/license/hooks","issue_events_url":"https://api.github.com/repos/codecov/license/issues/events{/number}","events_url":"https://api.github.com/repos/codecov/license/events","assignees_url":"https://api.github.com/repos/codecov/license/assignees{/user}","branches_url":"https://api.github.com/repos/codecov/license/branches{/branch}","tags_url":"https://api.github.com/repos/codecov/license/tags","blobs_url":"https://api.github.com/repos/codecov/license/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecov/license/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecov/license/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecov/license/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecov/license/statuses/{sha}","languages_url":"https://api.github.com/repos/codecov/license/languages","stargazers_url":"https://api.github.com/repos/codecov/license/stargazers","contributors_url":"https://api.github.com/repos/codecov/license/contributors","subscribers_url":"https://api.github.com/repos/codecov/license/subscribers","subscription_url":"https://api.github.com/repos/codecov/license/subscription","commits_url":"https://api.github.com/repos/codecov/license/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecov/license/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecov/license/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecov/license/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecov/license/contents/{+path}","compare_url":"https://api.github.com/repos/codecov/license/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecov/license/merges","archive_url":"https://api.github.com/repos/codecov/license/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecov/license/downloads","issues_url":"https://api.github.com/repos/codecov/license/issues{/number}","pulls_url":"https://api.github.com/repos/codecov/license/pulls{/number}","milestones_url":"https://api.github.com/repos/codecov/license/milestones{/number}","notifications_url":"https://api.github.com/repos/codecov/license/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecov/license/labels{/name}","releases_url":"https://api.github.com/repos/codecov/license/releases{/id}","deployments_url":"https://api.github.com/repos/codecov/license/deployments","created_at":"2018-07-06T12:45:08Z","updated_at":"2021-03-10T20:07:30Z","pushed_at":"2021-03-10T20:24:42Z","git_url":"git://github.com/codecov/license.git","ssh_url":"git@github.com:codecov/license.git","clone_url":"https://github.com/codecov/license.git","svn_url":"https://github.com/codecov/license","homepage":"","size":18,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":347827402,"node_id":"MDEwOlJlcG9zaXRvcnkzNDc4Mjc0MDI=","name":"licenseapp","full_name":"codecov/licenseapp","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users[...]
[...]
