interactions:
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "codecove2e", "repo": "example-python", "pr_number":
      100}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":null}},"errors":[{"type":"NOT_FOUND","path":["repository","pullRequest"],"locations":[{"line":3,"column":9}],"message":"Could
      not resolve to a PullRequest with the number of 100."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1728467272'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '1'
    status_code: 200
version: 1
