interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065/branches-where-head
  response:
    content: '[{"name":"thiago/base-no-base","commit":{"sha":"75f355d8d14ba3d7761c728b4d2607cde0eef065","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065"},"protected":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cba07981f12c7f723ba1ee3adb1cc867eb06b174da9165f37dbefc2dafe7cff6"
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.groot-preview; format=json
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1602718640'
      X-RateLimit-Used:
      - '4'
    status_code: 200
version: 1
