interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=master
  response:
    body: {string: '[{"name":".gitignore","path":".gitignore","sha":"1fcca431de28a9ec694a82a2b058f4eb18b55df9","size":1695,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/master/.gitignore","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/1fcca431de28a9ec694a82a2b058f4eb18b55df9","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=master","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/1fcca431de28a9ec694a82a2b058f4eb18b55df9","html":"https://github.com/ThiagoCodecov/example-python/blob/master/.gitignore"}},{"name":".travis.yml","path":".travis.yml","sha":"11d295c04e2feac0a533bf5b1df52b84f8076eec","size":144,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.travis.yml?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/master/.travis.yml","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/11d295c04e2feac0a533bf5b1df52b84f8076eec","download_url":"ht[...]
