interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/app/hook/deliveries?per_page=50
  response:
    content: '[{"id":17324040107,"guid":"53c93580-7a6e-11ed-96c9-5e1ce3e5574e","delivered_at":"2022-12-12T22:42:59Z","redelivery":false,"duration":0.37,"status":"OK","status_code":200,"event":"installation_repositories","action":"added","installation_id":null,"repository_id":null,"url":""},{"id":17324018336,"guid":"40d7f830-7a6e-11ed-8b90-0777e88b1858","delivered_at":"2022-12-12T22:42:30Z","redelivery":false,"duration":2.31,"status":"OK","status_code":200,"event":"installation_repositories","action":"removed","installation_id":null,"repository_id":null,"url":""},{"id":17324018291,"guid":"40ca1490-7a6e-11ed-967d-29986a5a51d7","delivered_at":"2022-12-12T22:42:29Z","redelivery":false,"duration":2.31,"status":"OK","status_code":200,"event":"installation_repositories","action":"add[...]
