interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=bbd20d8f42ac7cfa0b5b91087847d0b3620ac3ee+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    content: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18","repository_url":"https://api.github.com/repos/ThiagoCodecov/example-python","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/labels{/name}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/comments","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/events","html_url":"https://github.com/ThiagoCodecov/example-python/pull/18","id":575148804,"node_id":"MDExOlB1bGxSZXF1ZXN0MzgzMzQ4Nzc1","number":18,"title":"Thiago/base
      no base","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":2,"created_at":"2020-03-04T05:32:53Z","updated_at":"2020-10-30T15:41:34Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18","html_url":"https://github.com/ThiagoCodecov/example-python/pull/18","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/18.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/18.patch"},"body":"","performed_via_github_app":null,"score":1.0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, workflow, write:discussion
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1615422598'
      X-RateLimit-Used:
      - '1'
    status_code: 200
version: 1
