interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/compare/main...0206296b1424912cc05069a9bf4025cbb95f5ecc
  response:
    content: '{"url":"https://api.github.com/repos/codecove2e/example-python/compare/main...0206296b1424912cc05069a9bf4025cbb95f5ecc","html_url":"https://github.com/codecove2e/example-python/compare/main...0206296b1424912cc05069a9bf4025cbb95f5ecc","permalink_url":"https://github.com/codecove2e/example-python/compare/codecove2e:93189ce...codecove2e:0206296","diff_url":"https://github.com/codecove2e/example-python/compare/main...0206296b1424912cc05069a9bf4025cbb95f5ecc.diff","patch_url":"https://github.com/codecove2e/example-python/compare/main...0206296b1424912cc05069a9bf4025cbb95f5ecc.patch","base_commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","node_id":"MDY6Q29tbWl0NTE1Mjk1ODU4OjkzMTg5Y2U1MGYyMjQyOTZkNjQxMmUyODg0YjkzZGNjM2M3Yzg2NTQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"message":"Adding
      some encoding","tree":{"sha":"966e4dc888b0828c5dea75f21e82eb2daa9a4485","url":"https://api.github.com/repos/codecove2e/example-python/git/trees/966e4dc888b0828c5dea75f21e82eb2daa9a4485"},"url":"https://api.github.com/repos/codecove2e/example-python/git/commits/93189ce50f224296d6412e2884b93dcc3c7c8654","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codecove2e/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654","html_url":"https://github.com/codecove2e/example-python/commit/93189ce50f224296d6412e2884b93dcc3c7c8654","comments_url":"https://api.github.com/repos/codecove2e/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"6f87a6bba8b0151bb78064a0dba9fa4f13b76a67","url":"https://api.github.com/repos/codecove2e/example-python/commits/6f87a6bba8b0151bb78064a0dba9fa4f13b76a67","html_url":"https://github.com/codecove2e/example-python/commit/6f87a6bba8b0151bb78064a0dba9fa4f13b76a67"}]},"merge_base_commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","node_id":"MDY6Q29tbWl0NTE1Mjk1ODU4OjkzMTg5Y2U1MGYyMjQyOTZkNjQxMmUyODg0YjkzZGNjM2M3Yzg2NTQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"message":"Adding
      some encoding","tree":{"sha":"966e4dc888b0828c5dea75f21e82eb2daa9a4485","url":"https://api.github.com/repos/codecove2e/example[...]
