interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/worker/commits/0c71264642a03372df1534704f34d6a2242fdf2c/check-suites
  response:
    body:
      string: "{\"total_count\":1,\"check_suites\":[{\"id\":734165241,\"node_id\":\"MDEwOkNoZWNrU3VpdGU3MzQxNjUyNDE=\",\"head_branch\"\
        :\"fb_message_mixin\",\"head_sha\":\"0c71264642a03372df1534704f34d6a2242fdf2c\"\
        ,\"status\":\"queued\",\"conclusion\":null,\"url\":\"https://api.github.com/repos/codecov/worker/check-suites/734165241\"\
        ,\"before\":\"0000000000000000000000000000000000000000\",\"after\":\"0c71264642a03372df1534704f34d6a2242fdf2c\"\
        ,\"pull_requests\":[],\"app\":{\"id\":9795,\"slug\":\"codecov-development\"\
        ,\"node_id\":\"MDM6QXBwOTc5NQ==\",\"owner\":{\"login\":\"codecov\",\"id\"\
        :8226205,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\",\"avatar_url\":\"\
        https://avatars3.githubusercontent.com/u/8226205?v=4\",\"gravatar_id\":\"\"\
        ,\"url\":\"https://api.github.com/users/codecov\",\"html_url\":\"https://github.com/codecov\"\
        ,\"followers_url\":\"https://api.github.com/users/codecov/followers\",\"following_url\"\
        :\"https://api.github.com/users/codecov/following{/other_user}\",\"gists_url\"\
        :\"https://api.github.com/users/codecov/gists{/gist_id}\",\"starred_url\"\
        :\"https://api.github.com/users/codecov/starred{/owner}{/repo}\",\"subscriptions_url\"\
        :\"https://api.github.com/users/codecov/subscriptions\",\"organizations_url\"\
        :\"https://api.github.com/users/codecov/orgs\",\"repos_url\":\"https://api.github.com/users/codecov/repos\"\
        ,\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\"\
        ,\"received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
        ,\"type\":\"Organization\",\"site_admin\":false},\"name\":\"Codecov - Development\"\
        ,\"description\":\"\",\"external_url\":\"https://codecov.io\",\"html_url\"\
        :\"https://github.com/apps/codecov-development\",\"created_at\":\"2018-03-07T16:53:38Z\"\
        ,\"updated_at\":\"2019-05-13T23:46:55Z\",\"permissions\":{\"administration\"\
        :\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"\
        write\",\"issues\":\"write\",\"members\":\"write\",\"metadata\":\"read\",\"\
        organization_projects\":\"write\",\"pages\":\"write\",\"pull_requests\":\"\
        write\",\"repository_projects\":\"write\",\"statuses\":\"write\",\"team_discussions\"\
        :\"write\"},\"events\":[]},\"created_at\":\"2020-05-29T17:19:34Z\",\"updated_at\"\
        :\"2020-05-29T17:19:34Z\",\"latest_check_runs_count\":0,\"check_runs_url\"\
        :\"https://api.github.com/repos/codecov/worker/check-suites/734165241/check-runs\"\
        ,\"head_commit\":{\"id\":\"0c71264642a03372df1534704f34d6a2242fdf2c\",\"tree_id\"\
        :\"d11e0eb1647a4459d9b441ac23be9acf55ea10a1\",\"message\":\"Added Message\
        \ Mixin\",\"timestamp\":\"2020-05-29T17:19:21Z\",\"author\":{\"name\":\"Felipe\
        \ Ballesteros\",\"email\":\"felipe@codecov.io\"},\"committer\":{\"name\":\"\
        Felipe Ballesteros\",\"email\":\"felipe@codecov.io\"}},\"repository\":{\"\
        id\":157271496,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTcyNzE0OTY=\",\"name\":\"\
        worker\",\"full_name\":\"codecov/worker\",\"private\":true,\"owner\":{\"login\"\
        :\"codecov\",\"id\":8226205,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\"\
        ,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/8226205?v=4\",\"\
        gravatar_id\":\"\",\"url\":\"https://api.github.com/users/codecov\",\"html_url\"\
        :\"https://github.com/codecov\",\"followers_url\":\"https://api.github.com/users/codecov/followers\"\
        ,\"following_url\":\"https://api.github.com/users/codecov/following{/other_user}\"\
        ,\"gists_url\":\"https://api.github.com/users/codecov/gists{/gist_id}\",\"\
        starred_url\":\"https://api.github.com/users/codecov/starred{/owner}{/repo}\"\
        ,\"subscriptions_url\":\"https://api.github.com/users/codecov/subscriptions\"\
        ,\"organizations_url\":\"https://api.github.com/users/codecov/orgs\",\"repos_url\"\
        :\"https://api.github.com/users/codecov/repos\",\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\"\
        ,\"received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
        ,\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/codecov/worker\"\
        ,\"description\":\"Code for Background Workers of Codecov\",\"fork\":false,\"\
        url\":\"https://api.github.com/repos/codecov/worker\",\"forks_url\":\"https://api.github.com/repos/codecov/worker/forks\"\
        ,\"keys_url\":\"https://api.github.com/repos/codecov/worker/keys{/key_id}\"\
        ,\"collaborators_url\":\"https://api.github.com/repos/codecov/worker/collaborators{/collaborator}\"\
        ,\"teams_url\":\"https://api.github.com/repos/codecov/worker/teams\",\"hooks_url\"\
        :\"https://api.github.com/repos/codecov/worker/hooks\",\"issue_events_url\"\
        :\"https://api.github.com/repos/codecov/worker/issues/events{/number}\",\"\
        events_url\":\"https://api.github.com/repos/codecov/worker/events\",\"assignees_url\"\
        :\"https://api.github.com/repos/codecov/worker/assignees{/user}\",\"branches_url\"\
        :\"https://api.github.com/repos/codecov/worker/branches{/branch}\",\"tags_url\"\
        :\"https://api.github.com/repos/codecov/worker/tags\",\"blobs_url\":\"https://api.github.com/repos/codecov/worker/git/blobs{/sha}\"\
        ,\"git_tags_url\":\"https://api.github.com/repos/codecov/worker/git/tags{/sha}\"\
        ,\"git_refs_url\":\"https://api.github.com/repos/codecov/worker/git/refs{/sha}\"\
        ,\"trees_url\":\"https://api.github.com/repos/codecov/worker/git/trees{/sha}\"\
        ,\"statuses_url\":\"https://api.github.com/repos/codecov/worker/statuses/{sha}\"\
        ,\"languages_url\":\"https://api.github.com/repos/codecov/worker/languages\"\
        ,\"stargazers_url\":\"https://api.github.com/repos/codecov/worker/stargazers\"\
        ,\"contributors_url\":\"https://api.github.com/repos/codecov/worker/contributors\"\
        ,\"subscribers_url\":\"https://api.github.com/repos/codecov/worker/subscribers\"\
        ,\"subscription_url\":\"https://api.github.com/repos/codecov/worker/subscription\"\
        ,\"commits_url\":\"https://api.github.com/repos/codecov/worker/commits{/sha}\"\
        ,\"git_commits_url\":\"https://api.github.com/repos/codecov/worker/git/commits{/sha}\"\
        ,\"comments_url\":\"https://api.github.com/repos/codecov/worker/comments{/number}\"\
        ,\"issue_comment_url\":\"https://api.github.com/repos/codecov/worker/issues/comments{/number}\"\
        ,\"contents_url\":\"https://api.github.com/repos/codecov/worker/contents/{+path}\"\
        ,\"compare_url\":\"https://api.github.com/repos/codecov/worker/compare/{base}...{head}\"\
        ,\"merges_url\":\"https://api.github.com/repos/codecov/worker/merges\",\"\
        archive_url\":\"https://api.github.com/repos/codecov/worker/{archive_format}{/ref}\"\
        ,\"downloads_url\":\"https://api.github.com/repos/codecov/worker/downloads\"\
        ,\"issues_url\":\"https://api.github.com/repos/codecov/worker/issues{/number}\"\
        ,\"pulls_url\":\"https://api.github.com/repos/codecov/worker/pulls{/number}\"\
        ,\"milestones_url\":\"https://api.github.com/repos/codecov/worker/milestones{/number}\"\
        ,\"notifications_url\":\"https://api.github.com/repos/codecov/worker/notifications{?since,all,participating}\"\
        ,\"labels_url\":\"https://api.github.com/repos/codecov/worker/labels{/name}\"\
        ,\"releases_url\":\"https://api.github.com/repos/codecov/worker/releases{/id}\"\
        ,\"deployments_url\":\"https://api.github.com/repos/codecov/worker/deployments\"\
        }}]}"
    headers:
    - !!python/tuple
      - X-Http-Reason
      - - OK
    - !!python/tuple
      - Server
      - - GitHub.com
    - !!python/tuple
      - Date
      - - Mon, 08 Jun 2020 20:54:42 GMT
    - !!python/tuple
      - Content-Type
      - - application/json; charset=utf-8
    - !!python/tuple
      - Transfer-Encoding
      - - chunked
    - !!python/tuple
      - Status
      - - 200 OK
    - !!python/tuple
  [...]
