interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/commits/bec77909e0a9b04603d2cdddcba62f99592d6579/pulls
  response:
    content: '[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1","id":999745749,"node_id":"PR_kwDOHrbKcs47lujV","html_url":"https://github.com/codecove2e/example-python/pull/1","diff_url":"https://github.com/codecove2e/example-python/pull/1.diff","patch_url":"https://github.com/codecove2e/example-python/pull/1.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1","number":1,"state":"open","locked":false,"title":"Create
      README.md","user":{"login":"codecove2e","id":93560619,"node_id":"U_kgDOBZOfKw","avatar_url":"https://avatars.githubusercontent.com/u/93560619?v=4","gravatar_id":"","url":"https://api.github.com/users/codecove2e","html_url":"https://github.com/codecove2e","followers_url":"https://api.github.com/users/codecove2e/followers","following_url":"https://api.github.com/users/codecove2e/following{/other_user}","gists_url":"https://api.github.com/users/codecove2e/gists{/gist_id}","starred_url":"https://api.github.com/users/codecove2e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecove2e/subscriptions","organizations_url":"https://api.github.com/users/codecove2e/orgs","repos_url":"https://api.github.com/users/codecove2e/repos","events_url":"https://api.github.com/users/codecove2e/events{/privacy}","received_events_url":"https://api.github.com/users/codecove2e/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-07-18T18:24:01Z","updated_at":"2022-07-18T18:24:01Z","closed_at":null,"merged_at":null,"merge_commit_sha":"f5111b5bbd8afa7911075009d3d6385e175d3494","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/bec77909e0a9b04603d2cdddcba62f99592d6579","head":{"label":"codecove2e:test-branch","ref":"test-branch","sha":"bec77909e0a9b04603d2cdddcba62f99592d6579","user":{"login":"codecove2e","id":93560619,"node_id":"U_kgDOBZOfKw","avatar_url":"https://avatars.githubusercontent.com/u/93560619?v=4","gravatar_id":"","url":"https://api.github.com/users/codecove2e","html_url":"https://github.com/codecove2e","followers_url":"https://api.github.com/users/codecove2e/followers","following_url":"https://api.github.com/users/codecove2e/following{/other_user}","gists_url":"https://api.github.com/users/codecove2e/gists{/gist_id}","starred_url":"https://api.github.com/users/codecove2e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecove2e/subscriptions","organizations_url":"https://api.github.com/users/codecove2e/orgs","repos_url":"https://api.github.com/users/codecove2e/repos","events_url":"https://api.github.com/users/codecove2e/events{/privacy}","received_events_url":"https://api.github.com/users/codecove2e/received_events","type":"User","site_admin":false},"repo":{"id":515295858,"node_id":"R_kgDOHrbKcg","name":"example-python","full_name":"codecove2e/example-python","private":false,"owner":{"login":"codecove2e","id":93560619,"node_id":"U_kgDOBZOfKw","avatar_url":"https://avatars.githubusercontent.com/u/93560619?v=4","gravatar_id":"","url":"https://api.github.com/users/codecove2e","html_url":"https://github.com/codecove2e","followers_url":"https://api.github.com/users/codecove2e/followers","following_url":"https://api.github.com/users/codecove2e/following{/other_user}","gists_url":"https://api.github.com/users/codecove2e/gists{/gist_id}","starred_url":"https://api.github.com/users/codecove2e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecove2e/subscriptions","organizations_url":"https://api.github.com/users/codecove2e/orgs","repos_url":"https://api.github.com/users/codecove2e/repos","events_url":"https://api.github.com/users/codecove2e/events{/privacy}","received_events_url":"https://api.github.com/users/codecove2e/received_events","type":"User","site_admin":false},"html_url":"https://github.com/codecove2e/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/codecove2e/example-python","forks_url":"https://api.github.com/repos/codecove2e/example-python/forks","keys_url":"https://api.github.com/repos/codecove2e/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecove2e/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecove2e/example-python/teams","hooks_url":"https://api.github.com/repos/codecove2e/example-python/hooks","issue_events_url":"https://api.github.com/repos/codecove2e/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/codecove2e/example-python/events","assignees_url":"https://api.github.com/repos/codecove2e/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/codecove2e/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/codecove2e/example-python/tags","blobs_url":"https://api.github.com/repos/codecove2e/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecove2e/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecove2e/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecove2e/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecove2e/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/codecove2e/example-python/languages","stargazers_url":"https://api.github.com/repos/codecove2e/example-python/stargazers","contributors_url":"https://api.github.com/repos/codecove2e/example-python/contributors","subscribers_url":"https://api.github.com/repos/codecove2e/example-python/subscribers","subscription_url":"https://api.github.com/repos/codecove2e/example-python/subscription","commits_url":"https://api.github.com/repos/codecove2e/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecove2e/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecove2e/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecove2e/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecove2e/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/codecove2e/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecove2e/example-python/merges","archive_url":"https://api.github.com/repos/codecove2e/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecove2e/example-python/downloads","issues_url":"https://api.github.com/repos/codecove2e/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/codecove2e/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/codecove2e/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/codecove2e/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecove2e/example-python/labels{/name}","releases_url":"https://api.github.com/repos/codecove2e/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/codecove2e/example-python/deployments","created_at":"2022-07-18T18:21:28Z","updated_at":"2020-12-04T04:21:29Z","pushed_at":"2022-07-18T18:24:02Z","git_url":"git://github.com/codecove2e/example-python.git","ssh_url":"git@github.com:codecove2e/example-python.git","clone_url":"https://github.com/codecove2e/example-python.git","svn_url":"https://github.com/codecove2e/example-python","homepage":"https://codecov.io","size":178,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"codecove2e:main","ref":"main","sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","user":{"login":"codecove2e","id":93560619,"node_id":"U_kgDOBZOfKw","avatar_url":"https://avatars.githubusercontent.com/u/93560619?v=4","gravatar_id":"","url":"https://api.github.com/users/codecove2e","html_url":"https://github.com/codecove2e","followers_url":"https://api.github.com/users/codecove2e/followers","following_url":"https://api.github.com/users/codecove2e/following{/other_user}","gists_url":"https[...]
