interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/installation/repositories?page=1&per_page=100
  response:
    content: '{"total_count":1,"repository_selection":"selected","repositories":[{"id":610348935,"node_id":"R_kgDOJGEvhw","name":"codecov-test","full_name":"scott-codecov-org/codecov-test","private":true,"owner":{"login":"scott-codecov-org","id":111885151,"node_id":"O_kgDOBqs7Xw","avatar_url":"https://avatars.githubusercontent.com/u/111885151?v=4","gravatar_id":"","url":"https://api.github.com/users/scott-codecov-org","html_url":"https://github.com/scott-codecov-org","followers_url":"https://api.github.com/users/scott-codecov-org/followers","following_url":"https://api.github.com/users/scott-codecov-org/following{/other_user}","gists_url":"https://api.github.com/users/scott-codecov-org/gists{/gist_id}","starred_url":"https://api.github.com/users/scott-codecov-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scott-codecov-org/subscriptions","organizations_url":"https://api.github.com/users/scott-codecov-org/orgs","repos_url":"https://api.github.com/users/scott-codecov-org/repos","events_url":"https://api.github.com/users/scott-codecov-org/events{/privacy}","received_events_url":"https://api.github.com/users/scott-codecov-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/scott-codecov-org/codecov-test","description":null,"fork":false,"url":"https://api.github.com/repos/scott-codecov-org/codecov-test","forks_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/forks","keys_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/teams","hooks_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/hooks","issue_events_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/issues/events{/number}","events_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/events","assignees_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/assignees{/user}","branches_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/branches{/branch}","tags_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/tags","blobs_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/statuses/{sha}","languages_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/languages","stargazers_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/stargazers","contributors_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/contributors","subscribers_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/subscribers","subscription_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/subscription","commits_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/contents/{+path}","compare_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/merges","archive_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/downloads","issues_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/issues{/number}","pulls_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/pulls{/number}","milestones_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/milestones{/number}","notifications_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/labels{/name}","releases_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/releases{/id}","deployments_url":"https://api.github.com/repos/scott-codecov-org/codecov-test/deployments","created_at":"2023-03-06T15:40:27Z","updated_at":"2023-03-06T15:41:05Z","pushed_at":"2023-05-15T16:35:09Z","git_url":"git://github.com/scott-codecov-org/codecov-test.git","ssh_url":"git@github.com:scott-codecov-org/codecov-test.git","clone_url":"https://github.com/scott-codecov-org/codecov-test.git","svn_url":"https://github.com/scott-codecov-org/codecov-test","homepage":null,"size":39,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d303135692e53dd6692c4e4218f984034396e7b70791e9e65ace6e603473075"
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1690565939'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '2'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
