interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api/pulls/285
  response:
    content: '{"url":"https://api.github.com/repos/codecov/codecov-api/pulls/285","id":1626444498,"node_id":"PR_kwDOJ8oEEM5g8ZLS","html_url":"https://github.com/codecov/codecov-api/pull/285","diff_url":"https://github.com/codecov/codecov-api/pull/285.diff","patch_url":"https://github.com/codecov/codecov-api/pull/285.patch","issue_url":"https://api.github.com/repos/codecov/codecov-api/issues/285","number":285,"state":"open","locked":false,"title":"chore:
      Switch to Python 3.12","user":{"login":"FraBle","id":1584268,"node_id":"MDQ6VXNlcjE1ODQyNjg=","avatar_url":"https://avatars.githubusercontent.com/u/1584268?v=4","gravatar_id":"","url":"https://api.github.com/users/FraBle","html_url":"https://github.com/FraBle","followers_url":"https://api.github.com/users/FraBle/followers","following_url":"https://api.github.com/users/FraBle/following{/other_user}","gists_url":"https://api.github.com/users/FraBle/gists{/gist_id}","starred_url":"https://api.github.com/users/FraBle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FraBle/subscriptions","organizations_url":"https://api.github.com/users/FraBle/orgs","repos_url":"https://api.github.com/users/FraBle/repos","events_url":"https://api.github.com/users/FraBle/events{/privacy}","received_events_url":"https://api.github.com/users/FraBle/received_events","type":"User","site_admin":false},"body":"###
      Purpose/Motivation\r\nSwitches the API to Python 3.12.\r\n\r\n### Links to relevant
      tickets\r\n\r\nhttps://github.com/codecov/engineering-team/issues/875\r\n\r\n###
      Legal Boilerplate\r\n\r\nLook, I get it. The entity doing business as \"Sentry\"
      was incorporated in the State of Delaware in 2015 as Functional Software, Inc.
      In 2022 this entity acquired Codecov and as result Sentry is going to need some
      rights from me in order to utilize my contributions in this PR. So here''s the
      deal: I retain all rights, title and interest in and to my contributions, and
      by keeping this boilerplate intact I confirm that Sentry can use, modify, copy,
      and redistribute my contributions, under Sentry''s choice of terms.\r\n","created_at":"2023-12-01T23:20:48Z","updated_at":"2023-12-01T23:21:51Z","closed_at":null,"merged_at":null,"merge_commit_sha":"7458689acf385c2cbe5fe09bd73536a50ef545c6","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/codecov/codecov-api/pulls/285/commits","review_comments_url":"https://api.github.com/repos/codecov/codecov-api/pulls/285/comments","review_comment_url":"https://api.github.com/repos/codecov/codecov-api/pulls/comments{/number}","comments_url":"https://api.github.com/repos/codecov/codecov-api/issues/285/comments","statuses_url":"https://api.github.com/repos/codecov/codecov-api/statuses/67a44e176ffd419f066c1cc34cff391e2a1304e2","head":{"label":"FraBle:python-3-12","ref":"python-3-12","sha":"67a44e176ffd419f066c1cc34cff391e2a1304e2","user":{"login":"FraBle","id":1584268,"node_id":"MDQ6VXNlcjE1ODQyNjg=","avatar_url":"https://avatars.githubusercontent.com/u/1584268?v=4","gravatar_id":"","url":"https://api.github.com/users/FraBle","html_url":"https://github.com/FraBle","followers_url":"https://api.github.com/users/FraBle/followers","following_url":"https://api.github.com/users/FraBle/following{/other_user}","gists_url":"https://api.github.com/users/FraBle/gists{/gist_id}","starred_url":"https://api.github.com/users/FraBle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FraBle/subscriptions","organizations_url":"https://api.github.com/users/FraBle/orgs","repos_url":"https://api.github.com/users/FraBle/repos","events_url":"https://api.github.com/users/FraBle/events{/privacy}","received_events_url":"https://api.github.com/users/FraBle/received_events","type":"User","site_admin":false},"repo":{"id":724832882,"node_id":"R_kgDOKzQScg","name":"codecov-api","full_name":"FraBle/codecov-api","private":false,"owner":{"login":"FraBle","id":1584268,"node_id":"MDQ6VXNlcjE1ODQyNjg=","avatar_url":"https://avatars.githubusercontent.com/u/1584268?v=4","gravatar_id":"","url":"https://api.github.com/users/FraBle","html_url":"https://github.com/FraBle","followers_url":"https://api.github.com/users/FraBle/followers","following_url":"https://api.github.com/users/FraBle/following{/other_user}","gists_url":"https://api.github.com/users/FraBle/gists{/gist_id}","starred_url":"https://api.github.com/users/FraBle/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FraBle/subscriptions","organizations_url":"https://api.github.com/users/FraBle/orgs","repos_url":"https://api.github.com/users/FraBle/repos","events_url":"https://api.github.com/users/FraBle/events{/privacy}","received_events_url":"https://api.github.com/users/FraBle/received_events","type":"User","site_admin":false},"html_url":"https://github.com/FraBle/codecov-api","description":"Code
      for the API of Codecov","fork":true,"url":"https://api.github.com/repos/FraBle/codecov-api","forks_url":"https://api.github.com/repos/FraBle/codecov-api/forks","keys_url":"https://api.github.com/repos/FraBle/codecov-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/FraBle/codecov-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/FraBle/codecov-api/teams","hooks_url":"https://api.github.com/repos/FraBle/codecov-api/hooks","issue_events_url":"https://api.github.com/repos/FraBle/codecov-api/issues/events{/number}","events_url":"https://api.github.com/repos/FraBle/codecov-api/events","assignees_url":"https://api.github.com/repos/FraBle/codecov-api/assignees{/user}","branches_url":"https://api.github.com/repos/FraBle/codecov-api/branches{/branch}","tags_url":"https://api.github.com/repos/FraBle/codecov-api/tags","blobs_url":"https://api.github.com/repos/FraBle/codecov-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/FraBle/codecov-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/FraBle/codecov-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/FraBle/codecov-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/FraBle/codecov-api/statuses/{sha}","languages_url":"https://api.github.com/repos/FraBle/codecov-api/languages","stargazers_url":"https://api.github.com/repos/FraBle/codecov-api/stargazers","contributors_url":"https://api.github.com/repos/FraBle/codecov-api/contributors","subscribers_url":"https://api.github.com/repos/FraBle/codecov-api/subscribers","subscription_url":"https://api.github.com/repos/FraBle/codecov-api/subscription","commits_url":"https://api.github.com/repos/FraBle/codecov-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/FraBle/codecov-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/FraBle/codecov-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/FraBle/codecov-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/FraBle/codecov-api/contents/{+path}","compare_url":"https://api.github.com/repos/FraBle/codecov-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/FraBle/codecov-api/merges","archive_url":"https://api.github.com/repos/FraBle/codecov-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/FraBle/codecov-api/downloads","issues_url":"https://api.github.com/repos/FraBle/codecov-api/issues{/number}","pulls_url":"https://api.github.com/repos/FraBle/codecov-api/pulls{/number}","milestones_url":"https://api.github.com/repos/FraBle/codecov-api/milestones{/number}","notifications_url":"https://api.github.com/repos/FraBle/codecov-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/FraBle/codecov-api/labels{/name}","releases_url":"https://api.github.com/repos/FraBle/codecov-api/releases{/id}","deployments_url":"https://api.github.com/repos/FraBle/codecov-api/deployments","created_at":"2023-11-28T22:10:46Z","updated_at":"2023-11-28T22:10:46Z","pushed_at":"2023-12-01T23:21:49Z","git_url":"git://github.com/FraBle/codecov-api.git","ssh_url":"git@github.com:FraBle/codecov-api.git","clone_url":"https://github.com/FraBle/codecov-api.git","svn_url":"https://github.com/FraBle/codecov-api","homepage":null,"size":27481,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"codecov:main","ref":"main","sha":"109eea9a085f5856a20ae5f1714b8c4786c3327b","user":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api/pulls/285/commits?page=1&per_page=100
  response:
    content: '[{"sha":"24732c7c43912738228b2509fe73fa0b94255440","node_id":"C_kwDOKzQSctoAKDI0NzMyYzdjNDM5MTI3MzgyMjhiMjUwOWZlNzNmYTBiOTQyNTU0NDA","commit":{"author":{"name":"Frank
      Blechschmidt","email":"frank.blechschmidt@lattice.com","date":"2023-12-01T23:19:54Z"},"committer":{"name":"Frank
      Blechschmidt","email":"frank.blechschmidt@lattice.com","date":"2023-12-01T23:19:54Z"},"message":"chore:
      Switch to Python 3.12","tree":{"sha":"0c5669987c62f010dfbded5d7e691b3a6fbb0e3b","url":"https://api.github.com/repos/codecov/codecov-api/git/trees/0c5669987c62f010dfbded5d7e691b3a6fbb0e3b"},"url":"https://api.github.com/repos/codecov/codecov-api/git/commits/24732c7c43912738228b2509fe73fa0b94255440","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\niHUEABYIAB0WIQSVjuhupFplVZZQvEi9MqB215bO9AUCZWpqGgAKCRC9MqB215bO\n9B9dAPsEc1epSl3Txv+A0/768ZmtbW+IoCKNIngtD99zJQuHMAEAykNO+OoEeWWC\nJGSAA3psVhbfTq0mZg1hbwUjI0J2tQE=\n=zVJX\n-----END
      PGP SIGNATURE-----","payload":"tree 0c5669987c62f010dfbded5d7e691b3a6fbb0e3b\nparent
      109eea9a085f5856a20ae5f1714b8c4786c3327b\nauthor Frank Blechschmidt <frank.blechschmidt@lattice.com>
      1701472794 -0800\ncommitter Frank Blechschmidt <frank.blechschmidt@lattice.com>
      1701472794 -0800\n\nchore: Switch to Python 3.12\n"}},"url":"https://api.github.com/repos/codecov/codecov-api/commits/24732c7c43912738228b2509fe73fa0b94255440","html_url":"https://github.com/codecov/codecov-api/commit/24732c7c43912738228b2509fe73[...]
