interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits
  response:
    body: {string: '[{"sha":"a06aef4356ca35b34c5486269585288489e578db","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmEwNmFlZjQzNTZjYTM1YjM0YzU0ODYyNjk1ODUyODg0ODllNTc4ZGI=","commit":{"author":{"name":"Thiago
        Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2018-11-07T22:43:54Z"},"committer":{"name":"Thiago
        Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2018-11-07T22:43:54Z"},"message":"Creating
        new code for reasons no one knows","tree":{"sha":"090cae62b15a0c7a46276b77fdeba7eafd3dfda1","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/090cae62b15a0c7a46276b77fdeba7eafd3dfda1"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/a06aef4356ca35b34c5486269585288489e578db","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/a06aef4356ca35b34c5486269585288489e578db","html_url":"https://github.com/ThiagoCodecov/example-python/commit/a06aef4356ca35b34c5486269585288489e578db","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/a06aef4356ca35b34c5486269585288489e578db/comments","author":null,"committer":null,"parents":[{"sha":"b92edba44fdd29fcc506317cc3ddeae1a723dd08","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/b92edba44fdd29fcc506317cc3ddeae1a723dd08","html_url":"https://github.com/ThiagoCodecov/example-python/commit/b92edba44fdd29fcc506317cc3ddeae1a723dd08"}]}]'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 22:56:19 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; char[...]
