interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api/pulls/110
  response:
    body:
      string: '{"url":"https://api.github.com/repos/codecov/codecov-api/pulls/110","id":376868677,"node_id":"MDExOlB1bGxSZXF1ZXN0Mzc2ODY4Njc3","html_url":"https://github.com/codecov/codecov-api/pull/110","diff_url":"https://github.com/codecov/codecov-api/pull/110.diff","patch_url":"https://github.com/codecov/codecov-api/pull/110.patch","issue_url":"https://api.github.com/repos/codecov/codecov-api/issues/110","number":110,"state":"open","locked":false,"title":"CE-1314
        GitHub Status Event Handler","user":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars2.githubusercontent.com/u/5767537?v=4","gravatar_id":"","url":"https://api.github.com/users/pierce-m","html_url":"https://github.com/pierce-m","followers_url":"https://api.github.com/users/pierce-m/followers","following_url":"https://api.github.com/users/pierce-m/following{/other_user}","gists_url":"https://api.github.com/users/pierce-m/gists{/gist_id}","starred_url":"https://api.github.com/users/pierce-m/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pierce-m/subscriptions","organizations_url":"https://api.github.com/users/pierce-m/orgs","repos_url":"https://api.github.com/users/pierce-m/repos","events_url":"https://api.github.com/users/pierce-m/events{/privacy}","received_events_url":"https://api.github.com/users/pierce-m/received_events","type":"User","site_admin":false},"body":"###
        Purpose/Motivation\r\nHandle `status` events from github.\r\n\r\n### Links
        to relevant tickets\r\nhttps://codecovio.atlassian.net/browse/CE-1314\r\n\r\n###
        What does this PR do?\r\nImplements the above ticket, also moves all the service
        classes into the `services` folder we created for `task.py`.","created_at":"2020-02-18T22:29:45Z","updated_at":"2020-02-19T01:44:05Z","closed_at":null,"merged_at":null,"merge_commit_sha":"9cd9db058ca66c50b1225cfbf97a83d6b604406b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/codecov/codecov-api/pulls/110/commits","review_comments_url":"https://api.github.com/repos/codecov/codecov-api/pulls/110/comments","review_comment_url":"https://api.github.com/repos/codecov/codecov-api/pulls/comments{/number}","comments_url":"https://api.github.com/repos/codecov/codecov-api/issues/110/comments","statuses_url":"https://api.github.com/repos/codecov/codecov-api/statuses/b68cdcbf6cc1b270a16d8a82b67027bdbc087452","head":{"label":"codecov:ce-1314/gh-status-handler","ref":"ce-1314/gh-status-handler","sha":"b68cdcbf6cc1b270a16d8a82b67027bdbc087452","user":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"repo":{"id":160537716,"node_id":"MDEwOlJlcG9zaXRvcnkxNjA1Mzc3MTY=","name":"codecov-api","full_name":"codecov/codecov-api","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codecov/codecov-api","description":"Code
        for new API of Codecov","fork":false,"url":"https://api.github.com/repos/codecov/codecov-api","forks_url":"https://api.github.com/repos/codecov/codecov-api/forks","keys_url":"https://api.github.com/repos/codecov/codecov-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecov/codecov-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecov/codecov-api/teams","hooks_url":"https://api.github.com/repos/codecov/codecov-api/hooks","issue_events_url":"https://api.github.com/repos/codecov/codecov-api/issues/events{/number}","events_url":"https://api.github.com/repos/codecov/codecov-api/events","assignees_url":"https://api.github.com/repos/codecov/codecov-api/assignees{/user}","branches_url":"https://api.github.com/repos/codecov/codecov-api/branches{/branch}","tags_url":"https://api.github.com/repos/codecov/codecov-api/tags","blobs_url":"https://api.github.com/repos/codecov/codecov-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecov/codecov-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecov/codecov-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecov/codecov-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecov/codecov-api/statuses/{sha}","languages_url":"https://api.github.com/repos/codecov/codecov-api/languages","stargazers_url":"https://api.github.com/repos/codecov/codecov-api/stargazers","contributors_url":"https://api.github.com/repos/codecov/codecov-api/contributors","subscribers_url":"https://api.github.com/repos/codecov/codecov-api/subscribers","subscription_url":"https://api.github.com/repos/codecov/codecov-api/subscription","commits_url":"https://api.github.com/repos/codecov/codecov-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecov/codecov-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecov/codecov-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecov/codecov-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecov/codecov-api/contents/{+path}","compare_url":"https://api.github.com/repos/codecov/codecov-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecov/codecov-api/merges","archive_url":"https://api.github.com/repos/codecov/codecov-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecov/codecov-api/downloads","issues_url":"https://api.github.com/repos/codecov/codecov-api/issues{/number}","pulls_url":"https://api.github.com/repos/codecov/codecov-api/pulls{/number}","milestones_url":"https://api.github.com/repos/codecov/codecov-api/milestones{/number}","notifications_url":"https://api.github.com/repos/codecov/codecov-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecov/codecov-api/labels{/name}","releases_url":"https://api.github.com/repos/codecov/codecov-api/releases{/id}","deployments_url":"https://api.github.com/repos/codecov/codecov-api/deployments","created_at":"2018-12-05T15:21:09Z","updated_at":"2020-02-18T22:40:52Z","pushed_at":"2020-02-19T08:33:58Z","git_url":"git://github.com/codecov/codecov-api.git","ssh_url":"git@github.com:codecov/codecov-api.git","clone_url":"https://github.com/codecov/codecov-api.git","svn_url":"https://github.com/codecov/codecov-api","homepage":null,"size":565,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":16,"license":null,"forks":1,"open_issues":16,"watchers":0,"default_branch":"master"}},"base":{"label":"codecov:master","ref":"master","sha":"77141afbd13a1273f87cf02f7f32265ea19a3b77","user":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api/pulls/110/commits
  response:
    body:
      string: '[{"sha":"67a58a280ad5a082edb9843f75a1a0f5424c84ee","node_id":"MDY6Q29tbWl0MTYwNTM3NzE2OjY3YTU4YTI4MGFkNWEwODJlZGI5ODQzZjc1YTFhMGY1NDI0Yzg0ZWU=","commit":{"author":{"name":"Pierce
        McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"committer":{"name":"Pierce
        McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"message":"Add
        errors; status handler early exit.","tree":{"sha":"7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716","url":"https://api.github.com/repos/codecov/codecov-api/git/trees/7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716"},"url":"https://api.github.com/repos/codecov/codecov-api/git/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codecov/codecov-api/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","html_url":"https://github.com/codecov/codecov-api/commit/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comments_url":"https://api.github.com/repos/codecov/codecov-api/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee/comments","author":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars2.githubusercontent.com/u/5767537?v=4","gravatar_id":"","ur[...]
