interactions:
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "codecov", "repo": "codecov-api-archive", "pr_number":
      110}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":110,"title":"CE-1314
      GitHub Status Event Handler","author":{"login":"pierce-m","databaseId":5767537},"labels":{"nodes":[]},"state":"MERGED","mergeCommit":{"oid":"e1d42c058e7169cc430f387591c1fc7cac35d2ae"},"baseRefOid":"77141afbd13a1273f87cf02f7f32265ea19a3b77","baseRefName":"master","baseRepository":{"name":"codecov-api-archive","owner":{"login":"codecov"}},"headRefOid":"a178a13c65f44d5b81c807f3c0fa2cb4922f020f","headRefName":"ce-1314/gh-status-handler","headRepository":{"name":"codecov-api-archive","owner":{"login":"codecov"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1728468768'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '5'
      github-authentication-token-expiration:
      - 2024-10-16 09:11:54 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api-archive/pulls/110/commits?page=1&per_page=100
  response:
    content: '[{"sha":"67a58a280ad5a082edb9843f75a1a0f5424c84ee","node_id":"MDY6Q29tbWl0MTYwNTM3NzE2OjY3YTU4YTI4MGFkNWEwODJlZGI5ODQzZjc1YTFhMGY1NDI0Yzg0ZWU=","commit":{"author":{"name":"Pierce
      McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"committer":{"name":"Pierce
      McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"message":"Add
      errors; status handler early exit.","tree":{"sha":"7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716","url":"https://api.github.com/repos/codecov/codecov-api-archive/git/trees/7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716"},"url":"https://api.github.com/repos/codecov/codecov-api-archive/git/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codecov/codecov-api-archive/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","html_url":"https://github.com/codecov/codecov-api-archive/commit/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comments_url":"https://api.github.com/repos/codecov/codecov-api-archive/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee/comments","author":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars.githubusercontent.com/u/5767537?v=4","gravatar_id":"","url":"https://api.github.com/users/pierce-m","html_url":"https://github.com/pierce-m","followers_url":"https://api.github.com/users/pierce-m/followers","following_url":"https://api.github.com/users/pierce-m/following{/other_user}","gists_url":"https://api.github.com/users/pierce-m/gists{/gist_id}","starred_url":"https://api.github.com/users/pierce-m/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pierce-m/subscriptions","organizations_url":"https://api.github.com/users/pierce-m/orgs","repos_url":"https://api.github.com/users/pierce-m/repos","events_url":"https://api.github.com/users/pierce-m/events{/privacy}","received_events_url":"https://api.github.com/users/pierce-m/received_events","type":"User","site_admin":false},"committer":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars.githubusercontent.com/u/5767537?v=4","gravatar_id":"","url":"https://api.github.com/users/pierce-m","html_url":"https://github.com/pierce-m","followers_url":"https://api.github.com/users/pierce-m/followers","following_url":"https://api.github.com/users/pierce-m/following{/other_user}","gists_url":"https://api.github.com/users/pierce-m/gists{/gist_id}","starred_url":"https://api.github.com/users/pierce-m/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pierce-m/subscriptions","organizations_url":"https://api.github.com/users/pierce-m/orgs","repos_url":"https://api.github.com/users/pierce-m/repos","events_url":"https://api.github.com/users/pierce-m/events{/privacy}","received_events_url":"https://api.github.com/users/pierce-m/received_events","type":"User","site_admin":false},"parents":[{"sha":"a619c7b3aab3301f70f113c77f1af893ef591b5c","url":"https://api.github.com/repos/codecov/codecov-api-archive/commits/a619c7b3aab3301f70f113c77f1af893ef591b5c","html_url":"https://github.com/codecov/codecov-api-archive/commit/a619c7b3aab3301f70f113c77f1af893ef591b5c"}]},{"sha":"47dad27e31e8802eacf6b7b67fa8c2456ccd472b","node_id":"MDY6Q29tbWl0MTYwNTM3NzE2OjQ3ZGFkMjdlMzFlODgwMmVhY2Y2YjdiNjdmYThjMjQ1NmNjZDQ3MmI=","commit":{"author":{"name":"Pierce
      McEntagart","email":"pierce@codecov.io",[...]
