interactions:
- request:
    body: '{"query": "\nquery GetReposFromNodeIds($node_ids: [ID!]!) {\n    nodes(ids:
      $node_ids) {\n        __typename \n        ... on Repository {\n            #
      databaseId == service_id\n            databaseId\n            name\n            primaryLanguage
      {\n                name\n            }\n            isPrivate\n            defaultBranchRef
      {\n                name\n            }\n            owner {\n                #
      This ID is actually the node_id, not the ownerid\n                id\n                login\n            }\n        }\n    }\n}\n",
      "variables": {"node_ids": ["R_kgDOHrbKcg", "R_kgDOLEJx2g"]}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"nodes":[{"__typename":"Repository","databaseId":515295858,"name":"example-python","primaryLanguage":{"name":"Shell"},"isPrivate":false,"defaultBranchRef":{"name":"master"},"owner":{"id":"U_kgDOBZOfKw","login":"codecove2e"}},{"__typename":"Repository","databaseId":742552026,"name":"test-no-languages","primaryLanguage":null,"isPrivate":false,"defaultBranchRef":null,"owner":{"id":"U_kgDOBZOfKw","login":"codecove2e"}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1707227531'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '3'
    status_code: 200
version: 1
