interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/tests.py?ref=master
  response:
    body: {string: '{"name":"tests.py","path":"tests.py","sha":"92aa2034f5283ff318a294116fe585e521d9f6d0","size":193,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/tests.py?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/master/tests.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/92aa2034f5283ff318a294116fe585e521d9f6d0","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/master/tests.py","type":"file","content":"aW1wb3J0IHVuaXR0ZXN0CgppbXBvcnQgYXdlc29tZQoKCmNsYXNzIFRlc3RN\nZXRob2RzKHVuaXR0ZXN0LlRlc3RDYXNlKToKICAgIGRlZiB0ZXN0X2FkZChz\nZWxmKToKICAgICAgICBzZWxmLmFzc2VydEVxdWFsKGF3ZXNvbWUuc21pbGUo\nKSwgIjopIikKCgppZiBfX25hbWVfXyA9PSAnX19tYWluX18nOgogICAgdW5p\ndHRlc3QubWFpbigpCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/tests.py?ref=master","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/92aa2034f5283ff318a294116fe585e521d9f6d0","html":"https://github.com/ThiagoCodecov/example-python/blob/master/tests.py"}}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 23:28:47 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
[...]
