interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api-archive/pulls/110
  response:
    content: '{"url":"https://api.github.com/repos/codecov/codecov-api-archive/pulls/110","id":376868677,"node_id":"MDExOlB1bGxSZXF1ZXN0Mzc2ODY4Njc3","html_url":"https://github.com/codecov/codecov-api-archive/pull/110","diff_url":"https://github.com/codecov/codecov-api-archive/pull/110.diff","patch_url":"https://github.com/codecov/codecov-api-archive/pull/110.patch","issue_url":"https://api.github.com/repos/codecov/codecov-api-archive/issues/110","number":110,"state":"closed","locked":false,"title":"CE-1314
      GitHub Status Event Handler","user":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars.githubusercontent.com/u/5767537?v=4","gravatar_id":"","url":"https://api.github.com/users/pierce-m","html_url":"https://github.com/pierce-m","followers_url":"https://api.github.com/users/pierce-m/followers","following_url":"https://api.github.com/users/pierce-m/following{/other_user}","gists_url":"https://api.github.com/users/pierce-m/gists{/gist_id}","starred_url":"https://api.github.com/users/pierce-m/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pierce-m/subscriptions","organizations_url":"https://api.github.com/users/pierce-m/orgs","repos_url":"https://api.github.com/users/pierce-m/repos","events_url":"https://api.github.com/users/pierce-m/events{/privacy}","received_events_url":"https://api.github.com/users/pierce-m/received_events","type":"User","site_admin":false},"body":"###
      Purpose/Motivation\r\nHandle `status` events from github.\r\n\r\n### Links to
      relevant tickets\r\nhttps://codecovio.atlassian.net/browse/CE-1314\r\n\r\n###
      What does this PR do?\r\nImplements the above ticket, also moves all the service
      classes into the `services` folder we created for `task.py`.","created_at":"2020-02-18T22:29:45Z","updated_at":"2021-11-03T18:40:11Z","closed_at":"2020-02-19T18:23:56Z","merged_at":"2020-02-19T18:23:55Z","merge_commit_sha":"e1d42c058e7169cc430f387591c1fc7cac35d2ae","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/codecov/codecov-api-archive/pulls/110/commits","review_comments_url":"https://api.github.com/repos/codecov/codecov-api-archive/pulls/110/comments","review_comment_url":"https://api.github.com/repos/codecov/codecov-api-archive/pulls/comments{/number}","comments_url":"https://api.github.com/repos/codecov/codecov-api-archive/issues/110/comments","statuses_url":"https://api.github.com/repos/codecov/codecov-api-archive/statuses/a178a13c65f44d5b81c807f3c0fa2cb4922f020f","head":{"label":"codecov:ce-1314/gh-status-handler","ref":"ce-1314/gh-status-handler","sha":"a178a13c65f44d5b81c807f3c0fa2cb4922f020f","user":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"repo":{"id":160537716,"node_id":"MDEwOlJlcG9zaXRvcnkxNjA1Mzc3MTY=","name":"codecov-api-archive","full_name":"codecov/codecov-api-archive","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codecov/codecov-api-archive","description":"Code
      for new API of Codecov","fork":false,"url":"https://api.github.com/repos/codecov/codecov-api-archive","forks_url":"https://api.github.com/repos/codecov/codecov-api-archive/forks","keys_url":"https://api.github.com/repos/codecov/codecov-api-archive/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecov/codecov-api-archive/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecov/codecov-api-archive/teams","hooks_url":"https://api.github.com/repos/codecov/codecov-api-archive/hooks","issue_events_url":"https://api.github.com/repos/codecov/codecov-api-archive/issues/events{/number}","events_url":"https://api.github.com/repos/codecov/codecov-api-archive/events","assignees_url":"https://api.github.com/repos/codecov/codecov-api-archive/assignees{/user}","branches_url":"https://api.github.com/repos/codecov/codecov-api-archive/branches{/branch}","tags_url":"https://api.github.com/repos/codecov/codecov-api-archive/tags","blobs_url":"https://api.github.com/repos/codecov/codecov-api-archive/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecov/codecov-api-archive/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecov/codecov-api-archive/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecov/codecov-api-archive/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecov/codecov-api-archive/statuses/{sha}","languages_url":"https://api.github.com/repos/codecov/codecov-api-archive/languages","stargazers_url":"https://api.github.com/repos/codecov/codecov-api-archive/stargazers","contributors_url":"https://api.github.com/repos/codecov/codecov-api-archive/contributors","subscribers_url":"https://api.github.com/repos/codecov/codecov-api-archive/subscribers","subscription_url":"https://api.github.com/repos/codecov/codecov-api-archive/subscription","commits_url":"https://api.github.com/repos/codecov/codecov-api-archive/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecov/codecov-api-archive/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecov/codecov-api-archive/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecov/codecov-api-archive/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecov/codecov-api-archive/contents/{+path}","compare_url":"https://api.github.com/repos/codecov/codecov-api-archive/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecov/codecov-api-archive/merges","archive_url":"https://api.github.com/repos/codecov/codecov-api-archive/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecov/codecov-api-archive/downloads","issues_url":"https://api.github.com/repos/codecov/codecov-api-archive/issues{/number}","pulls_url":"https://api.github.com/repos/codecov/codecov-api-archive/pulls{/number}","milestones_url":"https://api.github.com/repos/codecov/codecov-api-archive/milestones{/number}","notifications_url":"https://api.github.com/repos/codecov/codecov-api-archive/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecov/codecov-api-archive/labels{/name}","releases_url":"https://api.github.com/repos/codecov/codecov-api-archive/releases{/id}","deployments_url":"https://api.github.com/repos/codecov/codecov-api-archive/deployments","created_at":"2018-12-05T15:21:09Z","updated_at":"2023-07-17T19:06:23Z","pushed_at":"2023-07-17T20:00:53Z","git_url":"git://github.com/codecov/codecov-api-archive.git","ssh_url":"git@github.com:codecov/codecov-api-archive.git","clone_url":"https://github.com/codecov/codecov-api-archive.git","svn_url":"https://github.com/codecov/codecov-api-archive","homepage":null,"size":30781,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":26,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":26,"watchers":0,"default_branch":"main"}},"base":{"label":"codecov:main","ref":"main","sha":"77141afbd13a1273f87cf02f7f32265ea19a3b77","user":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api-archive/pulls/110/commits?page=3&per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a20ff71ece9649384768ca03ee284519e9552357700b0ef7c43cdee37866531e"'
      Last-Modified:
      - Tue, 25 Jul 2023 19:07:11 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4979'
      X-RateLimit-Reset:
      - '1693851376'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '21'
      github-authentication-token-expiration:
      - 2023-09-11 17:05:55 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/codecov-api-archive/pulls/110/commits?page=1&per_page=100
  response:
    content: '[{"sha":"67a58a280ad5a082edb9843f75a1a0f5424c84ee","node_id":"MDY6Q29tbWl0MTYwNTM3NzE2OjY3YTU4YTI4MGFkNWEwODJlZGI5ODQzZjc1YTFhMGY1NDI0Yzg0ZWU=","commit":{"author":{"name":"Pierce
      McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"committer":{"name":"Pierce
      McEntagart","email":"pierce@codecov.io","date":"2020-02-14T22:15:05Z"},"message":"Add
      errors; status handler early exit.","tree":{"sha":"7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716","url":"https://api.github.com/repos/codecov/codecov-api-archive/git/trees/7c2d5e4d5bdc5477c49a45ab88fe324e1b5ae716"},"url":"https://api.github.com/repos/codecov/codecov-api-archive/git/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codecov/codecov-api-archive/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee","html_url":"https://github.com/codecov/codecov-api-archive/commit/67a58a280ad5a082edb9843f75a1a0f5424c84ee","comments_url":"https://api.github.com/repos/codecov/codecov-api-archive/commits/67a58a280ad5a082edb9843f75a1a0f5424c84ee/comments","author":{"login":"pierce-m","id":5767537,"node_id":"MDQ6VXNlcjU3Njc1Mzc=","avatar_url":"https://avatars.githubusercontent.com/u/5767537?v=[...]
