interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/orgs?page=1
  response:
    content: '[{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","url":"https://api.github.com/orgs/codecov","repos_url":"https://api.github.com/orgs/codecov/repos","events_url":"https://api.github.com/orgs/codecov/events","hooks_url":"https://api.github.com/orgs/codecov/hooks","issues_url":"https://api.github.com/orgs/codecov/issues","members_url":"https://api.github.com/orgs/codecov/members{/member}","public_members_url":"https://api.github.com/orgs/codecov/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","description":"Empower
      developers with tools to improve code quality and testing."},{"login":"ThiagoCodecovTeam","id":57222756,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjIyNzU2","url":"https://api.github.com/orgs/ThiagoCodecovTeam","repos_url":"https://api.github.com/orgs/ThiagoCodecovTeam/repos","events_url":"https://api.github.com/orgs/ThiagoCodecovTeam/events","hooks_url":"https://api.github.com/orgs/ThiagoCodecovTeam/hooks","issues_url":"https://api.github.com/orgs/ThiagoCodecovTeam/issues","members_url":"https://api.github.com/orgs/ThiagoCodecovTeam/members{/member}","public_members_url":"https://api.github.com/orgs/ThiagoCodecovTeam/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/57222756?v=4","description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"da2054c6fd80b8438405ff58cf338c0d469c3eed83f5c532a424e3e13c537cc3"
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4912'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '88'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/codecov
  response:
    content: '{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false,"name":"Codecov","company":null,"blog":"https://codecov.io/","location":null,"email":"hello@codecov.io","hireable":null,"bio":"Empower
      developers with tools to improve code quality and testing.","twitter_username":null,"public_repos":99,"public_gists":0,"followers":0,"following":0,"created_at":"2014-07-21T16:22:31Z","updated_at":"2020-10-08T15:00:20Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ac400ba2574042be1d1e6b87d5676b9fe4693cf422217ec919e008db66fef623"
      Last-Modified:
      - Thu, 08 Oct 2020 15:00:20 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4911'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '89'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/ThiagoCodecovTeam
  response:
    content: '{"login":"ThiagoCodecovTeam","id":57222756,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjIyNzU2","avatar_url":"https://avatars0.githubusercontent.com/u/57222756?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecovTeam","html_url":"https://github.com/ThiagoCodecovTeam","followers_url":"https://api.github.com/users/ThiagoCodecovTeam/followers","following_[...]
