interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome?ref=main
  response:
    content: '[{"name":"__init__.py","path":"awesome/__init__.py","sha":"326dc8b55279ac0c4796cb803520b1486ff7a778","size":347,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=main","html_url":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/__init__.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/326dc8b55279ac0c4796cb803520b1486ff7a778","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/main/awesome/__init__.py","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=main","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/326dc8b55279ac0c4796cb803520b1486ff7a778","html":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/__init__.py"}},{"name":"code_fib.py","path":"awesome/code_fib.py","sha":"7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","size":156,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=main","html_url":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/code_fib.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/main/awesome/code_fib.py","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=main","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","html":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/code_fib.py"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cda64d688c17ae3fcf03b22ee869238002e410f0"
      Last-Modified:
      - Tue, 24 Mar 2020 22:01:40 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4904'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '96'
    status_code: 200
version: 1
