interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/commits/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/pulls
  response:
    content: '{"message":"No commit found for SHA: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa","documentation_url":"https://docs.github.com/rest/reference/repos#list-pull-requests-associated-with-a-commit"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1658172388'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      github-authentication-token-expiration:
      - 2022-07-25 18:16:08 UTC
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa+repo%3Acodecove2e%2Fexample-python+type%3Apr+state%3Aopen
  response:
    content: '{"total_count":0,"incomplete_results":false,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1658170204'
      X-RateLimit-Resource:
      - search
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2022-07-25 18:16:08 UTC
    status_code: 200
version: 1
