interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/pulls/4/files
  response:
    content: '[{"sha":"898991ad883e00916ed4ced91b534734b211c7ba","filename":"awesome/__init__.py","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/codecove2e/example-python/blob/0206296b1424912cc05069a9bf4025cbb95f5ecc/awesome%2F__init__.py","raw_url":"https://github.com/codecove2e/example-python/raw/0206296b1424912cc05069a9bf4025cbb95f5ecc/awesome%2F__init__.py","contents_url":"https://api.github.com/repos/codecove2e/example-python/contents/awesome%2F__init__.py?ref=0206296b1424912cc05069a9bf4025cbb95f5ecc","patch":"@@
      -3,7 +3,7 @@ def smile():\n \n \n def frown():\n-    return \":(\"\n+    return
      \"==(\"\n \n \n def shieeee(g):"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2622ac23d8520a43925683b13198cd0cf1087dd1a6c4374d14965f485fa07194"
      Last-Modified:
      - Tue, 04 Apr 2023 19:15:16 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1681304987'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2023-05-12 12:07:21 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
