interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?per_page=100&page=1
  response:
    body: {string: '[{"id":155724957,"node_id":"MDEwOlJlcG9zaXRvcnkxNTU3MjQ5NTc=","name":"backend","full_name":"codecov/backend","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codecov/backend","description":"A
        repository to organize and track codecov.io''s planned backend refactor","fork":false,"url":"https://api.github.com/repos/codecov/backend","forks_url":"https://api.github.com/repos/codecov/backend/forks","keys_url":"https://api.github.com/repos/codecov/backend/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecov/backend/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecov/backend/teams","hooks_url":"https://api.github.com/repos/codecov/backend/hooks","issue_events_url":"https://api.github.com/repos/codecov/backend/issues/events{/number}","events_url":"https://api.github.com/repos/codecov/backend/events","assignees_url":"https://api.github.com/repos/codecov/backend/assignees{/user}","branches_url":"https://api.github.com/repos/codecov/backend/branches{/branch}","tags_url":"https://api.github.com/repos/codecov/backend/tags","blobs_url":"https://api.github.com/repos/codecov/backend/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecov/backend/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecov/backend/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecov/backend/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecov/backend/statuses/{sha}","languages_url":"https://api.github.com/repos/codecov/backend/languages","stargazers_url":"https://api.github.com/repos/codecov/backend/stargazers","contributors_url":"https://api.github.com/repos/codecov/backend/contributors","subscribers_url":"https://api.github.com/repos/codecov/backend/subscribers","subscription_url":"https://api.github.com/repos/codecov/backend/subscription","commits_url":"https://api.github.com/repos/codecov/backend/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecov/backend/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecov/backend/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecov/backend/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecov/backend/contents/{+path}","compare_url":"https://api.github.com/repos/codecov/backend/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecov/backend/merges","archive_url":"https://api.github.com/repos/codecov/backend/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecov/backend/downloads","issues_url":"https://api.github.com/repos/codecov/backend/issues{/number}","pulls_url":"https://api.github.com/repos/codecov/backend/pulls{/number}","milestones_url":"https://api.github.com/repos/codecov/backend/milestones{/number}","notifications_url":"https://api.github.com/repos/codecov/backend/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecov/backend/labels{/name}","releases_url":"https://api.github.com/repos/codecov/backend/releases{/id}","deployments_url":"https://api.github.com/repos/codecov/backend/deployments","created_at":"2018-11-01T14:09:13Z","updated_at":"2018-11-01T14:36:49Z","pushed_at":"2018-11-01T14:36:47Z","git_url":"git://github.com/codecov/backend.git","ssh_url":"git@github.com:codecov/backend.git","clone_url":"https://github.com/codecov/backend.git","svn_url":"https://github.com/codecov/backend","homepage":null,"size":8,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":3,"license":null,"forks":0,"open_issues":3,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":82936397,"node_id":"MDEwOlJlcG9zaXRvcnk4MjkzNjM5Nw==","name":"cc-process-coverage","full_name":"codecov/cc-process-coverage","private":true,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://ap[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/example-cpp11
  response:
    body: {string: '{"id":65390076,"node_id":"MDEwOlJlcG9zaXRvcnk2NTM5MDA3Ng==","name":"example-cpp11","full_name":"codecov/example-cpp11","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","ht[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/example-cpp11_boost
  response:
    body: {string: '{"id":65390037,"node_id":"MDEwOlJlcG9zaXRvcnk2NTM5MDAzNw==","name":"example-cpp11_boost","full_name":"codecov/example-cpp11_boost","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python
  response:
    body: {string: '{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/[...]
