interactions:
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/app/installations/345678
    response:
      content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/apps/apps#get-an-installation-for-the-authenticated-app"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-GitHub-Media-Type:
          - github.v3; format=json
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 404
[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/app/installations/12345678
    response:
      content: '{"id":12345678,"account":{"login":"fake-test-user","id":72693746,"node_id":"AMSDFU7234Msdf7N#","avatar_url":"https://avatars.githubusercontent.com/u/72693746?v=4","gravatar_id":"","url":"https://api.github.com/users/fake-test-user","html_url":"https://github.com/fake-test-user","followers_url":"https://api.github.com/users/fake-test-user/followers","following_url":"https://api.github.com/users/fake-test-user/following{/other_user}","gists_url":"https://api.github.com/users/fake-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/fake-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fake-test-user/subscriptions","organizations_url":"https://api.github.com/users/fake-test-user/orgs","repos_url":"https://api.github.com/users/fake-test-user/repos","events_url":"https://api.github.com/users/fake-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/fake-test-user/received_events","type":"User","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/12345678/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/12345678","app_id":345678,"app_slug":"local-github-app-adrian","target_id":72693746,"target_type":"User","permissions":{"checks":"write","contents":"write","metadata":"read","statuses":"write","pull_requests":"write","administration":"read"},"events":[],"created_at":"2024-02-11T20:39:08.000Z","updated_at":"2024-02-11T20:39:09.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - W/"42ebd0b4f200aff55e8eec91270cbac17b66016d0a9cef1b3778f18354849016"
        X-GitHub-Media-Type:
          - github.v3; format=json
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 200
[...]
