interactions:
- request:
    body: '{"query": "\nquery {\n    viewer {\n        repositories(\n            ownerAffiliations:
      [OWNER, COLLABORATOR, ORGANIZATION_MEMBER]\n            affiliations: [OWNER,
      COLLABORATOR, ORGANIZATION_MEMBER]\n        ) {\n            totalCount\n        }\n    }\n}\n"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"viewer":{"repositories":{"totalCount":1}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v4
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1695411372'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/installation/repositories?page=1&per_page=100
  response:
    content: '{"total_count":1,"repository_selection":"selected","repositories":[{"id":665219192,"node_id":"R_kgDOJ6ZweA","name":"mike","full_name":"matt-codecov-club/mike","private":true,"owner":{"login":"matt-codecov-club","id":139263855,"node_id":"O_kgDOCEz_bw","avatar_url":"https://avatars.githubusercontent.com/u/139263855?v=4","gravatar_id":"","url":"https://api.github.com/users/matt-codecov-club","html_url":"https://github.com/matt-codecov-club","followers_url":"https://api.github.com/users/matt-codecov-club/followers","following_url":"https://api.github.com/users/matt-codecov-club/following{/other_user}","gists_url":"https://api.github.com/users/matt-codecov-club/gists{/gist_id}","starred_url":"https://api.github.com/users/matt-codecov-club/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matt-codecov-club/subscriptions","organizations_url":"https://api.github.com/users/matt-codecov-club/orgs","repos_url":"https://api.github.com/users/matt-codecov-club/repos","events_url":"https://api.github.com/users/matt-codecov-club/events{/privacy}","received_events_url":"https://api.github.com/users/matt-codecov-club/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/matt-codecov-club/mike","description":null,"fork":false,"url":"https://api.github.com/repos/matt-codecov-club/mike","forks_url":"https://api.github.com/repos/matt-codecov-club/mike/forks","keys_url":"https://api.github.com/repos/matt-codecov-club/mike/keys{/key_id}","collaborators_url":"https://api.github.com/repos/matt-codecov-club/mike/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/matt-codecov-club/mike/teams","hooks_url":"https://api.github.com/repos/matt-codecov-club/mike/hooks","issue_events_url":"https://api.github.com/repos/matt-codecov-club/mike/issues/events{/number}","events_url":"https://api.github.com/repos/matt-codecov-club/mike/events","assignees_url":"https://api.github.com/repos/matt-codecov-club/mike/assignees{/user}","branches_url":"https://api.github.com/repos/matt-codecov-club/mike/branches{/branch}","tags_url":"https://api.github.com/repos/matt-codecov-club/mike/tags","blobs_url":"https://api.github.com/repos/matt-codecov-club/mike/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/matt-codecov-club/mike/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/matt-codecov-club/mike/git/refs{/sha}","trees_url":"https://api.github.com/repos/matt-codecov-club/mike/git/trees{/sha}","statuses_url":"https://api.github.com/repos/matt-codecov-club/mike/statuses/{sha}","languages_url":"https://api.github.com/repos/matt-codecov-club/mike/languages","stargazers_url":"https://api.github.com/repos/matt-codecov-club/mike/stargazers","contributors_url":"https://api.github.com/repos/matt-codecov-club/mike/contributors","subscribers_url":"https://api.github.com/repos/matt-codecov-club/mike/subscribers","subscription_url":"https://api.github.com/repos/matt-codecov-club/mike/subscription","commits_url":"https://api.github.com/repos/matt-codecov-club/mike/commits{/sha}","git_commits_url":"https://api.github.com/repos/matt-codecov-club/mike/git/commits{/sha}","comments_url":"https://api.github.com/repos/matt-codecov-club/mike/comments{/number}","issue_comment_url":"https://api.github.com/repos/matt-codecov-club/mike/issues/comments{/number}","contents_url":"https://api.github.com/repos/matt-codecov-club/mike/contents/{+path}","compare_url":"https://api.github.com/repos/matt-codecov-club/mike/compare/{base}...{head}","merges_url":"https://api.github.com/repos/matt-codecov-club/mike/merges","archive_url":"https://api.github.com/repos/matt-codecov-club/mike/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/matt-codecov-club/mike/downloads","issues_url":"https://api.github.com/repos/matt-codecov-club/mike/issues{/number}","pulls_url":"https://api.github.com/repos/matt-codecov-club/mike/pulls{/number}","milestones_url":"https://api.github.com/repos/matt-codecov-club/mike/milestones{/number}","notifications_url":"https://api.github.com/repos/matt-codecov-club/mike/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/matt-codecov-club/mike/labels{/name}","releases_url":"https://api.github.com/repos/matt-codecov-club/mike/releases{/id}","deployments_url":"https://api.github.com/repos/matt-codecov-club/mike/deployments","created_at":"2023-07-11T17:52:21Z","updated_at":"2023-07-11T17:52:22Z","pushed_at":"2023-07-11T17:52:21Z","git_url":"git://github.com/matt-codecov-club/mike.git","ssh_url":"git@github.com:matt-codecov-club/mike.git","clone_url":"https://github.com/matt-codecov-club/mike.git","svn_url":"https://github.com/matt-codecov-club/mike","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d2dcc0cfab97e3c4a10b2eddfa1d1ebdb043c125df33ba1ba4421ebf8de78a9"
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1695411372'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
