interactions:
- request:
    body: '{"query": "\nquery Repos($owner: String!, $cursor: String, $first: Int!)
      {\n  repositoryOwner(login: $owner) {\n    repositories(\n      first: $first\n      ownerAffiliations:
      OWNER\n      isFork: false\n      isLocked: false\n      orderBy: {field: NAME,
      direction: ASC}\n      after: $cursor\n    ) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      nodes
      {\n        name\n        languages(first: 100) {\n          edges {\n            node
      {\n              name\n              id\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
      "variables": {"owner": "adrian-codecov", "cursor": null, "first": 100}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repositoryOwner":{"repositories":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpKxdGVzdC1uby1sYW5ndWFnZXPOLEIluA=="},"nodes":[{"name":"another-test","languages":{"edges":[{"node":{"name":"JavaScript","id":"MDg6TGFuZ3VhZ2UxNDA="}},{"node":{"name":"HTML","id":"MDg6TGFuZ3VhZ2U0MTc="}},{"node":{"name":"CSS","id":"MDg6TGFuZ3VhZ2UzMDg="}}]}},{"name":"new-test-repo","languages":{"edges":[{"node":{"name":"HTML","id":"MDg6TGFuZ3VhZ2U0MTc="}},{"node":{"name":"CSS","id":"MDg6TGFuZ3VhZ2UzMDg="}},{"node":{"name":"JavaScript","id":"MDg6TGFuZ3VhZ2UxNDA="}}]}},{"name":"test-no-languages","languages":{"edges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4592'
      X-RateLimit-Reset:
      - '1709758667'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '408'
    status_code: 200
version: 1
