interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065
  response:
    content: '{"sha":"75f355d8d14ba3d7761c728b4d2607cde0eef065","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3Ojc1ZjM1NWQ4ZDE0YmEzZDc3NjFjNzI4YjRkMjYwN2NkZTBlZWYwNjU=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-05-18T03:16:22Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-10-13T15:15:31Z"},"message":"Adding
      README\n\nsurpriseaAKDS\n\nddkokgfnskfds\n\nBanana\n\nYallow\n\nABG","tree":{"sha":"b737740a931a34f5be73f553ea87a1161c917be0","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/b737740a931a34f5be73f553ea87a1161c917be0"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065","html_url":"https://github.com/ThiagoCodecov/example-python/commit/75f355d8d14ba3d7761c728b4d2607cde0eef065","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"f0895290dc26668faeeb20ee5ccd4cc995925775","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/f0895290dc26668faeeb20ee5ccd4cc995925775","html_url":"https://github.com/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775"}],"stats":{"total":3593,"additions":38,"deletions":3555},"files":[{"sha":"1585e843d6b3bb9351592db62eddb2f0a0c4a484","filename":".gitignore","status":"modified","additions":5,"deletions":0,"changes":5,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/75f355d8d14ba3d7761c728b4d2607cde0eef065/.gitignore","raw_url":"https://github.com/ThiagoCodecov/example-python/raw/75f355d8d14ba3d7761c728b4d2607cde0eef065/.gitignore","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=75f355d8d14ba3d7761c728b4d2607cde0eef065","patch":"@@
      -8,6 +8,11 @@ __pycache__/\n \n .coverage\n coverage.xml\n+flagone.coverage.xml\n+flagtwo.coverage.xml\n+unit.coverage.xml\n+dev.sh\n+direct.sh\n
      \n # Distribution / packaging\n .Python"},{"sha":"0f9bd797f9e0a2be4f4e707d38c70553d2bb5ec8","filename":"Makefile","status":"modified","additions":30,"deletions":4,"changes":34,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/75f355d8d14ba3d7761c728b4d2607cde0eef065/Makefile","raw_url":"https://github.com/ThiagoCodecov/ex[...]
