interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/75f355d8d14ba3d7761c728b4d2607cde0eef065/check-suites
  response:
    content: "{\"total_count\":1,\"check_suites\":[{\"id\":1341719124,\"node_id\"\
      :\"MDEwOkNoZWNrU3VpdGUxMzQxNzE5MTI0\",\"head_branch\":\"thiago/base-no-base\"\
      ,\"head_sha\":\"75f355d8d14ba3d7761c728b4d2607cde0eef065\",\"status\":\"completed\"\
      ,\"conclusion\":\"success\",\"url\":\"https://api.github.com/repos/ThiagoCodecov/example-python/check-suites/1341719124\"\
      ,\"before\":\"f0fe310b54d2b944a1d16b79958d9d3add7c902c\",\"after\":\"75f355d8d14ba3d7761c728b4d2607cde0eef065\"\
      ,\"pull_requests\":[{\"url\":\"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18\"\
      ,\"id\":383348775,\"number\":18,\"head\":{\"ref\":\"thiago/base-no-base\",\"\
      sha\":\"75f355d8d14ba3d7761c728b4d2607cde0eef065\",\"repo\":{\"id\":156617777,\"\
      url\":\"https://api.github.com/repos/ThiagoCodecov/example-python\",\"name\"\
      :\"example-python\"}},\"base\":{\"ref\":\"main\",\"sha\":\"f0895290dc26668faeeb20ee5ccd4cc995925775\"\
      ,\"repo\":{\"id\":156617777,\"url\":\"https://api.github.com/repos/ThiagoCodecov/example-python\"\
      ,\"name\":\"example-python\"}}}],\"app\":{\"id\":254,\"slug\":\"codecov\",\"\
      node_id\":\"MDM6QXBwMjU0\",\"owner\":{\"login\":\"codecov\",\"id\":8226205,\"\
      node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/8226205?v=4\"\
      ,\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/codecov\",\"html_url\"\
      :\"https://github.com/codecov\",\"followers_url\":\"https://api.github.com/users/codecov/followers\"\
      ,\"following_url\":\"https://api.github.com/users/codecov/following{/other_user}\"\
      ,\"gists_url\":\"https://api.github.com/users/codecov/gists{/gist_id}\",\"starred_url\"\
      :\"https://api.github.com/users/codecov/starred{/owner}{/repo}\",\"subscriptions_url\"\
      :\"https://api.github.com/users/codecov/subscriptions\",\"organizations_url\"\
      :\"https://api.github.com/users/codecov/orgs\",\"repos_url\":\"https://api.github.com/users/codecov/repos\"\
      ,\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\",\"\
      received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
      ,\"type\":\"Organization\",\"site_admin\":false},\"name\":\"Codecov\",\"description\"\
      :\"Codecov provides highly integrated tools to group, merge, archive and compare\
      \ coverage reports. Whether your team is comparing changes in a pull request\
      \ or reviewing a single commit, Codecov will improve the code review workflow\
      \ and quality.\\r\\n\\r\\n## Code coverage done right.\xAE\\r\\n\\r\\n1. Upload\
      \ coverage reports from your CI builds.\\r\\n2. Codecov merges all builds and\
      \ languages into one[...]
