interactions:
- request:
    body: '{"name": "web", "active": true, "events": ["project", "pull_request", "release"],
      "config": {"url": "https://enfehm3qrtj5u.x.pipedream.net", "secret": "new_secret",
      "content_type": "json"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134
  response:
    content: '{"type":"Repository","id":255680134,"name":"web","active":true,"events":["project","pull_request","release"],"config":{"content_type":"json","secret":"********","url":"https://enfehm3qrtj5u.x.pipedream.net","insecure_ssl":"0"},"updated_at":"2020-10-14T21:51:05Z","created_at":"2020-10-14T17:32:29Z","url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134","test_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134/test","ping_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134/pings","last_response":{"code":404,"status":"missing","message":"Invalid
      HTTP Response: 404"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fff258ee5aba7d9654ce6c6849fbcad1ab78b08c07016d94102feeef64d0afd6"
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4981'
      X-RateLimit-Reset:
      - '1602714521'
      X-RateLimit-Used:
      - '19'
    status_code: 200
version: 1
