interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/repos?per_page=50&page=1
  response:
    content: "[{\"id\":24730274,\"node_id\":\"MDEwOlJlcG9zaXRvcnkyNDczMDI3NA==\",\"\
      name\":\"admin\",\"full_name\":\"codecov/admin\",\"private\":true,\"owner\"\
      :{\"login\":\"codecov\",\"id\":8226205,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\"\
      ,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/8226205?v=4\",\"\
      gravatar_id\":\"\",\"url\":\"https://api.github.com/users/codecov\",\"html_url\"\
      :\"https://github.com/codecov\",\"followers_url\":\"https://api.github.com/users/codecov/followers\"\
      ,\"following_url\":\"https://api.github.com/users/codecov/following{/other_user}\"\
      ,\"gists_url\":\"https://api.github.com/users/codecov/gists{/gist_id}\",\"starred_url\"\
      :\"https://api.github.com/users/codecov/starred{/owner}{/repo}\",\"subscriptions_url\"\
      :\"https://api.github.com/users/codecov/subscriptions\",\"organizations_url\"\
      :\"https://api.github.com/users/codecov/orgs\",\"repos_url\":\"https://api.github.com/users/codecov/repos\"\
      ,\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\",\"\
      received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
      ,\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/codecov/admin\"\
      ,\"description\":\"Automatically adding Codecov\",\"fork\":false,\"url\":\"\
      https://api.github.com/repos/codecov/admin\",\"forks_url\":\"https://api.github.com/repos/codecov/admin/forks\"\
      ,\"keys_url\":\"https://api.github.com/repos/codecov/admin/keys{/key_id}\",\"\
      collaborators_url\":\"https://api.github.com/repos/codecov/admin/collaborators{/collaborator}\"\
      ,\"teams_url\":\"https://api.github.com/repos/codecov/admin/teams\",\"hooks_url\"\
      :\"https://api.github.com/repos/codecov/admin/hooks\",\"issue_events_url\":\"\
      https://api.github.com/repos/codecov/admin/issues/events{/number}\",\"events_url\"\
      :\"https://api.github.com/repos/codecov/admin/events\",\"assignees_url\":\"\
      https://api.github.com/repos/codecov/admin/assignees{/user}\",\"branches_url\"\
      :\"https://api.github.com/repos/codecov/admin/branches{/branch}\",\"tags_url\"\
      :\"https://api.github.com/repos/codecov/admin/tags\",\"blobs_url\":\"https://api.github.com/repos/codecov/admin/git/blobs{/sha}\"\
      ,\"git_tags_url\":\"https://api.github.com/repos/codecov/admin/git/tags{/sha}\"\
      ,\"git_refs_url\":\"https://api.github.com/repos/codecov/admin/git/refs{/sha}\"\
      ,\"trees_url\":\"https://api.github.com/repos/codecov/admin/git/trees{/sha}\"\
      ,\"statuses_url\":\"https://api.github.com/repos/codecov/admin/statuses/{sha}\"\
      ,\"languages_url\":\"https://api.github.com/repos/codecov/admin/languages\"\
      ,\"stargazers_url\":\"https://api.github.com/repos/codecov/admin/stargazers\"\
      ,\"contributors_url\":\"https://api.github.com/repos/codecov/admin/contributors\"\
      ,\"subscribers_url\":\"https://api.github.com/repos/codecov/admin/subscribers\"\
      ,\"subscription_url\":\"https://api.github.com/repos/codecov/admin/subscription\"\
      ,\"commits_url\":\"https://api.github.com/repos/codecov/admin/commits{/sha}\"\
      ,\"git_commits_url\":\"https://api.github.com/repos/codecov/admin/git/commits{/sha}\"\
      ,\"comments_url\":\"https://api.github.com/repos/codecov/admin/comments{/number}\"\
      ,\"issue_comment_url\":\"https://api.github.com/repos/codecov/admin/issues/comments{/number}\"\
      ,\"contents_url\":\"https://api.github.com/repos/codecov/admin/contents/{+path}\"\
      ,\"compare_url\":\"https://api.github.com/repos/codecov/admin/compare/{base}...{head}\"\
      ,\"merges_url\":\"https://api.github.com/repos/codecov/admin/merges\",\"archive_url\"\
      :\"https://api.github.com/repos/codecov/admin/{archive_format}{/ref}\",\"downloads_url\"\
      :\"https://api.github.com/repos/codecov/admin/downloads\",\"issues_url\":\"\
      https://api.github.com/repos/codecov/admin/issues{/number}\",\"pulls_url\":\"\
      https://api.github.com/repos/codecov/admin/pulls{/number}\",\"milestones_url\"\
      :\"https://api.github.com/repos/codecov/admin/milestones{/number}\",\"notifications_url\"\
      :\"https://api.github.com/repos/codecov/admin/notifications{?since,all,participating}\"\
      ,\"labels_url\":\"https://api.github.com/repos/codecov/admin/labels{/name}\"\
      ,\"releases_url\":\"https://api.github.com/repos/codecov/admin/releases{/id}\"\
      ,\"deployments_url\":\"https://api.github.com/repos/codecov/admin/deployments\"\
      ,\"created_at\":\"2014-10-02T18:05:04Z\",\"updated_at\":\"2015-05-03T17:20:10Z\"\
      ,\"pushed_at\":\"2015-06-30T17:44:14Z\",\"git_url\":\"git://github.com/codecov/admin.git\"\
      ,\"ssh_url\":\"git@github.com:codecov/admin.git\",\"clone_url\":\"https://github.com/codecov/admin.git\"\
      ,\"svn_url\":\"https://github.com/codecov/admin\",\"homepage\":\"\",\"size\"\
      :338,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"\
      has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\"\
      :true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\"\
      :false,\"disabled\":false,\"open_issues_count\":0,\"license\":null,\"forks\"\
      :0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"main\",\"permissions\"\
      :{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":239903643,\"node_id\"\
      :\"MDEwOlJlcG9zaXRvcnkyMzk5MDM2NDM=\",\"name\":\"analytics\",\"full_name\":\"\
      codecov/analytics\",\"private\":true,\"owner\":{\"login\":\"codecov\",\"id\"\
      :8226205,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\",\"avatar_url\":\"\
      https://avatars3.githubusercontent.com/u/8226205?v=4\",\"gravatar_id\":\"\"\
      ,\"url\":\"https://api.github.com/users/codecov\",\"html_url\":\"https://github.com/codecov\"\
      ,\"followers_url\":\"https://api.github.com/users/codecov/followers\",\"following_url\"\
      :\"https://api.github.com/users/codecov/following{/other_user}\",\"gists_url\"\
      :\"https://api.github.com/users/codecov/gists{/gist_id}\",\"starred_url\":\"\
      https://api.github.com/users/codecov/starred{/owner}{/repo}\",\"subscriptions_url\"\
      :\"https://api.github.com/users/codecov/subscriptions\",\"organizations_url\"\
      :\"https://api.github.com/users/codecov/orgs\",\"repos_url\":\"https://api.github.com/users/codecov/repos\"\
      ,\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\",\"\
      received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
      ,\"type\":\"Organization\",\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/example-cpp11
  response:
    content: '{"id":65390076,"node_id":"MDEwOlJlcG9zaXRvcnk2NTM5MDA3Ng==","name":"example-cpp11","full_name":"codecov/example-cpp11","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/codecov/example-cpp11","description":"Minimal
      project that uses qmake, GCC, C++11, gcov and is tested by Travis CI","fork":true,"url":"https://api.github.com/repos/codecov/example-cpp11","forks_url":"https://api.github.com/repos/codecov/example-cpp11/forks","keys_url":"https://api.github.com/repos/codecov/example-cpp11/keys{/key_id}","collaborators_url":"https://api.github.com/repos/codecov/example-cpp11/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/codecov/example-cpp11/teams","hooks_url":"https://api.github.com/repos/codecov/example-cpp11/hooks","issue_events_url":"https://api.github.com/repos/codecov/example-cpp11/issues/events{/number}","events_url":"https://api.github.com/repos/codecov/example-cpp11/events","assignees_url":"https://api.github.com/repos/codecov/example-cpp11/assignees{/user}","branches_url":"https://api.github.com/repos/codecov/example-cpp11/branches{/branch}","tags_url":"https://api.github.com/repos/codecov/example-cpp11/tags","blobs_url":"https://api.github.com/repos/codecov/example-cpp11/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/codecov/example-cpp11/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/codecov/example-cpp11/git/refs{/sha}","trees_url":"https://api.github.com/repos/codecov/example-cpp11/git/trees{/sha}","statuses_url":"https://api.github.com/repos/codecov/example-cpp11/statuses/{sha}","languages_url":"https://api.github.com/repos/codecov/example-cpp11/languages","stargazers_url":"https://api.github.com/repos/codecov/example-cpp11/stargazers","contributors_url":"https://api.github.com/repos/codecov/example-cpp11/contributors","subscribers_url":"https://api.github.com/repos/codecov/example-cpp11/subscribers","subscription_url":"https://api.github.com/repos/codecov/example-cpp11/subscription","commits_url":"https://api.github.com/repos/codecov/example-cpp11/commits{/sha}","git_commits_url":"https://api.github.com/repos/codecov/example-cpp11/git/commits{/sha}","comments_url":"https://api.github.com/repos/codecov/example-cpp11/comments{/number}","issue_comment_url":"https://api.github.com/repos/codecov/example-cpp11/issues/comments{/number}","contents_url":"https://api.github.com/repos/codecov/example-cpp11/contents/{+path}","compare_url":"https://api.github.com/repos/codecov/example-cpp11/compare/{base}...{head}","merges_url":"https://api.github.com/repos/codecov/example-cpp11/merges","archive_url":"https://api.github.com/repos/codecov/example-cpp11/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/codecov/example-cpp11/downloads","issues_url":"https://api.github.com/repos/codecov/example-cpp11/issues{/number}","pulls_url":"https://api.github.com/repos/codecov/example-cpp11/pulls{/number}","milestones_url":"https://api.github.com/repos/codecov/example-cpp11/milestones{/number}","notifications_url":"https://api.github.com/repos/codecov/example-cpp11/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/codecov/example-cpp11/labels{/name}","releases_url":"https://api.github.com/repos/codecov/example-cpp11/releases{/id}","deployments_url":"https://api.github.com/repos/codecov/example-cpp11/deployments","created_at":"2016-08-10T14:38:50Z","updated_at":"2020-08-28T13:00:35Z","pushed_at":"2020-08-27T03:14:27Z","git_url":"git://github.com/codecov/example-cpp11.git","ssh_url":"git@github.com:codecov/example-cpp11.git","clone_url":"https://github.com/codecov/example-cpp11.git","svn_url":"https://github.com/codecov/example-cpp11","homepage":null,"size":31,"stargazers_count":25,"watchers_count":25,"language":"Shell","has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":24,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"gpl-3.0","name":"GNU
      General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"forks":24,"open_issues":0,"watchers":25,"default_branch":"main","permissions":{"admin":false,"push":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false},"parent":{"id":54310570,"node_id":"MDEwOlJlcG9zaXRvcnk1NDMxMDU3MA==","name":"travis_qmake_gcc_cpp11_gcov","full_name":"richelbilderbeek/travis_qmake_gcc_cpp11_gcov","private":false,"owner":{"login":"richelbilderbeek","id":2098230,"node_id":"MDQ6VXNlcjIwOTgyMzA=","avatar_url":"https://avatars3.githubusercontent.com/u/2098230?v=4","gravatar_id":"","url":"https://api.github.com/users/richelbilderbeek","html_url":"https://github.com/richelbilderbeek","followers_url":"https://api.github.com/users/richelbilder[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/example-cpp11_boost
  response:
    content: '{"id":65390037,"node_id":"MDEwOlJlcG9zaXRvcnk2NTM5MDAzNw==","name":"example-cpp11_boost","full_name":"codecov/example-cpp11_boost","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/co[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/nginx-buildpack
  response:
    content: '{"id":39343510,"node_id":"MDEwOlJlcG9zaXRvcnkzOTM0MzUxMA==","name":"nginx-buildpack","full_name":"codecov/nginx-buildpack","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/services
  response:
    content: '{"id":35773997,"node_id":"MDEwOlJlcG9zaXRvcnkzNTc3Mzk5Nw==","name":"services","full_name":"codecov/services","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/SwiftCov
  response:
    content: '{"id":37015668,"node_id":"MDEwOlJlcG9zaXRvcnkzNzAxNTY2OA==","name":"SwiftCov","full_name":"codecov/SwiftCov","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/tornado
  response:
    content: '{"id":40784552,"node_id":"MDEwOlJlcG9zaXRvcnk0MDc4NDU1Mg==","name":"tornado","full_name":"codecov/tornado","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.co[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/tornpsql
  response:
    content: '{"id":210706185,"node_id":"MDEwOlJlcG9zaXRvcnkyMTA3MDYxODU=","name":"tornpsql","full_name":"codecov/tornpsql","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://githu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecov/tornwrap
  response:
    content: '{"id":194693245,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ2OTMyNDU=","name":"tornwrap","full_name":"codecov/tornwrap","private":false,"owner":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://githu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/codecov-bash
  response:
    content: '{"id":175435584,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU0MzU1ODQ=","name":"codecov-bash","full_name":"ThiagoCodecov/codecov-bash","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/django-vue-dockerized
  response:
    content: '{"id":198066359,"node_id":"MDEwOlJlcG9zaXRvcnkxOTgwNjYzNTk=","name":"django-vue-dockerized","full_name":"ThiagoCodecov/django-vue-dockerized","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.gith[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/django-vue-dockerized-celery
  response:
    content: '{"id":204042091,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQwNDIwOTE=","name":"django-vue-dockerized-celery","full_name":"ThiagoCodecov/django-vue-dockerized-celery","private":true,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","ur[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python
  response:
    content: '{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCo[...]
