interactions:
- request:
    body: '{"name": "web", "active": true, "events": ["push", "pull_request"], "config":
      {"url": "http://requestbin.net/r/1ecyaj51", "secret": "d", "content_type": "json"}}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks
  response:
    body: {string: '{"type":"Repository","id":61813206,"name":"web","active":true,"events":["pull_request","push"],"config":{"content_type":"json","secret":"********","url":"http://requestbin.net/r/1ecyaj51","insecure_ssl":"0"},"updated_at":"2018-11-07T23:03:28Z","created_at":"2018-11-07T23:03:28Z","url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206","test_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206/test","ping_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206/pings","last_response":{"code":null,"status":"unused","message":null}}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 23:03:28 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Content-Length
      - ['607']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Status
      - [201 Created]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!python/tuple
  [...]
