interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=master
  response:
    content: '{"name":"code_fib.py","path":"awesome/code_fib.py","sha":"7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","size":156,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=master","html_url":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/code_fib.py","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/main/awesome/code_fib.py","type":"file","content":"ZGVmIGZpYihuKToKICAgIGlmIG4gPCAwOgogICAgICAgIHJldHVybiAwCiAg\nICBpZiBuIDw9IDE6CiAgICAgICAgcmV0dXJuIDEKICAgIHJldHVybiBmaWIo\nbiAtIDEpICsgZmliKG4gLSAyKQoKCmRlZiB1bnRlc3RlZF9jb2RlKGEpOgog\nICAgcmFpc2UgRXhjZXB0aW9uKCkK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/code_fib.py?ref=master","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd","html":"https://github.com/ThiagoCodecov/example-python/blob/main/awesome/code_fib.py"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7fb3c3fbd71a6d3f4b98964c0130f7e083505fcd"
      Last-Modified:
      - Tue, 24 Mar 2020 22:01:33 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4979'
      X-RateLimit-Reset:
      - '1602714521'
      X-RateLimit-Used:
      - '21'
    status_code: 200
version: 1
