interactions:
- request:
    body: '{"name": "web", "active": true, "events": ["push", "pull_request"], "config":
      {"url": "http://requestbin.net/r/1ecyaj51", "secret": "d", "content_type": "json"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks
  response:
    content: '{"type":"Repository","id":255680134,"name":"web","active":true,"events":["pull_request","push"],"config":{"content_type":"json","secret":"********","url":"http://requestbin.net/r/1ecyaj51","insecure_ssl":"0"},"updated_at":"2020-10-14T17:32:29Z","created_at":"2020-10-14T17:32:29Z","url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134","test_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134/test","ping_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134/pings","last_response":{"code":null,"status":"unused","message":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"89f829395d88062b2b88761648bbe80c074e16932b157176fd23eed79d26a81c"'
      Location:
      - https://api.github.com/repos/ThiagoCodecov/example-python/hooks/255680134
      Status:
      - 201 Created
      X-Accepted-OAuth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4938'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '62'
    status_code: 201
version: 1
