interactions:
- request:
    body: '{"body": "Hello world numbah 2 my friendo"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/436811257
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/436811257","html_url":"https://github.com/ThiagoCodecov/example-python/pull/1#issuecomment-436811257","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1","id":436811257,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgxMTI1Nw==","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"created_at":"2018-11-07T23:08:03Z","updated_at":"2020-10-14T17:32:03Z","author_association":"OWNER","body":"Hello
      world numbah 2 my friendo","performed_via_github_app":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0dea4e1a5cc6ac3455e652b593f4e9dd99e85734fdaa14702e761ff12f4425e9"
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '2'
    status_code: 200
version: 1
