interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/y0-causal-inference/y0/pulls/149/commits?page=3&per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a20ff71ece9649384768ca03ee284519e9552357700b0ef7c43cdee37866531e"'
      Last-Modified:
      - Mon, 04 Sep 2023 16:56:11 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4983'
      X-RateLimit-Reset:
      - '1693851376'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '17'
      github-authentication-token-expiration:
      - 2023-09-11 17:05:55 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/y0-causal-inference/y0/pulls/149/commits?page=2&per_page=100
  response:
    content: '[{"sha":"d44a99623f25654118660d6a4456c9cf96a6a2ee","node_id":"C_kwDOE5hB_NoAKGQ0NGE5OTYyM2YyNTY1NDExODY2MGQ2YTQ0NTZjOWNmOTZhNmEyZWU","commit":{"author":{"name":"Charles
      Tapley Hoyt","email":"cthoyt@gmail.com","date":"2023-08-30T10:39:25Z"},"committer":{"name":"Charles
      Tapley Hoyt","email":"cthoyt@gmail.com","date":"2023-08-30T10:39:25Z"},"message":"Keep
      working towards improving DSL output","tree":{"sha":"5a72d1485b104a26eedfcab50fb846667da428bd","url":"https://api.github.com/repos/y0-causal-inference/y0/git/trees/5a72d1485b104a26eedfcab50fb846667da428bd"},"url":"https://api.github.com/repos/y0-causal-inference/y0/git/commits/d44a99623f25654118660d6a4456c9cf96a6a2ee","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/y0-causal-inference/y0/commits/d44a99623f25654118660d6a4456c9cf96a6a2ee","html_url":"https://github.com/y0-causal-inference/y0/commit/d44a99623f25654118660d6a4456c9cf96a6a2ee","comments_url":"https://api.github.com/repos/y0-causal-inference/y0/commits/d44a99623f25654118660d6a4456c9cf96a6a2ee/comments","author":{"login":"cthoyt","id":5069736,"node_id":"MDQ6VXNlcjUwNjk3MzY=","avatar_url":"https://avatars.githubusercontent.com/u/5069736?v=4","gravatar_id":"","url":"https://api.github.com/users/cthoyt","html_url":"https://github.com/cthoyt","followers_url":"https://api.github.com/users/cthoyt/followers","following_url":"https://api.github.com/users/cthoyt/following{/other_user}","gists_url":"https://api.github.com/users/cthoyt/gists{/gist_id}","starred_url":"https://api.github.com/users/cthoyt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cthoyt/subscriptions","organizations_url":"https://api.github.com/users/cthoyt/orgs","repos_url":"https://api.github.com/users/cthoyt/repos","events_url":"https://api.github.com/users/cthoyt/events{/privacy}","received_events_url":"https://api.github.com/users/cthoyt/received_events","type":"User","site_admin":false},"committer":{"login":"cthoyt","id":5069736,"node_id":"MDQ6VXNlcjUwNjk3MzY=","avatar_url":"https://avatars.githubusercontent.com/u/5069736?v=4","gravatar_id":"","url":"https://api.github.com/users/cthoyt","html_url":"https://github.com/cthoyt","followers_url":"https://api.github.com/users/cthoyt/followers","following_url":"https://api.github.com/users/cthoyt/following{/other_user}","gists_url":"https://api.github.com/users/cthoyt/gists{/gist_id}","starred_url":"https://api.github.com/users/cthoyt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cthoyt/subscriptions","organizations_url":"https://api.github.com/users/cthoyt/orgs","repos_url":"https://api.github.com/users/cthoyt/repos","events_url":"https://api.github.com/users/cthoyt/events{/privacy}","received_events_url":"https://api.github.com/users/cthoyt/received_events","type":"User","site_admin":false},"parents":[{"sha":"07620c296d085a2a508a2aecf0bfe7969a5a2260","url":"https://api.github.com/repos/y0-causal-inference/y0/commits/07620c296d085a2a508a2aecf0bfe7969a5a2260","html_url":"https://github.com/y0-causal-inference/y0/commit/07620c296d085a2a508a2aecf0bfe7969a5a2260"}]},{"sha":"360e47c4e31023762e0874deb77da17cf0eb1a01","node_id":"C_kwDOE5hB_NoAKDM2MGU0N2M0ZTMxMDIzNzYyZTA4NzRkZWI3N2RhMTdjZjBlYjFhMDE","commit":{"author":{"name":"Charles
      Tapley Hoyt","email":"cthoyt@gmail.com","date":"2023-08-30T1[...]
[...]
