interactions:
- request:
    body: '{"name": "Test check", "head_sha": "75f355d8d14ba3d7761c728b4d2607cde0eef065",
      "status": "in_progress"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/check-runs
  response:
    content: "{\"id\":1256232357,\"node_id\":\"MDg6Q2hlY2tSdW4xMjU2MjMyMzU3\",\"head_sha\"\
      :\"75f355d8d14ba3d7761c728b4d2607cde0eef065\",\"external_id\":\"\",\"url\":\"\
      https://api.github.com/repos/ThiagoCodecov/example-python/check-runs/1256232357\"\
      ,\"html_url\":\"https://github.com/ThiagoCodecov/example-python/runs/1256232357\"\
      ,\"details_url\":\"https://app.codecov.io/gh/codecov/example-python/compare/1?src=pr\",\"status\":\"in_progress\",\"conclusion\"\
      :null,\"started_at\":\"2020-10-14T23:00:59Z\",\"completed_at\":null,\"output\"\
      :{\"title\":null,\"summary\":null,\"text\":null,\"annotations_count\":0,\"annotations_url\"\
      :\"https://api.github.com/repos/ThiagoCodecov/example-python/check-runs/1256232357/annotations\"\
      },\"name\":\"Test check\",\"check_suite\":{\"id\":1341719124},\"app\":{\"id\"\
      :254,\"slug\":\"codecov\",\"node_id\":\"MDM6QXBwMjU0\",\"owner\":{\"login\"\
      :\"codecov\",\"id\":8226205,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=\"\
      ,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/8226205?v=4\",\"\
      gravatar_id\":\"\",\"url\":\"https://api.github.com/users/codecov\",\"html_url\"\
      :\"https://github.com/codecov\",\"followers_url\":\"https://api.github.com/users/codecov/followers\"\
      ,\"following_url\":\"https://api.github.com/users/codecov/following{/other_user}\"\
      ,\"gists_url\":\"https://api.github.com/users/codecov/gists{/gist_id}\",\"starred_url\"\
      :\"https://api.github.com/users/codecov/starred{/owner}{/repo}\",\"subscriptions_url\"\
      :\"https://api.github.com/users/codecov/subscriptions\",\"organizations_url\"\
      :\"https://api.github.com/users/codecov/orgs\",\"repos_url\":\"https://api.github.com/users/codecov/repos\"\
      ,\"events_url\":\"https://api.github.com/users/codecov/events{/privacy}\",\"\
      received_events_url\":\"https://api.github.com/users/codecov/received_events\"\
      ,\"type\":\"Organization\",\"site_admin\":false},\"name\":\"Codecov\",\"description\"\
      :\"Codecov provides highly integrated tools to group, merge, archive and compare\
      \ coverage reports. Whether your team is comparing changes in a pull request\
      \ or reviewing a single commit, Codecov will improve the code review workflow\
      \ and quality.\\r\\n\\r\\n## Code coverage done right.\xAE\\r\\n\\r\\n1. Upload\
      \ coverage reports from your CI builds.\\r\\n2. Codecov merges all builds and\
      \ languages into one[...]
