interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://education.github.com/api/user
  response:
    content: "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html;
      charset=utf-8\">\n  <meta http-equiv=\"Content-Security-Policy\" content=\"default-src
      'none'; base-uri 'self'; connect-src 'self'; form-action 'self'; img-src 'self'
      data:; script-src 'self'; style-src 'unsafe-inline'\">\n  <meta name=\"viewport\"
      content=\"width=device-width, initial-scale=1.0, maximum-scale=5\">\n  <meta
      http-equiv=\"refresh\" content=\"30\">\n<title>GitHub Enterprise is currently
      down for maintenance</title>\n<style>\n  * {\n    -webkit-box-sizing: border-box;\n
      \      -moz-box-sizing: border-box;\n            box-sizing: border-box;\n  }\n\n
      \ html {\n    min-height: 100%;\n    background-color: #081218;\n    background-image:
      \   background-repeat: no-repeat;\n    background-position: center center;\n
      \   background-size: auto 100%;\n  }\n\n  body {\n    margin: 0;\n    padding:
      20px;\n    font-size: 18px;\n    font-family: \"Helvetica Neue\", Helvetica,
      Arial, sans-ser[...]
