interactions:
- request:
    body: '{"body": "Hello world"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/issues/1/comments
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/708550750","html_url":"https://github.com/ThiagoCodecov/example-python/pull/1#issuecomment-708550750","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1","id":708550750,"node_id":"MDEyOklzc3VlQ29tbWVudDcwODU1MDc1MA==","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars1.githubusercontent.com/u/44376991?u=d50e43da66b2dbe47099d854ebd3b489f1162d48&v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"created_at":"2020-10-14T17:32:01Z","updated_at":"2020-10-14T17:32:01Z","author_association":"OWNER","body":"Hello
      world","performed_via_github_app":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9df9356661b93c5a7be4c084ac91519307f9bb47a26e03d33327b6a349e66e99"'
      Location:
      - https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/708550750
      Status:
      - 201 Created
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1602700322'
      X-RateLimit-Used:
      - '1'
    status_code: 201
version: 1
