interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=main
  response:
    content: '[{"name":".gitignore","path":".gitignore","sha":"e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","size":1765,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=main","html_url":"https://github.com/ThiagoCodecov/example-python/blob/main/.gitignore","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/main/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=main","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","html":"https://github.com/ThiagoCodecov/example-python/blob/main/.gitignore"}},{"name":"Makefile","path":"Makefile","sha":"fb9193e8ee425d900aca761839c1429a94049933","size":1308,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/Makefile?ref=main","html_url":"https://github.com/ThiagoCodecov/example-python/blob/main/Makefile","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/fb9193e8ee425d900aca761839c1429a94049933","download_url":"https://raw.githubu[...]
