interactions:
- request:
    body: '{"body": "Hello world numbah 2 my friendo"}'
    headers:
    method: PATCH
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/436811257
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments/436811257","html_url":"https://github.com/ThiagoCodecov/example-python/pull/1#issuecomment-436811257","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1","id":436811257,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgxMTI1Nw==","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"created_at":"2018-11-07T23:08:03Z","updated_at":"2018-11-07T23:10:08Z","author_association":"OWNER","body":"Hello
        world numbah 2 my friendo"}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 23:10:09 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratel[...]
