interactions:
- request:
    body: '{"name": "web", "active": true, "events": ["project", "pull_request", "release"],
      "config": {"url": "http://requestbin.net/r/1ecyaj51", "secret": "new_secret",
      "content_type": "json"}}'
    headers:
    method: PATCH
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206
  response:
    body: {string: '{"type":"Repository","id":61813206,"name":"web","active":true,"events":["pull_request","project","release"],"config":{"content_type":"json","secret":"********","url":"http://requestbin.net/r/1ecyaj51","insecure_ssl":"0"},"updated_at":"2018-11-07T23:10:09Z","created_at":"2018-11-07T23:03:28Z","url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206","test_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206/test","ping_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks/61813206/pings","last_response":{"code":200,"status":"active","message":"OK"}}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 23:10:09 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!python/tuple
  [...]
