interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/branches?per_page=100&page=1
  response:
    body: {string: '[{"name":"example","commit":{"sha":"204d5bdef94d5aa07db499096d7f5ae93ed769a4","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/204d5bdef94d5aa07db499096d7f5ae93ed769a4"}},{"name":"future","commit":{"sha":"e451bd2ad777a858a665c05a2bfe484a2250cd15","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e451bd2ad777a858a665c05a2bfe484a2250cd15"}},{"name":"master","commit":{"sha":"b92edba44fdd29fcc506317cc3ddeae1a723dd08","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/b92edba44fdd29fcc506317cc3ddeae1a723dd08"}},{"n[...]
