[run]
branch = True
source = torngit

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    venv/*
    tests/*
    scripts/*
    psycopg2/*
    app/__init__.py
    app/**/__init__.py
    app/worker.py
    setup.py
