interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/teams?oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_nonce=dbc10ef2e7ee4f4b9c019b89745eeccb&oauth_timestamp=1574056367&oauth_signature=wv7DlwpctSVUuqoFHt3upJGLzz0%3D&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1
  response:
    body:
      string: !!python/unicode '{"pagelen": 10, "values": [{"permission": "admin",
        "type": "team_permission", "user": {"display_name": "Thiago Ramos", "uuid":
        "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
        "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
        "team": {"username": "codecov", "display_name": "Codecov", "type": "team",
        "uuid": "{6ef29b63-1288-4ceb-8dfc-af2c03f5cd49}", "links": {"self": {"href":
        "https://bitbucket.org/!api/2.0/teams/%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D"},
        "html": {"href": "https://bitbucket.org/%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D/"},
        "avatar": {"href": "https://bitbucket.org/account/codecov/avatar/"}}}}], "page":
        1, "size": 1}'
    headers:
    - !!python/tuple
      - Content-Length
      - - '977'
    - !!python/tuple
      - X-Render-Time
      - - '0.108701944351'
    - !!python/tuple
      - X-Credential-Type
      - - oauth1
    - !!python/tuple
      - Etag
      - - '"02f9ab37ae01295f6571584fd65d8f7e"'
    - !!python/tuple
      - X-Request-Count
      - - '1413'
    - !!python/tuple
      - X-Frame-Options
      - - SAMEORIGIN
    - !!python/tuple
      - X-Accepted-Oauth-Scopes
      - - account
    - !!python/tuple
      - X-Served-By
      - - app-1142
    - !!python/tuple
      - X-Cache-Info
      - - caching
    - !!python/tuple
      - Date
      - - Mon, 18 Nov 2019 05:52:48 GMT
    - !!python/tuple
      - Accept-Ranges
      - - bytes
    - !!python/tuple
      - Strict-Transport-Security
      - - max-age=31536000; includeSubDomains; preload
    - !!python/tuple
      - Server
      - - nginx
    - !!python/tuple
      - X-Version
      - - c991a84b6162
    - !!python/tuple
      - X-Static-Version
      - - c991a84b6162
    - !!python/tuple
      - X-Reads-Before-Write-From
      - - default
    - !!python/tuple
      - X-Content-Type-Options
      - - nosniff
    - !!python/tuple
      - Vary
      - - Authorization
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Cache-Control
      - - max-age=900
    - !!python/tuple
      - X-Oauth-Scopes
      - - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
          repository:delete, repository:admin, project:write, team:write, account:write
    - !!python/tuple
      - Content-Type
      - - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://bitbucket.org/api/2.0/user/permissions/teams?oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_nonce=dbc10ef2e7ee4f4b9c019b89745eeccb&oauth_timestamp=1574056367&oauth_signature=wv7DlwpctSVUuqoFHt3upJGLzz0%3D&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/repositories?oauth_nonce=bd8e04d8c7b3472cb4fbf56aab172dff&oauth_timestamp=1574056368&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1&oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_signature=iheZg4xmnE5HE%2FKopITGK%2FApb64%3D&page=1
  response:
    body:
      string: !!python/unicode '{"pagelen": 10, "values": [{"type": "repository_permission",
        "user": {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
        "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
        "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
        "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo"},
        "html": {"href": "https://bitbucket.org/codecov/ci-repo"}, "avatar": {"href":
        "https://bytebucket.org/ravatar/%7Ba980e378-088f-48a8-9850-98923f497546%7D?ts=default"}},
        "type": "repository", "name": "ci-repo", "full_name": "codecov/ci-repo", "uuid":
        "{a980e378-088f-48a8-9850-98923f497546}"}, "permission": "admin"}, {"type":
        "repository_permission", "user": {"display_name": "Thiago Ramos", "uuid":
        "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-managem[...]
- request:
    body: null
    headers:
    method: GET
    uri: !!python/unicode 'https://bitbucket.org/api/2.0/repositories/ThiagoCodecov?oauth_nonce=d0b6631056b84f36b770d38cec526f7b&oauth_timestamp=1574056368&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1&oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_signature=45G136GA9jmyveB2kYJnXRhat60%3D&page=1'
  response:
    body:
      string: !!python/unicode '{"pagelen": 10, "values": [{"scm": "git", "website":
        "", "has_wiki": false, "name": "example-python", "links": {"watchers": {"href":
        "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/watchers"},
        "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/branches"},
        "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/tags"},
        "commits": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commits"},
        "clone": [{"href": "https://ThiagoCodecov@bitbucket.org/ThiagoCodecov/example-python.git",
        "name": "https"}, {"href": "git@bitbucket.org:ThiagoCodecov/example-python.git",
        "name": "ssh"}], "self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
        "source": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/src"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
        {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"},
        "hooks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/hooks"},
        "forks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/forks"},
        "downloads": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/downloads"},
        "pullrequests": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests"}},
        "fork_policy": "no_public_forks", "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}",
        "language": "", "created_on": "2018-11-06T12:53:06.587605+00:00", "mainbranch":
        {"type": "branch", "name": "master"}, "full_name": "ThiagoCodecov/example-python",
        "has_issues": false, "owner": {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
        "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
        "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
        "updated_on": "2019-11-11T17:33:15.286595+00:00", "size": 550781, "type":
        "repository", "slug": "example-python", "is_private": true, "description":
        ""}], "page": 1, "size": 1}'
    headers:
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - - gzip
    - !!python/tuple
      - X-Credential-Type
      - - oauth1
    - !!python/tuple
      - X-Render-Time
      - - '0.0464339256287'
    - !!python/tuple
      - Etag
      - - '"gz[0c4564cacbabddaca5e3269a52edb655]"'
    - !!python/tuple
      - X-Request-Count
      - - '2295'
    - !!python/tuple
      - X-Frame-Options
      - - SAMEORIGIN
    - !!python/tuple
      - [...]
[...]
