interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d53/statuses?page=1&oauth_consumer_key=test51hdmhalc053rb&oauth_token=AgCFzqcDEXKjWZLPFD&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541600748&oauth_nonce=72e42ab0da7143a0ab3a7a6a9dad659f&oauth_version=1.0&oauth_signature=x9HN6uts0FTPXJp%2BwnFIRb99nPU%3D
  response:
    body: {string: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Vary
      - [Authorization]
    - !!python/tuple
      - Cache-Control
      - [max-age=900]
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - X-Oauth-Scopes
      - ['pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
          repository:delete, repository:admin, project:write, team:write, account:write']
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000; includeSubDomains; preload]
    - !!python/tuple
      - Date
      - ['Wed, 07 Nov 2018 14:25:49 GMT']
    - !!python/tuple
      - X-Served-By
      - [app-141]
    - !!python/tuple
      - Etag
      - ['"e671435b14693e94f294247ac6f96b5f"']
    - !!python/tuple
      - X-Static-Version
      - [1f6d684e3c29]
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - X-Accepted-Oauth-Scopes
      - [repository]
    - !!python/tuple
      - X-Credential-Type
      - [oauth1]
    - !!python/tuple
      - X-Render-Time
      - ['0.128561019897']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - X-Request-Count
      - ['267']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Version
      - [1f6d684e3c29]
    - !!python/tuple
      - X-Cache-Info
      - [caching]
    - !!python/tuple
      - Content-Length
      - ['51']
    status: {code: 200, message: OK}
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d53/statuses?page=1&oauth_consumer_key=test51hdmhalc053rb&oauth_token=AgCFzqcDEXKjWZLPFD&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541600748&oauth_nonce=72e42ab0da7143a0ab3a7a6a9dad659f&oauth_version=1.0&oauth_signature=x9HN6uts0FTPXJp%2BwnFIRb99nPU%3D
version: 1
