interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b64?oauth_consumer_key=test51hdmhalc053rb&oauth_token=AgCFzqcDEXKjWZLPFD&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541519487&oauth_nonce=08e3818f87094d8faded52aba92bef50&oauth_version=1.0&oauth_signature=UETjfARbCo7AL%2FNqPZRaQvVFrMk%3D
  response:
    body: {string: '{"hash": "6895b6479dbe12b5cb3baa02416c6343ddb888b4", "repository":
        {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
        {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
        "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
        "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "links": {"self": {"href":
        "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
        "comments": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/comments"},
        "patch": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
        "diff": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
        "approve": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/approve"},
        "statuses": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/statuses"}},
        "author": {"raw": "Jerrod <jerrod@fundersclub.com>"}, "summary": {"raw": "Adding
        ''include'' term if multiple sources\n\nbased on a support ticket around multiple
        sources\r\n\r\nhttps://codecov.freshdesk.com/a/tickets/87", "markup": "markdown",
        "html": "<p>Adding ''include'' term if multiple sources</p>\n<p>based on a
        support ticket around multiple sources</p>\n<p><a href=\"https://codecov.freshdesk.com/a/tickets/87\"
        rel=\"nofollow\" class=\"ap-connect-link\">https://codecov.freshdesk.com/a/tickets/87</a></p>",
        "type": "rendered"}, "participants": [], "parents": [{"hash": "adb252173d2107fad86bcdcbc149884c2dd4c609",
        "type": "commit", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/adb252173d2107fad86bcdcbc149884c2dd4c609"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/adb252173d2107fad86bcdcbc149884c2dd4c609"}}}],
        "date": "2018-07-09T23:39:20+00:00", "message": "Adding ''include'' term if
        multiple sources\n\nbased on a support ticket around multiple sources\r\n\r\nhttps://codecov.freshdesk.com/a/tickets/87",
        "type": "commit"}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Vary
      - ['Authorization, Accept-Encoding']
    - !!python/tuple
      - Cache-Control
      - [max-age=900]
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
 [...]
