interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/commits/dd798926730aad14aadf72281204bdb85734fe67/merge_requests
  response:
    body:
      string: '[{"id":181852,"iid":2,"project_id":187725,"title":"Other branch","description":"sadfsadf","state":"closed","created_at":"2015-10-20T10:07:15.430Z","updated_at":"2015-10-20T10:47:25.003Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"other-branch","user_notes_count":1,"upvotes":0,"downvotes":0,"assignee":null,"author":{"id":256075,"name":"Mahmut
        Bayri","username":"mahmutbayri","state":"active","avatar_url":"https://secure.gravatar.com/avatar/d28ee7e15f316b46fd6904449c22188f?s=80\u0026d=identicon","web_url":"https://gitlab.com/mahmutbayri"},"assignees":[],"source_project_id":482893,"target_project_id":187725,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"02f639e9edeec1ddaf8029ebc047707a53bc5c18","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"allow_collaboration":null,"allow_maintainer_to_push":null,"reference":"!2","references":{"short":"!2","relative":"!2","full":"codecov/ci-repo!2"},"web_url":"https://gitlab.com/codecov/ci-repo/-/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null},{"id":59639,"iid":1,"project_id":187725,"title":"Other
        branch","description":"","state":"opened","created_at":"2015-03-12T04:40:38.680Z","updated_at":"2020-04-24T02:53:32.995Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"other-branch","user_notes_count":91,"upvotes":0,"downvotes":0,"assignee":null,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://assets.gitlab-static.n[...]
[...]
