interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups/4037482/members/all/3108129
    response:
      url: https://gitlab.com/api/v4/groups/4037482/members/all/3108129
      content: '{"id":3108129,"name":"Eli Hooten","username":"hootener","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ab022b5adf4e3edc9ea77fe7fd561837?s=80\u0026d=identicon","web_url":"https://gitlab.com/hootener","access_level":50,"expires_at":null}'
      headers:
        Ratelimit-Remaining: '599'
        Ratelimit-Reset: '1574271035'
        Ratelimit-Limit: '600'
        Gitlab-Sv: localhost
        Etag: W/"ce7fa4ae0ad9b560bd4bb61da4f8d66f"
        Gitlab-Lb: fe-10-lb-gprd
        Content-Type: application/json
        Ratelimit-Resettime: Wed, 20 Nov 2019 17:30:35 GMT
        Ratelimit-Observed: '1'
      status_code: 200
version: 1
