interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups?per_page=100
    response:
      url: https://gitlab.com/api/v4/groups?per_page=100
      content: '[{"id":726800,"web_url":"https://gitlab.com/groups/delectamentum-mud","name":"delectamentum-mud","path":"delectamentum-mud","description":"Server
        and client for the MUD built by delectamentum","visibility":"public","lfs_enabled":true,"avatar_url":null,"request_access_enabled":true,"full_name":"delectamentum-mud","full_path":"delectamentum-mud","parent_id":null,"ldap_cn":null,"ldap_access":null}]'
      headers:
        Content-Type: application/json
        Etag: W/"48ef1f363add5151788ef2efc8bae6ae"
        Link: <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '100'
        X-Prev-Page: ''
        X-Total: '1'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '1'
        Ratelimit-Remaining: '599'
        Ratelimit-Reset: '1541481487'
        Ratelimit-Resettime: Wed, 06 Nov 2018 05:18:07 GMT
      status_code: 200
version: 1
