interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=main&path=folder&per_page=100
    response:
      url: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=main&path=folder&per_page=100
      content: '[{"id":"3b18e512dba79e4c8300dd08aeb37f8e728b8dad","name":"hello-world.txt","type":"blob","path":"folder/hello-world.txt","mode":"100644"}]'
      headers:
        Content-Type: application/json
        Etag: W/"46598bb942924146ec4836f29516d6f1"
        Link: <https://gitlab.com/api/v4/projects/187725/repository/tree?id=187725&page=1&path=folder&per_page=20&recursive=false&ref=main>;
          rel="first", <https://gitlab.com/api/v4/projects/187725/repository/tree?id=187725&page=1&path=folder&per_page=20&recursive=false&ref=main>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '20'
        X-Prev-Page: ''
        X-Total: '1'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '2'
        Ratelimit-Remaining: '598'
        Ratelimit-Reset: '1583532696'
        Ratelimit-Resettime: Fri, 06 Mar 2020 22:11:36 GMT
        Gitlab-Lb: fe-04-lb-gprd
        Gitlab-Sv: localhost
      status_code: 200
version: 1
