interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/branches/main
  response:
    content: '{"name":"main","commit":{"id":"0fc784af11c401449e56b24a174bae7b9af86c98","short_id":"0fc784af","created_at":"2023-06-27T11:13:34.000-04:00","parent_ids":["b64b9b4c25c6c088781ead5eae424f156ee98d8c"],"title":"3","message":"3\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:13:34.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.io","committed_date":"2023-06-27T11:13:34.000-04:00","trailers":{},"web_url":"https://gitlab.com/joseph-sentry/example-python/-/commit/0fc784af11c401449e56b24a174bae7b9af86c98"},"merged":false,"protected":true,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":true,"web_url":"https://gitlab.com/joseph-sentry/example-python/-/tree/main"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc6c2ab0a46ec8ec3206a880d101b54d"
      GitLab-LB:
      - fe-14-lb-gprd
      GitLab-SV:
      - api-gke-us-east1-d
      X-Gitlab-Meta:
      - '{"correlation_id":"35ed075323ab9c477e7353e72d454624","version":"1"}'
    status_code: 200
version: 1
