interactions:
  - request:
      body: code=7c005cbb342626fffe4f24e5eedac28d9e8fa1c8592808dd294bfe0d39ea084d&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogin%2Fgl&client_id=testsb4ooxhwdveqlkv2gpoqq1n2tf54kzwv3q9xvsqfq45c33lx0jxp4j8a0och&client_secret=testux56mx9le9kn3cf0p8j8s1qpuurxk6wqebni1vm3slvbpuhmblgefp6yyoam
      headers:
      method: POST
      uri: https://gitlab.com/oauth/token
    response:
      url: https://gitlab.com/oauth/token
      content: '{"access_token":"testhi9nk25akajgzhudabirpz3vjau7qe8i9mavz2d9i1i0cfwjp8ggkcqavglx","token_type":"Bearer","refresh_token":"testwnoeg1a4bjhoa65vzxdn8grh4asp0b6l4idtdazw7ps5h8xx77m8gbyty7gi","scope":"api","created_at":1599149427}'
      headers:
        X-Http-Reason: OK
        Content-Type: application/json; charset=utf-8
        Etag: W/"e20e24aba72dd0c24b3aab58a8bbaf2d"
        Gitlab-Lb: fe-12-lb-gprd
        Gitlab-Sv: web-06-sv-gprd
      status_code: 200
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/user
    response:
      url: https://gitlab.com/api/v4/user
      content: '{"id":3124507,"name":"Thiago Ramos","username":"ThiagoCodecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/337420e188ca8138d4b8599d3a20ad47?s=80\u0026d=identicon","web_url":"https://gitlab.com/ThiagoCodecov","created_at":"2018-11-12T19:05:01.723Z","bio":"","bio_html":"","location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"job_title":"","work_information":null,"last_sign_in_at":"2020-05-28T21:29:21.563Z","confirmed_at":"2018-11-12T19:05:01.249Z","last_activity_on":"2020-09-03","email":"thiago@codecov.io","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2020-09-03T15:46:43.559Z","identities":[{"provider":"google_oauth2","extern_uid":"114705562456763720684","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null}'
      headers:
        X-Http-Reason: OK
        Content-Type: application/json
        Etag: W/"17b57d5f5a096afd1f7222c273a0f640"
        Gitlab-Lb: fe-04-lb-gprd
        Gitlab-Sv: api-01-sv-gprd
      status_code: 200
version: 1
