interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/user
  response:
    body:
      string: !!python/unicode '{"id":3124507,"name":"Thiago Ramos","username":"ThiagoCodecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/337420e188ca8138d4b8599d3a20ad47?s=80\u0026d=identicon","web_url":"https://gitlab.com/ThiagoCodecov","created_at":"2018-11-12T19:05:01.723Z","bio":null,"location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2019-07-16T21:18:29.703Z","confirmed_at":"2018-11-12T19:05:01.249Z","last_activity_on":"2019-08-28","email":"thiago@codecov.io","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2019-08-28T10:01:43.462Z","identities":[{"provider":"google_oauth2","extern_uid":"114705562456763720684","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null}'
    headers:
    - !!python/tuple
      - Content-Length
      - - '943'
    - !!python/tuple
      - Referrer-Policy
      - - strict-origin-when-cross-origin
    - !!python/tuple
      - X-Content-Type-Options
      - - nosniff
    - !!python/tuple
      - Ratelimit-Remaining
      - - '599'
    - !!python/tuple
      - Strict-Transport-Security
      - - max-age=31536000
    - !!python/tuple
      - Vary
      - - Origin
    - !!python/tuple
      - X-Request-Id
      - - kaHmyPgvSV2
    - !!python/tuple
      - Ratelimit-Reset
      - - '1566990971'
    - !!python/tuple
      - Server
      - - nginx
    - !!python/tuple
      - Ratelimit-Limit
      - - '600'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Etag
      - - W/"8dffae120254dc912037c596c7c61bcf"
    - !!python/tuple
      - Cache-Control
      - - max-age=0, private, must-revalidate
    - !!python/tuple
      - Date
      - - Wed, 28 Aug 2019 11:15:11 GMT
    - !!python/tuple
      - X-Frame-Options
      - - SAMEORIGIN
    - !!python/tuple
      - X-Runtime
      - - '0.030201'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Ratelimit-Resettime
      - - Wed, 28 Aug 2019 11:16:11 GMT
    - !!python/tuple
      - Ratelimit-Observed
      - - '1'
    status:
      code: 200
      message: OK
    url: https://gitlab.com/api/v4/user
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=100
  response:
    body:
      string: !!python/unicode '[{"id":4037482,"web_url":"https://gitlab.com/groups/codecov-organization","name":"Codecov
        Organization","path":"codecov-organization","description":"Codecov organizational
        and private repos group. ","visibility":"private","lfs_enabled":true,"avatar_url":"https://gitlab.com/uploads/-/system/group/avatar/4037482/codecov_avatar.png","request_access_enabled":false,"full_name":"Codecov
        Organization","full_path":"codecov-organization","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":5938762,"web_url":"https://gitlab.com/groups/thiagocodecovtestgroup","name":"ThiagoCodecovTestGroup","path":"thiagocodecovtestgroup","description":"","visibility":"private","lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"ThiagoCodecovTestGroup","full_path":"thiagocodecovtestgroup","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":5938764,"web_url":"https://gitlab.com/groups/thiagocodecovtestgroup/test-subgroup","name":"test-subgroup","path":"t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/4037482/projects?per_page=50&page=1
  response:
    body:
      string: !!python/unicode '[{"id":12060694,"description":" A GitLab demo for
        codecov, showing CI, flags, etc.","name":"demo-gitlab","name_with_namespace":"Codecov
        Organization / demo-gitlab","path":"demo-gitlab","path_with_namespace":"codecov-organization/demo-gitlab","created_at":"2019-04-27T15:56:21.542Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:codecov-organization/demo-gitlab.git","http_url_to_repo":"https://gitlab.com/codecov-organization/demo-gitlab.git","web_url":"https://gitlab.com/codecov-organization/demo-gitlab","readme_url":"https://gitlab.com/codecov-organization/demo-gitlab/blob/master/README.md","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2019-04-29T10:57:12.799Z","namespace":{"id":4037482,"name":"Codecov
        Organization","path":"codecov-organization","kind":"group","full_path":"codecov-organization","parent_id":null,"avatar_url":"https://gitlab.com/uploads/-/system/group/avatar/4037482/codecov_avatar.png","web_url":"https://gitlab.com/groups/codecov-organization"},"_links":{"self":"https://gitlab.com/api/v4/projects/12060694","issues":"https://gitlab.com/api/v4/projects/12060694/issues","merge_requests":"https://gitlab.com/api/v4/projects/12060694/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/12060694/repository/branches","labels":"https://gitlab.com/api/v4/projects/12060694/labels","events":"https://gitlab.com/api/v4/projects/12060694/events","members":"https://gitlab.com/api/v4/projects/12060694/members"},"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":3108129,"import_status":"none","open_issues_count":0,"ci_default_git_depth":null,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","mirror":false,"external_authorization_classification_label":""},{"id":10575601,"description":"Tests
        for codecov assume flags","name":"codecov-assume-flag-test","name_with_namespace":"Codecov
        Organization / codecov-assume-flag-test","path":"codecov-assume-flag-test","path_with_namespace":"codecov-organization/codecov-assume-flag-test","created_at":"2019-01-28T15:12:11.654Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:codecov-organization/codecov-assume-flag-t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/5064907
  response:
    body:
      string: !!python/unicode '{"id":5064907,"description":"GitLab release tasks
        project, release managers issue tracker","name":"tasks","name_with_namespace":"GitLab.org
        / release / tasks","path":"tasks","path_with_namespace":"gitlab-org/release/tasks","created_at":"2018-01-05T11:51:22.955Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects?owned=true&per_page=50&page=1
  response:
    body:
      string: !!python/unicode '[{"id":14027433,"description":"GitLab release tasks
        project, release managers issue tracker","name":"tasks","name_with_namespace":"ThiagoCodecovTestGroup
        / test-subgroup / tasks","path":"tasks","path_with_namespace":"thiagocodecovtestgroup/test-subgroup/tasks","created_at":"2019-08-28T11:14:45.905Z",[...]
[...]
