interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/30951850/merge_requests/1/diffs
  response:
    content: "[{\"diff\":\"@@ -1,11 +0,0 @@\\n-# Learn Gitlab\\n-\\n-We prepared tutorials
      to help you set up GitLab in a way to support your complete software development
      life cycle. Each tutorial is contained in an issue, and features a task to complete.\\n-\\n-View
      the tutorials by clicking on [Issues \\u003e Boards](../../boards) in the left
      sidebar. Complete each tutorial in turn by working through the Open list. When
      you've completed a tutorial, drag its issue card to the Closed list and move
      on to the next.\\n-\\n-\\u003ca href=\\\"../../boards\\\"\\u003e\\u003cimg src=\\\"/issue-board.png\\\"
      width=\\\"700\\\" /\\u003e\\u003c/a\\u003e\\n-\\n-# Don\u2019t need this project
      anymore?\\n-\\n-You can delete it by going to [Settings \\u003e General](../../../edit),
      then expand the \u201CAdvanced\u201D section at the bottom of the page and either
      archive or remove the project.\\n\",\"new_path\":\"README.md\",\"old_path\":\"README.md\",\"a_mode\":\"100644\",\"b_mode\":\"0\",\"new_file\":false,\"renamed_file\":false,\"deleted_file\":true}]"
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"359fd2183d5fa775e07032b0519a43d0"
      GitLab-LB:
      - fe-15-lb-gprd
      GitLab-SV:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/projects/30951850/merge_requests/1/diffs?id=30951850&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/30951850/merge_requests/1/diffs?id=30951850&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      RateLimit-Limit:
      - '2000'
      RateLimit-Observed:
      - '1'
      RateLimit-Remaining:
      - '1999'
      RateLimit-Reset:
      - '1683198817'
      RateLimit-ResetTime:
      - Thu, 04 May 2023 11:13:37 GMT
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    status_code: 200
version: 1
