interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups?per_page=3
    response:
      url: https://gitlab.com/api/v4/groups?per_page=3
      content: '[{"id":5608536,"web_url":"https://gitlab.com/groups/bevera","name":"Bevera","path":"bevera","description":"Bevera
        Code and Issues.","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":false,"full_name":"Bevera","full_path":"bevera","created_at":"2019-07-10T15:34:43.654Z","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":4165904,"web_url":"https://gitlab.com/groups/l00p_group_1","name":"My
        Awesome Group","path":"l00p_group_1","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":false,"full_name":"My
        Awesome Group","full_path":"l00p_group_1","created_at":"2018-12-01T19:44:36.005Z","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":5542118,"web_url":"https://gitlab.com/groups/sm-package-zen","name":"Package
        Zen","path":"sm-package-zen","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":false,"full_name":"Package
        Zen","full_path":"sm-package-zen","created_at":"2019-07-01T19:57:39.988Z","parent_id":null,"ldap_cn":null,"ldap_access":null}]'
      headers:
        Content-Type: application/json
        Etag: W/"508ec68e5c00b0266ebbc7533b124456"
        Link: <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=2&per_page=3&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="next", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=3&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=3&per_page=3&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"
        X-Next-Page: '2'
        X-Page: '1'
        X-Per-Page: '3'
        X-Prev-Page: ''
        X-Total: '8'
        X-Total-Pages: '3'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '7'
        Ratelimit-Remaining: '593'
        Ratelimit-Reset: '1586912436'
        Ratelimit-Resettime: Wed, 15 Apr 2020 01:00:36 GMT
        Gitlab-Lb: fe-02-lb-gprd
        Gitlab-Sv: localhost
        X-Consumed-Content-Encoding: gzip
      status_code: 200
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups?per_page=3&page=2
    response:
      url: https://gitlab.com/api/v4/groups?per_page=3&page=2
      content: '[{"id":4570068,"web_url":"https://gitlab.com/groups/falco-group-1","name":"falco-group-1","path":"falco-group-1","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"dev[...]
[...]
