interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=100
  response:
    content: '[{"id":4037482,"web_url":"https://gitlab.com/groups/codecov-organization","name":"Codecov
      Organization","path":"codecov-organization","description":"Codecov organizational
      and private repos group. ","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":"https://gitlab.com/uploads/-/system/group/avatar/4037482/codecov_avatar.png","request_access_enabled":false,"full_name":"Codecov
      Organization","full_path":"codecov-organization","created_at":"2018-11-15T15:58:42.306Z","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":726800,"web_url":"https://gitlab.com/groups/delectamentum-mud","name":"delectamentum-mud","path":"delectamentum-mud","description":"Server
      and client for the MUD built by delectamentum","visibility":"public","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default[...]
