interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/user
    response:
      url: https://gitlab.com/api/v4/user
      content: '{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov","created_at":"2015-03-10T10:23:04.323Z","bio":"Code
        coverage done right.®","location":"","public_email":"hello@codecov.io","skype":"","linkedin":"","twitter":"@codecov","website_url":"https://codecov.io","organization":"","last_sign_in_at":"2017-12-11T13:27:17.950Z","confirmed_at":"2015-03-10T10:23:36.102Z","last_activity_on":"2018-08-30","email":"hello@codecov.io","theme_id":null,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2018-08-30T18:40:31.616Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":null,"shared_runners_minutes_limit":2000}'
      headers:
        Content-Type: application/json
        Etag: W/"3ba0c085997617a490e9a7bd5238d8f8"
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '2'
        Ratelimit-Remaining: '598'
        Ratelimit-Reset: '1541481484'
        Ratelimit-Resettime: Wed, 06 Nov 2018 05:18:04 GMT
      status_code: 200
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups?per_page=100
    response:
      url: https://gitlab.com/api/v4/groups?per_page=100
      content: '[{"id":726800,"web_url":"https://gitlab.com/groups/delectamentum-mud","name":"delectamentum-mud","path":"delectamentum-mud","description":"Server
        and client for the MUD built by delectamentum","visibility":"public","lfs_enabled":true,"avatar_url":null,"request_access_enabled":true,"full_name":"delectamentum-mud","full_path":"delectamentum-mud","parent_id":null,"ldap_cn":null,"ldap_access":null}]'
      headers:
        Content-Type: application/json
        Etag: W/"48ef1f363add5151788ef2efc8bae6ae"
        Link: <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '100'
        X-Prev-Page: ''
        X-Total: '1'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '1'
        Ratelimit-Remaining: '599'
        Ratelimit-Reset: '1541481485'
        Ratelimit-Resettime: Wed, 06 Nov 2018 05:18:05 GMT
      status_code: 200
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/groups/726800/projects?per_page=50&page=1
    response:
      url: https://gitlab.com/api/v4/groups/726800/projects?per_page=50&page=1
      content: '[{"id":1384844,"description":"The engine and server for the delectamentum
        MUD. Connect to it with the delectamentum mud client","name":"delectamentum-mud-server","name_with_namespace":"Aaron
        Echols / delectamentum-mud-server","path":"delectamentum-mud-server","path_with_namespace":"morerunes/delectamentum-mud-server","created_at":"2016-07-09T18:16:53.481Z","default_branch":"main","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:morerunes/delectamentum-mud-server.git","http_url_to_repo":"https://gitlab.com/morerunes/delectamentum-mud-server.git","web_url":"https://gitlab.com/morerunes/delectamentum-mud-server","readme_url":"https://gitlab.com/morerunes/delectamentum-mud-server/blob/main/README.md","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-01-24T03:11:05.389Z","namespace":{"id":223023,"name":"morerunes","path":"morerunes","kind":"user","full_path":"morerunes","parent_id":null},"_links":{"self":"https://gitlab.com/api/v4/projects/1384844","issues":"https://gitlab.com/api/v4/projects/1384844/issues","merge_requests":"https://gitlab.com/api/v4/projects/1384844/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1384844/repository/branches","labels":"https://gitlab.com/api/v4/projects/1384844/labels","events":"https://gitlab.com/api/v4/projects/1384844/events","members":"https://gitlab.com/api/v4/projects/1384844/members"},"archived":false,"visibility":"public","owner":{"id":189208,"name":"Aaron
        Echols","username":"morerunes","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c6486a95668969d682a7551ccfae54a7?s=80\u0026d=identicon","web_url":"https://gitlab.com/morerunes"},"resolve_outdated_diff_discussions":null,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":189208,"import_status":"none","open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[{"group_id":726800,"group_name":"delectamentum-mud","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","approvals_before_merge":0,"mirror":false}]'
      headers:
        Content-Type: application/json
        Etag: W/"312d1de5a73d77e2d41892fe48d867c7"
        Link: <https://gitlab.com/api/v4/groups/726800/projects?archived=false&id=726800&order_by=created_at&owned=false&page=1&per_page=50&simple=false&sort=desc&starred=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
          rel="first", <https://gitlab.com/api/v4/groups/726800/projects?archived=false&id=726800&order_by=created_at&owned=false&page=1&per_page=50&simple=false&sort=desc&starred=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '50'
        X-Prev-Page: ''
        X-Total: '1'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '2'
        Ratelimit-Remaining: '598'
        Ratelimit-Reset: '1541481486'
        Ratelimit-Resettime: Wed, 06 Nov 2018 05:18:06 GMT
      status_code: 200
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/projects?owned=true&per_page=50&page=1
    response:
      url: https://gitlab.com/api/v4/projects?owned=true&per_page=50&page=1
      content: '[{"id":580838,"description":"Python coverage example","name":"example-python","name_with_namespace":"Codecov
        / example-python","path":"example-python","path_with_namespace":"codecov/example-python","created_at":"2015-11-07T13:26:29.369Z","default_[...]
