interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=main&per_page=100
    response:
      url: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=main&per_page=100
      content: '[{"id":"1da1ddbfe1ed846f7493964bf489754e464eef64","name":"folder","type":"tree","path":"folder","mode":"040000"},{"id":"c77cff04774d6debf9f8f645323fbe1cea368692","name":".gitignore","type":"blob","path":".gitignore","mode":"100644"},{"id":"321cc67810818865affe8f6bac28f50d3c0a761c","name":".travis.yml","type":"blob","path":".travis.yml","mode":"100644"},{"id":"7974a2260a70aab9ce8ae581fba307c6d448c468","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"c6b04a8c4a6bd3f8c12e65c7ad3ac759166298dd","name":"large.md","type":"blob","path":"large.md","mode":"100644"},{"id":"478e1519b72ffd69712d77c5f50dd45b203846c4","name":"my_package.py","type":"blob","path":"my_package.py","mode":"100644"},{"id":"20642e5c79ebd16b1c87ca300ff8b1afd478be5e","name":"tests.py","type":"blob","path":"tests.py","mode":"100644"}]'
      headers:
        Content-Type: application/json
        Etag: W/"feac3762d9937f4d8568f69c70f52d51"
        Link: <https://gitlab.com/api/v4/projects/187725/repository/tree?id=187725&page=1&per_page=20&recursive=false&ref=main>;
          rel="first", <https://gitlab.com/api/v4/projects/187725/repository/tree?id=187725&page=1&per_page=20&recursive=false&ref=main>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '20'
        X-Prev-Page: ''
        X-Total: '7'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '1'
        Ratelimit-Remaining: '599'
        Ratelimit-Reset: '1567084560'
        Ratelimit-Resettime: Thu, 29 Aug 2019 13:16:00 GMT
      status_code: 200
version: 1
