interactions:
  - request:
      body: '{"body": "Hello world"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes
    response:
      url: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes
      content: '{"id":113977323,"type":null,"body":"Hello world","attachment":null,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov"},"created_at":"2018-11-02T05:25:09.363Z","updated_at":"2018-11-02T05:25:09.363Z","system":false,"noteable_id":59639,"noteable_type":"MergeRequest","resolvable":false,"noteable_iid":1}'
      headers:
        Content-Type: application/json
        Etag: W/"4ccd7068de297e4b5bdfe42cd5b92d44"
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '2'
        Ratelimit-Remaining: '598'
        Ratelimit-Reset: '1541136369'
        Ratelimit-Resettime: Sat, 02 Nov 2018 05:26:09 GMT
      status_code: 201
version: 1
