interactions:
  - request:
      body: '{"body": "Hello world number 2"}'
      headers:
        Content-Type:
          - application/json
      method: PUT
      uri: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes/113977323
    response:
      url: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes/113977323
      content: '{"id":113977323,"type":null,"body":"Hello world number 2","attachment":null,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov"},"created_at":"2018-11-02T05:25:09.363Z","updated_at":"2018-11-02T05:25:53.612Z","system":false,"noteable_id":59639,"noteable_type":"MergeRequest","resolvable":false,"noteable_iid":1}'
      headers:
        Content-Type: application/json
        Etag: W/"30094dfa7e43a90a8f05a73e82200a64"
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '2'
        Ratelimit-Remaining: '598'
        Ratelimit-Reset: '1541136413'
        Ratelimit-Resettime: Sat, 02 Nov 2018 05:26:53 GMT
      status_code: 200
version: 1
