interactions:
  - request:
      body: '{"url": "http://requestbin.net/r/1ecyaj51", "enable_ssl_verification":
        true, "job_events": true}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://gitlab.com/api/v4/projects/187725/hooks
    response:
      url: https://gitlab.com/api/v4/projects/187725/hooks
      content: '{"id":422507,"url":"http://requestbin.net/r/1ecyaj51","created_at":"2018-11-06T04:51:57.164Z","push_events":true,"tag_push_events":false,"merge_requests_events":false,"repository_update_events":false,"enable_ssl_verification":true,"project_id":187725,"issues_events":false,"confidential_issues_events":false,"note_events":false,"confidential_note_events":null,"pipeline_events":false,"wiki_page_events":false,"job_events":true,"push_events_branch_filter":null}'
      headers:
        Content-Type: application/json
        Etag: W/"9f33e8b2ea308e14bcd19be87f43d094"
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '1'
        Ratelimit-Remaining: '599'
        Ratelimit-Reset: '1541479977'
        Ratelimit-Resettime: Wed, 06 Nov 2018 04:52:57 GMT
      status_code: 201
version: 1
