interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://gitlab.com/api/v4/projects/187725/repository/branches
    response:
      url: https://gitlab.com/api/v4/projects/187725/repository/branches
      content: '[{"name":"main","commit":{"id":"0028015f7fa260f5fd68f78c0deffc15183d955e","short_id":"0028015f","title":"added
        large file","created_at":"2014-10-19T14:32:33.000+00:00","parent_ids":null,"message":"added
        large file","author_name":"stevepeak","author_email":"steve@stevepeak.net","authored_date":"2014-10-19T14:32:33.000+00:00","committer_name":"stevepeak","committer_email":"steve@stevepeak.net","committed_date":"2014-10-19T14:32:33.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":true},{"name":"other-branch","commit":{"id":"dd798926730aad14aadf72281204bdb85734fe67","short_id":"dd798926","title":"left
        blank","created_at":"2014-09-04T16:13:44.000+00:00","parent_ids":null,"message":"left
        blank","author_name":"stevepeak","author_email":"steve@stevepeak.net","authored_date":"2014-09-04T16:13:44.000+00:00","committer_name":"stevepeak","committer_email":"steve@stevepeak.net","committed_date":"2014-09-04T16:13:44.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false}]'
      headers:
        Content-Type: application/json
        Etag: W/"1a04e16fb74995f2f09ab731f1b1b420"
        Link: <https://gitlab.com/api/v4/projects/187725/repository/branches?id=187725&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/187725/repository/branches?id=187725&page=1&per_page=20>;
          rel="last"
        X-Next-Page: ''
        X-Page: '1'
        X-Per-Page: '20'
        X-Prev-Page: ''
        X-Total: '2'
        X-Total-Pages: '1'
        Ratelimit-Limit: '600'
        Ratelimit-Observed: '3'
        Ratelimit-Remaining: '597'
        Ratelimit-Reset: '1541445250'
        Ratelimit-Resettime: Tue, 05 Nov 2018 19:14:10 GMT
      status_code: 200
version: 1
