interactions:
- request:
    body: '{"title": "Issue here", "description": "Hello world"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://gitlab.com/api/v4/projects/187725/issues
  response:
    content: '{"id":143635777,"iid":1,"project_id":47404140,"title":"Issue here","description":"Hello
      world","state":"opened","created_at":"2024-03-21T14:40:24.642Z","updated_at":"2024-03-21T14:40:24.642Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":20580921,"username":"project_47404140_bot_6604c7333678afe52958382883eb26bc","name":"test","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/3ac36fef4d4df2f206b857afe97511b650a91ff2894fe89153e88c038944abf9?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_47404140_bot_6604c7333678afe52958382883eb26bc"},"type":"ISSUE","assignee":null,"user_notes_count":0,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/joseph-sentry/example-python/-/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":true,"task_status":"0
      of 0 checklist items completed","_links":{"self":"https://gitlab.com/api/v4/projects/47404140/issues/1","notes":"https://gitlab.com/api/v4/projects/47404140/issues/1/notes","award_emoji":"https://gitlab.com/api/v4/projects/47404140/issues/1/award_emoji","project":"https://gitlab.com/api/v4/projects/47404140","closed_as_duplicate_of":null},"references":{"short":"#1","relative":"#1","full":"joseph-sentry/example-python#1"},"severity":"UNKNOWN","subscribed":true,"moved_to_id":null,"service_desk_reply_to":null}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"a540a0735dfca47240fbbdb62a0ed518"
      gitlab-lb:
      - haproxy-main-26-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      x-gitlab-meta:
      - '{"correlation_id":"1692060331a0f8186c2d3fec1eba0b25","version":"1"}'
    status_code: 201
version: 1
