interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/commits?ref_name=c739768fcac68144a3a6d82305b9c4106934d31a
  response:
    body: {string: '[{"id":"c739768fcac68144a3a6d82305b9c4106934d31a","short_id":"c739768f","created_at":"2014-08-20T21:52:44.000Z","parent_ids":["b33e12816cc3f386dae8add4968cedeff5155021"],"title":"shhhh
        i''m batman!","message":"shhhh i''m batman!\n","author_name":"stevepeak","author_email":"steve@stevepeak.net","authored_date":"2014-08-20T21:52:44.000Z","committer_name":"stevepeak","committer_email":"steve@stevepeak.net","committed_date":"2014-08-20T21:52:44.000Z"},{"id":"b33e12816cc3f386dae8add4968cedeff5155021","short_id":"b33e1281","created_at":"2014-08-20T21:50:56.000Z","parent_ids":["743b04806ea677403aa2ff26c6bdeb85005de658"],"title":"added
        nothing amazing","message":"added nothing amazing\n","author_name":"stevepeak","author_email":"steve@stevepeak.net","authored_date":"2014-08-20T21:50:56.000Z","committer_name":"stevepeak","committer_email":"steve@stevepeak.net","committed_date":"2014-08-20T21:50:56.000Z"},{"id":"[...]
