interactions:
- request:
    body: '{"body": "Hello world"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes
  response:
    body: {string: '{"id":113977323,"type":null,"body":"Hello world","attachment":null,"author":{"id":109640,"name":"Codecov","username":"codecov","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dcdb35375db567705dd7e74226fae67b?s=80\u0026d=identicon","web_url":"https://gitlab.com/codecov"},"created_at":"2018-11-02T05:25:09.363Z","updated_at":"2018-11-02T05:25:09.363Z","system":false,"noteable_id":59639,"noteable_type":"MergeRequest","resolvable":false,"noteable_iid":1}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Fri, 02 Nov 2018 05:25:09 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['471']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"4ccd7068de297e4b5bdfe42cd5b92d44"]
    - !!python/tuple
      - Vary
      - [Origin]
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Request-Id
      - [954546f5-a0dd-45c8-824a-6b2da06773f0]
    - !!python/tuple
      - X-Runtime
      - ['0.103485']
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000]
    - !!python/tuple
      - Ratelimit-Limit
      - ['600']
    - !!python/tuple
      - Ratelimit-Observed
      - ['2']
    - !!python/tuple
      - Ratelimit-Remaining
      - ['598']
    - !!python/tuple
      - Ratelimit-Reset
      - ['1541136369']
    - !!python/tuple
      - Ratelimit-Resettime
      - ['Sat, 02 Nov 2018 05:26:09 GMT']
    status: {code: 201, message: Created}
    url: https://gitlab.com/api/v4/projects/187725/merge_requests/1/notes
version: 1
