interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=master&path=folder
  response:
    body:
      string: '[{"id":"3b18e512dba79e4c8300dd08aeb37f8e728b8dad","name":"hello-world.txt","type":"blob","path":"folder/hello-world.txt","mode":"100644"}]'
    headers:
    - !!python/tuple
      - Server
      - - nginx
    - !!python/tuple
      - Date
      - - Fri, 06 Mar 2020 22:10:36 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '138'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Cache-Control
      - - max-age=0, private, must-revalidate
    - !!python/tuple
      - Etag
      - - W/"46598bb942924146ec4836f29516[...]
