interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/commits/c739768fcac68144a3a6d82305b9c4106934d31a/diff
  response:
    body: {string: '[{"old_path":"README.md","new_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"diff":"@@
        -1,5 +1,15 @@\n-### Example\n+### CI Testing\n \n-\u003e This repo is used
        for CI Testing. Enjoy this gif as a reward!\n+\u003e This repo is used for
        CI Testing\n+\n+\n+| [https://codecov.io/][1] | [@codecov][2] | [hello@codecov.io][3]
        |\n+| ------------------------ | ------------- | --------------------- |\n+\n+-----\n+\n+\n+[1]:
        https://codecov.io/\n+[2]: https://twitter.com/codecov\n+[3]: mailto:hello@codecov.io\n
        \n-![i can do that](http://gph.is/17cvPc4)\n"}]'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Mon, 05 Nov 2018 20:01:29 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['622']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache[...]
