interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=4
  response:
    content: '[{"id":5608536,"web_url":"https://gitlab.com/groups/bevera","name":"Bevera","path":"bevera","description":"Bevera
      Code and Issues.","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":false,"full_name":"Bevera","full_path":"bevera","created_at":"2019-07-10T15:34:43.654Z","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":4037482,"web_url":"https://gitlab.com/groups/codecov-organization","name":"Codecov
      Organization","path":"codecov-organization","description":"Codecov organizational
      and private repos group. ","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=4&page=2
  response:
    content: '[{"id":4165905,"web_url":"https://gitlab.com/groups/l00p_group_1/subgroup1","name":"subgroup1","path":"subgroup1","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=4&page=3
  response:
    content: '[{"id":6571432,"web_url":"https://gitlab.com/groups/codecov-organization/test-subgroup-2","name":"test-subgroup-2","path":"test-subgroup-2","description":"Another
      test subgroup to ensure codecov''s API integration works properly. ","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"maintainer","emails_disabled":null,"mentions_disabled":null,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":true,"full_name":"Codecov
      Organization / test-subgroup-2","full_path":"codecov-organization/test-subgroup-2","created_at":"2019-11-20T18:13:04.288Z","parent_id":4037482,"ldap_cn":null,"ldap_access":null}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d51978c34d33a958de3361d265b3132e"
      GitLab-LB:
      - fe-11-lb-gprd
      GitLab-SV:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=2&per_page=4&sort=asc&statistics=false&with_custom_attributes=false>;
        rel="prev", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=4&sort=asc&statistics=false&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=3&per_page=4&sort=asc&statistics=false&with_custom_attributes=false>;
        rel="last"
      RateLimit-Limit:
      - '2000'
      RateLimit-Observed:
      - '3'
      RateLimit-Remaining:
      - '1997'
      RateLimit-Reset:
      - '1611950520'
      RateLimit-ResetTime:
      - Fri, 29 Jan 2021 20:02:00 GMT
      X-Gitlab-Feature-Category:
      - subgroups
      X-Next-Page:
      - ''
      X-Page:
      - '3'
      X-Per-Page:
      - '4'
      X-Prev-Page:
      - '2'
      X-Total:
      - '9'
      X-Total-Pages:
      - '3'
    status_code: 200
version: 1
