interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/tree?ref=master
  response:
    body: {string: '[{"id":"1da1ddbfe1ed846f7493964bf489754e464eef64","name":"folder","type":"tree","path":"folder","mode":"040000"},{"id":"c77cff04774d6debf9f8f645323fbe1cea368692","name":".gitignore","type":"blob","path":".gitignore","mode":"100644"},{"id":"321cc67810818865affe8f6bac28f50d3c0a761c","name":".travis.yml","type":"blob","path":".travis.yml","mode":"100644"},{"id":"7974a2260a70aab9ce8ae581fba307c6d448c468","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"c6b04a8c4a6bd3f8c12e65c7ad3ac759166298dd","name":"large.md","type":"blob","path":"large.md","mode":"100644"},{"id":"478e151[...]
