beautifulsoup4
coverage>=7.3.2
factory-boy
freezegun>=1.5.1
httpx>=0.23.0
mock
psycopg2
pytest-asyncio
pytest-cov
pytest-django
pytest-mock
pytest>=7.2.0
pyyaml>=6.0.1
requests>=2.32.0
respx>=0.19.2
urllib3==1.26.19
vcrpy>=5.0.0
