interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commits?include=6ae5f17&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1568980339&oauth_nonce=1dcb7a2eedd544b395184b18231388a8&oauth_version=1.0&oauth_signature=XdUUtgGHNy2XcsbYlW%2Ftq3Od4qo%3D
  response:
    content: "{\"pagelen\": 30, \"values\": [{\"rendered\": {\"message\": {\"raw\"\
      : \"Update README.rst\", \"markup\": \"markdown\", \"html\": \"<p>Update README.rst</p>\"\
      , \"type\": \"rendered\"}}, \"hash\": \"6ae5f1795a441884ed2847bb31154814ac01ef38\"\
      , \"repository\": {\"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python\"\
      }, \"avatar\": {\"href\": \"https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default\"\
      }}, \"type\": \"repository\", \"name\": \"example-python\", \"full_name\": \"\
      ThiagoCodecov/example-python\", \"uuid\": \"{a8c50527-2c3a-480e-afe1-7700e2b00074}\"\
      }, \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6ae5f1795a441884ed2847bb31154814ac01ef38\"\
      }, \"comments\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6ae5f1795a441884ed2847bb31154814ac01ef38/comments\"\
      }, \"patch\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/6ae5f1795a441884ed2847bb31154814ac01ef38\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python/commits/6ae5f1795a441884ed2847bb31154814ac01ef38\"\
      }, \"diff\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/6ae5f1795a441884ed2847bb31154814ac01ef38\"\
      }, \"approve\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6ae5f1795a441884ed2847bb31154814ac01ef38/approve\"\
      }, \"statuses\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6ae5f1795a441884ed2847bb31154814ac01ef38/statuses\"\
      }}, \"author\": {\"raw\": \"Thomas Pedbereznak <tom@tomped.com>\", \"type\"\
      : \"author\"}, \"summary\": {\"raw\": \"Update README.rst\", \"markup\": \"\
      markdown\", \"html\": \"<p>Update README.rst</p>\", \"type\": \"rendered\"},\
      \ \"parents\": [{\"hash\": \"8631ea09b9b689de0a348d5abf70bdd7273d2ae3\", \"\
      type\": \"commit\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/8631ea09b9b689de0a348d5abf70bdd7273d2ae3\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python/commits/8631ea09b9b689de0a348d5abf70bdd7273d2ae3\"\
      }}}], \"date\": \"2018-04-26T08:35:58+00:00\", \"message\": \"Update README.rst\"\
      , \"type\": \"commit\"}, {\"rendered\": {\"message\": {\"raw\": \"Merge pull\
      \ request #31 from Gabswim/fix/typo\\n\\nfixing a typo in the README\", \"markup\"\
      : \"markdown\", \"html\": \"<p>Merge pull request #31 from Gabswim/fix/typo</p>\\\
      n<p>fixing a typo in the README</p>\", \"type\": \"rendered\"}}, \"hash\": \"\
      8631ea09b9b689de0a348d5abf70bdd7273d2ae3\", \"repository\": {\"links\": {\"\
 [...]
