interactions:
- request:
    body: '{"description": "a", "active": true, "events": ["repo:push", "issue:created"],
      "url": "http://requestbin.net/r/1ecyaj51"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/hooks?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541601947&oauth_nonce=98405099cd3342b78c37278e1fed4597&oauth_version=1.0&oauth_signature=HpuNydAXNpJ0uUjTpX%2FDsUqiEUI%3D
  response:
    content: '{"read_only": null, "description": "a", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/hooks/%7B4742f092-8397-4677-8876-5e9a06f10f98%7D"}},
      "url": "http://requestbin.net/r/1ecyaj51", "created_at": "2018-11-07T14:45:47.900077Z",
      "skip_cert_verification": false, "source": null, "history_enabled": false, "active":
      true, "subject": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
      "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "type": "webhook_subscription",
      "events": ["issue:created", "repo:push"], "uuid": "{4742f092-8397-4677-8876-5e9a06f10f98}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fba5aa7d407b28aa12eff544ee2c38fe"'
      Location:
      - https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/hooks/%7B4742f092-8397-4677-8876-5e9a06f10f98%7D
      X-Accepted-Oauth-Scopes:
      - webhook
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Render-Time:
      - '0.184465885162'
      X-Request-Count:
      - '295'
      X-Static-Version:
      - 1f6d684e3c29
      X-Version:
      - 1f6d684e3c29
    status:
      code: 201
      message: CREATED
    status_code: 201
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/hooks?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541601947&oauth_nonce=98405099cd3342b78c37278e1fed4597&oauth_version=1.0&oauth_signature=HpuNydAXNpJ0uUjTpX%2FDsUqiEUI%3D
version: 1
