interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/repositories?page=1&oauth_consumer_key=test51hdmhalc053rb&oauth_token=testm0141jl7b6ux9l&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1574530963&oauth_nonce=61c6c9bd8ae74a28b32148ddd1297e16&oauth_version=1.0&oauth_signature=dyDNhaDGwSRnymGpVGtBJ9dl6NA%3D
  response:
    body:
      string: '{"pagelen": 10, "values": [{"type": "repository_permission", "user":
        {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
        "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
        "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
        "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo"},
        "html": {"href": "https://bitbucket.org/codecov/ci-repo"}, "avatar": {"href":
        "https://bytebucket.org/ravatar/%7Ba980e378-088f-48a8-9850-98923f497546%7D?ts=default"}},
        "type": "repository", "name": "ci-repo", "full_name": "codecov/ci-repo", "uuid":
        "{a980e378-088f-48a8-9850-98923f497546}"}, "permission": "admin"}, {"type":
        "repository_permission", "user": {"display_name": "Thiago Ramos", "uuid":
        "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
        "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
        "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
        "nickname": "t[...]
