interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/codecov?oauth_nonce=4f5ef91295974e429927bc84aec888e8&oauth_timestamp=1574056637&oauth_consumer_key=arubajamaicaohiwan&oauth_signature_method=HMAC-SHA1&oauth_version=1.0&oauth_token=testss3hxhcfqf1h6g&oauth_signature=wJlFcH5fZCsKE9iBZi0ELNQpHAQ%3D&page=1
  response:
    content: '{"pagelen": 10, "values": [{"scm": "git", "website": "", "has_wiki":
      false, "uuid": "{a980e378-088f-48a8-9850-98923f497546}", "links": {"watchers":
      {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/watchers"},
      "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/refs/branches"},
      "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/refs/tags"},
      "commits": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/commits"},
      "clone": [{"href": "https://ThiagoCodecov@bitbucket.org/codecov/ci-repo.git",
      "name": "https"}, {"href": "git@bitbucket.org:codecov/ci-repo.git", "name":
      "ssh"}], "self": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo"},
      "source": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/src"},
      "html": {"href": "https://bitbucket.org/codecov/ci-repo"}, "avatar": {"href":
      "https://bytebucket.org/ravatar/%7Ba980e378-088f-48a8-9850-98923f497546%7D?ts=default"},
      "hooks": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/hooks"},
      "forks": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/forks"},
      "downloads": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/downloads"},
      "issues": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/issues"},
      "pullrequests": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/ci-repo/pullrequests"}},
      "fork_policy": "allow_forks", "name": "ci-repo", "project": {"key": "PROJ",
      "type": "project", "uuid": "{5bdda146-54b5-4afc-95cf-17d09df45d16}", "links":
      {"self": {"href": "https://bitbucket.org/!api/2.0/teams/codecov/projects/PROJ"},
      "html": {"href": "https://bitbucket.org/account/user/codecov/projects/PROJ"},
      "avatar": {"href": "https://bitbucket.org/account/user/codecov/projects/PROJ/avatar/32"}},
      "name": "Untitled project"}, "language": "", "created_on": "2014-09-22T00:31:02.553308+00:00",
      "mainbranch": {"type": "branch", "name": "main"}, "full_name": "codecov/ci-repo",
      "has_issues": true, "owner": {"username": "codecov", "display_name": "Codecov",
      "type": "team", "uuid": "{6ef29b63-aaaa-aaaa-aaaa-aaaa03f5cd49}", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/teams/%7B6ef29b63-aaaa-aaaa-aaaa-aaaa03f5cd49%7D"},
      "html": {"href": "https://bitbucket.org/%7B6ef29b63-aaaa-aaaa-aaaa-aaaa03f5cd49%7D/"},
      "avatar": {"href": "https://bitbucket.org/account/codecov/avatar/"}}}, "updated_on":
      "2016-08-22T13:01:12.956929+00:00", "size": 161832, "type": "repository", "slug":
      "ci-repo", "is_private": false, "description": "for ci testing"}, {"scm": "git",
      "website": "", "has_wiki": false, "uuid": "{3edf54ab-cfe4-4049-aa70-5eb9f69f60d4}",
      "links": {"watchers": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/private/watchers"},
      "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/private/refs/branches"},
      "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/codecov/private/refs/tags"},
      "commits": {"href": "https://bitbucket.org/!api/2.0/repos[...]
