interactions:
- request:
    body: '{"content": {"raw": "Hello world number 2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/comments/113979999?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1566631150&oauth_nonce=5aeac543acea436d9f0594d750a98dd3&oauth_version=1.0&oauth_signature=16DIGrfTGyeo8k90tViVI%2BcqBPw%3D
  response:
    content: '{"type": "error", "error": {"message": "113979999"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f30cdf4645cc1f60db842d167b97cab5"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Reads-Before-Write-From:
      - default
      X-Render-Time:
      - '0.0458209514618'
      X-Request-Count:
      - '614'
      X-Static-Version:
      - 4973dbe55bef
      X-Version:
      - 4973dbe55bef
    status:
      code: 404
      message: Not Found
    status_code: 404
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/comments/113979999?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1566631150&oauth_nonce=5aeac543acea436d9f0594d750a98dd3&oauth_version=1.0&oauth_signature=16DIGrfTGyeo8k90tViVI%2BcqBPw%3D
version: 1
