interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/workspaces?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1617378454&oauth_nonce=d5ecf457da8d41be901fbc20c12fa5ff&oauth_version=1.0&oauth_signature=e%2BxL5oewcKsMyDq%2Fxf8v3F6LyC8%3D
  response:
    content: '{"pagelen": 50, "values": [{"links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramostestnumbar3/members/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"}},
      "permission": "member", "last_accessed": null, "user": {"display_name": "Thiago
      Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
      "workspace": {"slug": "thiagorramostestnumbar3", "type": "workspace", "name":
      "thiagorramostestnumbar3", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramostestnumbar3"},
      "html": {"href": "https://bitbucket.org/thiagorramostestnumbar3/"}, "avatar":
      {"href": "https://bitbucket.org/workspaces/thiagorramostestnumbar3/avatar/?ts=1617373497"}},
      "uuid": "{d7c73e87-90ab-450f-bb5f-39e6a5870456}"}, "type": "workspace_membership",
      "added_on": "2021-04-02T14:25:58.600"}, {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramostest2/members/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"}},
      "permission": "collaborator", "last_accessed": null, "user": {"display_name":
      "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f[...]
