interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/teams?oauth_nonce=846a3fc8b7b7466bb8f94a473bd4dcfc&oauth_timestamp=1561677194&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1&q=team.uuid%3D%22%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D%22&oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_signature=1tzkPOkBx4tlnWFfdwVoRR8eLTo%3D
  response:
    content: '{"pagelen": 10, "values": [{"permission": "admin", "type": "team_permission",
      "user": {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
      "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5bce04c759d0e84f8c7555e9/83eddf7b-6307-4b37-a193-a855cc683bc5/128"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
      "team": {"username": "codecov", "display_name": "Codecov", "type": "team", "uuid":
      "{6ef29b63-1288-4ceb-8dfc-af2c03f5cd49}", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/teams/%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D"},
      "html": {"href": "https://bitbucket.org/%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D/"},
      "avatar": {"href": "https://bitbucket.org/account/codecov/avatar/"}}}}], "page":
      1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[865c8f863378f373153c089e4a0f25c9]"'
      X-Accepted-Oauth-Scopes:
      - account
      X-Consumed-Content-Encoding:
      - gzip
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Render-Time:
      - '0.0571191310883'
      X-Request-Count:
      - '40'
      X-Static-Version:
      - d664982621c0
      X-Version:
      - d664982621c0
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://bitbucket.org/api/2.0/user/permissions/teams?oauth_nonce=846a3fc8b7b7466bb8f94a473bd4dcfc&oauth_timestamp=1561677194&oauth_consumer_key=test51hdmhalc053rb&oauth_signature_method=HMAC-SHA1&q=team.uuid%3D%22%7B6ef29b63-1288-4ceb-8dfc-af2c03f5cd49%7D%22&oauth_version=1.0&oauth_token=testm0141jl7b6ux9l&oauth_signature=1tzkPOkBx4tlnWFfdwVoRR8eLTo%3D
version: 1
