interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541516658&oauth_nonce=6cd9584e29ab4fb7943788f0f4863ba0&oauth_version=1.0&oauth_signature=ITTWRg%2FnBwMS4lmOIdvDMVtKQKQ%3D
  response:
    content: '{"scm": "git", "website": "", "has_wiki": false, "name": "example-python",
      "links": {"watchers": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/watchers"},
      "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/branches"},
      "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/tags"},
      "commits": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commits"},
      "clone": [{"href": "https://ThiagoCodecov@bitbucket.org/ThiagoCodecov/example-python.git",
      "name": "https"}, {"href": "git@bitbucket.org:ThiagoCodecov/example-python.git",
      "name": "ssh"}], "self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "source": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/src"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"},
      "hooks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/hooks"},
      "forks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/forks"},
      "downloads": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/downloads"},
      "pullrequests": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests"}},
      "fork_policy": "no_public_forks", "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}",
      "language": "", "created_on": "2018-11-06T12:53:06.587605+00:00", "mainbranch":
      {"type": "branch", "name": "main"}, "full_name": "ThiagoCodecov/example-python",
      "has_issues": false, "owner": {"username": "ThiagoCodecov", "display_name":
      "Thiago Ramos", "account_id": "5bce04c759d0e84f8c7555e9", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/users/ThiagoCodecov"}, "html": {"href":
      "https://bitbucket.org/ThiagoCodecov/"}, "avatar": {"href": "https://bitbucket.org/account/ThiagoCodecov/avatar/"}},
      "nickname": "ThiagoCodecov", "type": "user", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}"},
      "updated_on": "2018-11-06T12:53:06.821726+00:00", "size": 111786, "type": "repository",
      "slug": "example-python", "is_private": true, "description": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[ccc2bf429b8eeff900ae72a454290701]"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Consumed-Content-Encoding:
      - gzip
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Render-Time:
      - '0.0547559261322'
      X-Request-Count:
      - '34'
      X-Static-Version:
      - 4ea3c9800ace
      X-Version:
      - 4ea3c9800ace
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541516658&oauth_nonce=6cd9584e29ab4fb7943788f0f4863ba0&oauth_version=1.0&oauth_signature=ITTWRg%2FnBwMS4lmOIdvDMVtKQKQ%3D
version: 1
