interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/commits?oauth_consumer_key=test51hdmhalc053rb&oauth_token=testm0141jl7b6ux9l&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1557329523&oauth_nonce=8a1e01a50d7a4652b0fb66154494e464&oauth_version=1.0&oauth_signature=8Owtyk%2B%2BfFJ9ZcOdPBnT1OCgN%2Bo%3D
  response:
    body: {string: '{"pagelen": 10, "values": [{"hash": "3017d534ab41e217bdf34d4c615fb355b0081f4b",
        "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
        {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
        "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
        "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "links": {"self": {"href":
        "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d534ab41e217bdf34d4c615fb355b0081f4b"},
        "comments": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d534ab41e217bdf34d4c615fb355b0081f4b/comments"},
        "patch": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/3017d534ab41e217bdf34d4c615fb355b0081f4b"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/3017d534ab41e217bdf34d4c615fb355b0081f4b"},
        "diff": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/3017d534ab41e217bdf34d4c615fb355b0081f4b"},
        "approve": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d534ab41e217bdf34d4c615fb355b0081f4b/approve"},
        "statuses": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d534ab41e217bdf34d4c615fb355b0081f4b/statuses"}},
        "author": {"raw": "Thiago Ribeiro Ramos <thiago@ribeiroramos.com>", "type":
        "author"}, "summary": {"raw": "Creating second branch :happy:\n", "markup":
        "markdown", "html": "<p>Creating second branch :happy:</p>", "type": "rendered"},
        "parents": [{"hash": "b92edba44fdd29fcc506317cc3ddeae1a723dd08", "type": "commit",
        "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/b92edba44fdd29fcc506317cc3ddeae1a723dd08"},
        "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/b92edba44fdd29fcc506317cc3ddeae1a723dd08"}}}],
        "date": "2018-11-06T15:42:45+00:00", "message": "Creating second branch :happy:\n",
        "type": "commit"}], "page": 1}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Vary
      - ['Authorization, Accept-Encoding']
    - !!python/tuple
      - Cache-Control
      - [max-age=900]
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - X-Oauth-Scopes
      - ['pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
          repository:delete, repository:admin, project:write, team:w[...]
