interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/repositories?q=repository.full_name%3D%22ThiagoCodecov%2Fexample-python%22+AND+%28permission%3D%22admin%22+OR+permission%3D%22write%22%29&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1617377623&oauth_nonce=ac91652521bc4867af3ec36b448a016c&oauth_version=1.0&oauth_signature=BQrCWoBGobnzvY0aRJ51OBJqyPk%3D
  response:
    content: '{"pagelen": 10, "values": [{"type": "repository_permission", "user":
      {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
      "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
      "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
      "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "permission": "admin"}],
      "page": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"gz[c9c7af06f5a4a68dbe39014c421666a3]"'
      X-Accepted-OAuth-Scopes:
      - account, repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0605049133301'
      X-Request-Count:
      - '23'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
version: 1
