interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d53/statuses?page=1&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541600748&oauth_nonce=72e42ab0da7143a0ab3a7a6a9dad659f&oauth_version=1.0&oauth_signature=x9HN6uts0FTPXJp%2BwnFIRb99nPU%3D
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Render-Time:
      - '0.128561019897'
      X-Request-Count:
      - '267'
      X-Static-Version:
      - 1f6d684e3c29
      X-Version:
      - 1f6d684e3c29
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d53/statuses?page=1&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541600748&oauth_nonce=72e42ab0da7143a0ab3a7a6a9dad659f&oauth_version=1.0&oauth_signature=x9HN6uts0FTPXJp%2BwnFIRb99nPU%3D
version: 1
