interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/commits?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1557330116&oauth_nonce=3a21bf1970bd4e85830de3519e931ea1&oauth_version=1.0&oauth_signature=7kTJV1LCOK1AVDDahsDfcEgPdNs%3D
  response:
    content: '{"pagelen": 10, "values": [{"hash": "f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04",
      "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
      "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "links": {"self": {"href":
      "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04"},
      "comments": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04/comments"},
      "patch": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04"},
      "diff": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04"},
      "approve": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04/approve"},
      "statuses": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/f8a26b4c1bf8eef0bc3aeeb0b23f74f4b96a7d04/statuses"}},
      "author": {"raw": "Thiago Ramos <thiago@codecov.io>", "type": "author", "user":
      {"username": "ThiagoCodecov", "display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
      "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/ThiagoCodecov"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/"}, "avatar": {"href":
      "https://avatar-cdn.atlassian.com/5bce04c759d0e84f8c7555e9?by=id&d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FT-6.svg"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"}},
      "summary": {"raw": "Message 11\n", "markup": "markdown", "html": "<p>Message
      11</p>", "type": "rendered"}, "parents": [{"hash": "d3bedda462a79fafe4f5dfdb0ecf710f558e6aab",
      "type": "commit", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/d3bedda462a79fafe4f5dfdb0ecf710f558e6aab"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/d3bedda462a79fafe4f5dfdb0ecf710f558e6aab"}}}],
      "date": "2019-05-08T15:35:56+00:00", "message": "Message 11\n", "type": "commit"},
      {"hash": "d3bedda462a79fafe4f5dfdb0ecf710f558e6aab", "repository": {"links":
      {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/examp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/commits?page=8xhd&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1557330116&oauth_nonce=09f75b95d13247bfb56fb579bcc6deab&oauth_version=1.0&oauth_signature=%2Bawwc%2F%2FfMR9Vr6YRo9rV5zZUxME%3D
  response:
    content: '{"pagelen": 10, "values": [{"hash": "266e6b98f88847c8c4b6e8c[...]
