interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests?state=OPEN&page=1&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541519414&oauth_nonce=081105162122405c8c0492a0e5a9b8ad&oauth_version=1.0&oauth_signature=ftblvicG7qWmUdyWojB17tbwaWI%3D
  response:
    content: "{\"pagelen\": 10, \"values\": [{\"description\": \"Maybeeeeee\\r\\n\\\
      r\\nYou\u2019re gonna be the one that saves meeee\", \"links\": {\"decline\"\
      : {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/decline\"\
      }, \"commits\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/commits\"\
      }, \"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1\"\
      }, \"comments\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/comments\"\
      }, \"merge\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/merge\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python/pull-requests/1\"\
      }, \"activity\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/activity\"\
      }, \"diff\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/diff\"\
      }, \"approve\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/approve\"\
      }, \"statuses\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests/1/statuses\"\
      }}, \"title\": \"Hahaa That is a PR\", \"close_source_branch\": true, \"type\"\
      : \"pullrequest\", \"id\": 1, \"destination\": {\"commit\": {\"hash\": \"b92edba44fdd\"\
      , \"type\": \"commit\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/b92edba44fdd\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python/commits/b92edba44fdd\"\
      }}}, \"repository\": {\"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python\"\
      }, \"avatar\": {\"href\": \"https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default\"\
      }}, \"type\": \"repository\", \"name\": \"example-python\", \"full_name\": \"\
      ThiagoCodecov/example-python\", \"uuid\": \"{a8c50527-2c3a-480e-afe1-7700e2b00074}\"\
      }, \"branch\": {\"name\": \"main\"}}, \"created_on\": \"2018-11-06T15:43:55.296636+00:00\"\
      , \"summary\": {\"raw\": \"Maybeeeeee\\r\\n\\r\\nYou\u2019re gonna be the one\
      \ that saves meeee\", \"markup\": \"markdown\", \"html\": \"<p>Maybeeeeee</p>\\\
      n<p>You\u2019re gonna be the one that saves meeee</p>\", \"type\": \"rendered\"\
      }, \"source\": {\"commit\": {\"hash\": \"3017d534ab41\", \"type\": \"commit\"\
      , \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/3017d534ab41\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python/commits/3017d534ab41\"\
      }}}, \"repository\": {\"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python\"\
      }, \"html\": {\"href\": \"https://bitbucket.org/ThiagoCodecov/example-python\"\
      }, \"avatar\": {\"href\": \"https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default\"\
      }}, \"type\": \"repository\", \"name\": \"example-python\", \"full_name\": \"\
      ThiagoCodecov/example-python\", \"uuid\": \"{a8c50527-2c3a-480e-afe1-7700e2b00074}\"\
      }, \"branch\": {\"name\": \"second-branch\"}}, \"comment_count\": 0, \"state\"\
      : \"OPEN\", \"task_count\": 0, \"reason\": \"\", \"updated_on\": \"2018-11-06T15:43:55.494768+00:00\"\
      , \"author\": {\"username\": \"ThiagoCodecov\", \"display_name\": \"Thiago Ramos\"\
      , \"account_id\": \"5bce04c759d0e84f8c7555e9\", \"links\": {\"self\": {\"href\"\
      : \"https://bitbucket.org/!api/2.0/users/ThiagoCodecov\"}, \"html\": {\"href\"\
      : \"https://bitbucket.org/ThiagoCodecov/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/ThiagoCodecov/avatar/\"\
      }}, \"nickname\": \"ThiagoCodecov\", \"type\": \"user\", \"uuid\": \"{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}\"\
      }, \"merge_commit\": null, \"closed_by\": null}], \"page\": 1, \"size\": 1}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[aa7d456d1d2dd9f8c83721240d0abf73]"'
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Consumed-Content-Encoding:
      - gzip
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Render-Time:
      - '0.107109069824'
      X-Request-Count:
      - '238'
      X-Static-Version:
      - 4ea3c9800ace
      X-Version:
      - 4ea3c9800ace
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/pullrequests?state=OPEN&page=1&oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1541519414&oauth_nonce=081105162122405c8c0492a0e5a9b8ad&oauth_version=1.0&oauth_signature=ftblvicG7qWmUdyWojB17tbwaWI%3D
version: 1
