interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/refs/branches?oauth_nonce=68196bfc35d5473cba07ec92748644c1&oauth_timestamp=1561674319&oauth_consumer_key=arubajamaicaohiwan&oauth_signature_method=HMAC-SHA1&oauth_version=1.0&oauth_token=testss3hxhcfqf1h6g&oauth_signature=7%2BIvkm9uQV%2FozMt2tOdrE4Hf5dY%3D&pagelen=100
  response:
    content: '{"pagelen": 100, "values": [{"name": "f/new-branch", "links": {"commits":
      {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commits/f/new-branch"},
      "self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/branches/f/new-branch"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/branch/f/new-branch"}},
      "default_merge_strategy": "merge_commit", "merge_strategies": ["merge_commit",
      "squash", "fast_forward"], "type": "branch", "target": {"hash": "806c7e9f67dd1a84218f74d5c45d046d99ecf440",
      "repository": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
      "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "links": {"self": {"href":
      "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/806c7e9f67dd1a84218f74d5c45d046d99ecf440"},
      "comments": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/806c7e9f67dd1a84218f74d5c45d046d99ecf440/comments"},
      "patch": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/806c7e9f67dd1a84218f74d5c45d046d99ecf440"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/806c7e9f67dd1a84218f74d5c45d046d99ecf440"},
      "diff": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/806c7e9f67dd1a84218f74d5c45d046d99ecf440"},
      "approve": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/806c7e9f67dd1a84218f74d5c45d046d99ecf440/approve"},
      "statuses": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/806c7e9f67dd1a84218f74d5c45d046d99ecf440/statuses"}},
      "author": {"raw": "Thiago Ramos <thiago@codecov.io>", "type": "author", "user":
      {"display_name": "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}",
      "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5bce04c759d0e84f8c7555e9/83eddf7b-6307-4b37-a193-a855cc683bc5/128"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"}},
      "parents": [{"hash": "44542c3afa4c75963f60e9424e87fc40ee503864", "type": "commit",
      "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/44542c3afa4c75963f60e9424e87fc40ee503864"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/44542c3afa4c75963f60e9424e87fc40ee503864"}}}],
      "date": "2019-03-13T14:09:07+00:00", "message": "New branch\n", "type": "commit"}},
      {"name": "main", "links": {"commits": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commits/main"},
      "self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/branches/main"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/branch/main"}},
      "default_merge_strategy": "merge_commit", "merge_strategies": ["merge_commit",
      "squash", "fast_for[...]
