interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/user/permissions/workspaces?oauth_consumer_key=arubajamaicaohiwan&oauth_token=testss3hxhcfqf1h6g&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1617378487&oauth_nonce=fe94e338b0294054a6973e26fba8b158&oauth_version=1.0&oauth_signature=fuzvRwiZHcRKdYQdU2yvGg9jhnw%3D
  response:
    content: '{"pagelen": 50, "values": [{"links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramosworkspace/members/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"}},
      "permission": "owner", "last_accessed": null, "user": {"display_name": "Thiago
      Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
      "workspace": {"slug": "thiagorramosworkspace", "type": "workspace", "name":
      "ThiagoRRamosworkspace", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramosworkspace"},
      "html": {"href": "https://bitbucket.org/thiagorramosworkspace/"}, "avatar":
      {"href": "https://bitbucket.org/workspaces/thiagorramosworkspace/avatar/?ts=1617373144"}},
      "uuid": "{727d78e8-7431-4532-9519-1e5fe2b61d4b}"}, "type": "workspace_membership",
      "added_on": "2021-04-02T14:20:48.179"}], "page": 1, "size": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"gz[b1d58debfe044b8d21db575b63d35843]"'
      X-Accepted-OAuth-Scopes:
      - account
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0563180446625'
      X-Request-Count:
      - '4490'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
version: 1
